<section class="contents ready" data-ng-controller="signController" data-ng-init="init()">

<div class="row">
<div ng-bind-html="aboutus" class="content-box" style="{{aboutusbgcolor}}"></div>


</div>
</section>