<section ng-controller="addClientController" data-ng-init="initData()"> &nbsp;
    <section ng-include="'/modules/controller/views/top-header.client.view.html'"></section> &nbsp;
    <style>
        .ngdialog-content {
            width: 96%;
        }
        .ngdialog-overlay {
            scroll-behavior: smooth;
        }
    </style>
    <script type="text/ng-template" id="custom-datepicker.html">
        <div class="enhanced-datepicker">
            <div class="proxied-field-wrap">
                <input class="form-control" type="text" ui-date-format="mm/dd/yy" ng-model="ngModel" ui-date="dateOptions" />
                <button class="icon-calendar" type="button"></button>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="modalDialogId">
        <div class="ngdialog-message">
            <h3>Email Id Already Exist</h3>
            <p>Given Email Id is already registered. Cards will be automatically added to the account under this email id</p>
        </div>
        <div class="ngdialog-buttons">
            <input type="hidden" ng-model="confirmValue" value="yes">
            <button type="button" ng-model="yes" class="ngdialog-button ngdialog-button-primary" ng-click=confirm( "yes")>Yes</button>
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click=closeThisDialog( 'no')>No</button>
        </div>
    </script>
    <script type="text/ng-template" id="pdfShowModal">
        <div style="width:100%;height:600px">
            <iframe style="width:100%;height:600px" src="{{file}}"></iframe>
        </div>
    </script>
    <script type="text/ng-template" id="imageShowModal">
        <div style="width:100%;height:600px"> <img style="width:100%;height:600px" src="{{file}}" /> </div>
    </script>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="error-msg" style="text-align:center"> <i>{{passwordresetmsg}}</i> <i>{{errormsg}}</i><i>{{pendmsg}}</i> </div>
        </div>
    </div>
    <div class="row" ng-if="firstpart">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-red tab-noradious"> Business Unit Registration </div>
                </div>
            </div>
            <br>
            <!--Phone Details Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green tab-noradious"> Primary Details </div>
                </div>
            </div>
            <br/>
            <form name="clientForm">
                <div class="row color-white">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-2 bold">Effective Date:</div>
                        <div class="col-lg-2">
                            <input type="text" class="datebox" data-ng-model="formdata.user.eff_date" data-ng-date /> </div>
                        <div class="col-lg-2 bold">End Date:</div>
                        <div class="col-lg-2">
                            <input lower-than="{{formdata.user.eff_date}}" class="datebox" type="text" ng-model="formdata.user.end_date" value="{{formdata.user.end_date |date:'MM/dd/yyyy'}}" data-ng-date='formdata.user.end_date' />
                        </div>
                        <div class="col-lg-2 bold">Update Date:</div>
                        <div class="col-lg-2">
                            <input class="form-control" ng-disabled="true" ng-model="formdata.user.upd_date" type="text" value="{{formdata.user.upd_date}}" />
                        </div>
                    </div>
                </div>
                <br/>
                <!--Business Unit Name-->
                <div class="row color-white">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-3 col-md-3 col-sm-3 bold"> Business Unit Name <span class="asterisk"></span> </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <input class="form-control" type="text" ng-model="formdata.department.name" ng-required='true' ng-maxlength="40" /> </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="col-lg-3 col-md-3 col-sm-3 bold"> Tax Id <span class="asterisk"></span> </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <input class="form-control" type="text" ng-required='true' ng-model="formdata.user.taxid" /> </div>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="row">
                    <br/>
                </div>
                <!--Owners Name-->
                <div class="row color-white">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-3 col-md-3 col-sm-3 bold"> Owners Name(s) <span class="asterisk"></span> </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-ng-repeat="name in formdata.department.ownernames" style="margin-bottom:10px;">
                                    <input class="form-control" ng-required='true' data-ng-model="name.name" type="text"> <span class="btn-cross1"><button class="btn btn-danger btn-xs  ng-scope" title="Delete" ng-if="formdata.department.ownernames.length >=2" data-ng-click="removeName($event,name)"><i class="fa fa-times"></i></button></span> </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <button class="btn btn-success bold bg-btn" data-ng-click="addOwnerNames($event)">Add More</button>
                        </div>
                    </div>
                </div>
                <!--Select Category Block Start-->
                <div class="row color-white">
                    <div class="col-lg-12">
                        <div class="col-lg-3 bold"> Select Category </div>
                        <div class="col-lg-3">
                            <select name="category" class="form-control" data-ng-model="formdata.user.category" ng-options="category.name for category in categories   | orderBy:'name' track by category.name " data-ng-change="getStates()">
                                <option value="">--- Select Category ---</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--End-->
                <br/>
                <!--Address Detail Block Start-->
                <!--Phone Details Block-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="long-box-head-green  tab-noradious bold"> Address Details </div>
                    </div>
                </div>
                <br/>
                <!--Adress Line 1-->
                <div class="row color-white">
                    <div class="col-lg-12">
                        <div class="col-lg-3 bold"> Address Line 1<span class="asterisk"></span> </div>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" ng-required='true' ng-model="formdata.user.addressline1" /> </div>
                    </div>
                </div>
                <!---->&nbsp;
                <!--Adress Line 2-->
                <div class="row color-white">
                    <div class="col-lg-12">
                        <div class="col-lg-3 bold"> Address Line 2 </div>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" ng-model="formdata.user.addressline2" /> </div>
                    </div>
                </div>
                <!---->&nbsp;
                <!--Adress Line 3-->
                <div class="row color-white">
                    <div class="col-lg-12">
                        <div class="col-lg-3 bold"> Address Line 3 </div>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" ng-model="formdata.user.addressline3" /> </div>
                    </div>
                </div>
                <!---->&nbsp;
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="error-msg" style="text-align:center"> <i>{{staterror}}</i> </div>
                    </div>
                </div>
                <!--States-->
                <div class="row color-white">
                    <div class="col-lg-12">
                        <div class="col-lg-3 bold"> States<span class="asterisk"></span> </div>
                        <div class="col-lg-3">
                            <select name="state" data-ng-model="formdata.user.ustate" ng-required='true' class="form-control" ng-options="state.name for state in formdata.states | orderBy:'name' track by state.name" data-ng-change="getTaxRegions()">
                                <option value="">--Select State--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!---->&nbsp;
                <!--Tax Regions-->
                <div class="row color-white">
                    <div class="col-lg-12">
                        <div class="col-lg-3 bold"> Tax Region<span class="asterisk"></span> </div>
                        <div class="col-lg-3">
                            <select name="taxregion" data-ng-model="formdata.user.taxregion" ng-required='true' ng-disabled="selectOption" class="form-control" ng-options="tax.TaxRegionName for tax in formdata.user.taxregions | orderBy:'TaxRegionName' | unique:'TaxRegionName' track by tax.TaxRegionName">
                                <option value="">--Select Tax Region--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!---->&nbsp;
                <!--City-->
                <div class="row color-white">
                    <div class="col-lg-12">
                        <div class="col-lg-3 bold"> City<span class="asterisk"></span> </div>
                        <div class="col-lg-3">
                            <input type="text" ng-required='true' class="form-control" ng-model="formdata.user.city" /> </div>
                    </div>
                </div>
                <!---->&nbsp;
                <!--Zip Code-->
                <div class="row color-white">
                    <div class="col-lg-12">
                        <div class="col-lg-3 bold"> Zip Code<span class="asterisk"></span> </div>
                        <div class="col-lg-3">
                            <input type="number" class="form-control" ng-required='true' maxlength="5" ng-model="formdata.user.zipcode" />{{zipError}} </div>
                        <div class="col-lg-3">
                            <button class="btn btn-success bg-btn bold" ng-click="verifyZip($event)">Verify</button>
                        </div>
                    </div>
                </div>
                <!---->
                <!--End-->&nbsp;
                <!--Phone Details Block-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="long-box-head-green tab-noradious"> Email Id </div>
                    </div>
                </div> &nbsp;
                <!--Email Detail Block Start-->
                <div class="row color-white">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-3 col-md-3 col-sm-3 bold"> Primary Email Id<span class="asterisk"></span> </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <input type="email" class="form-control" ng-required='true' ng-model="formdata.user.primaryemail" /> </div>
                    </div>
                </div> &nbsp;
                <div class="row color-white">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-3 col-md-3 col-sm-3 bold"> Alternate Email Id </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <input type="email" class="form-control" ng-model="formdata.user.alternativeEmails" /> </div>
                    </div>
                </div>
                <!---->&nbsp;
                <!--Contact Details Block-->
                <!--Phone Details Block-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="long-box-head-green tab-noradious"> Phone Details </div>
                    </div>
                </div>
                <br/>
                <!--Primary Phone-->
                <div class="row color-white">
                    <div class="col-lg-12">
                        <div class="col-lg-3 bold"> Primary Phone <span class="asterisk"></span> </div>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" ng-required='true' ng-model="formdata.user.contact.primary.number"> </div>
                        <input type="hidden" ng-model="formdata.user.contact.phone.type">
                        <div class="col-lg-3 bold"> Phone Type <span class="asterisk"></span>
                        </div>
                        <div class="col-lg-3">
                            <select class="form-control" ng-required='true' data-ng-model="formdata.user.contact.primary.phoneType" ng-options="o as o for o in ['Business', 'Personal', 'Home'] track by o">
                                <option value="">Select Phone type</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!---->&nbsp;
                <!--Alternate Phone 1-->
                <div class="row color-white">
                    <div class="col-lg-12">
                        <div class="col-lg-3 bold"> Alternate Phone 1 </div>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" ng-model="formdata.user.contact.alternate.phone1.number"> </div>
                        <div class="col-lg-3 bold"> Phone Type</div>
                        <div class="col-lg-3">
                            <select class="form-control" ng-model="formdata.user.contact.alternate.phone1.phoneType" ng-options="o as o for o in ['Business', 'Personal', 'Home'] track by o">
                                <option value="">Select Phone type</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!---->&nbsp;
                <!--Alternate Phone 2-->
                <div class="row color-white">
                    <div class="col-lg-12">
                        <div class="col-lg-3 bold"> Alternate Phone 2 </div>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" ng-model="formdata.user.contact.alternate.phone2.number"> </div>
                        <div class="col-lg-3 bold"> Phone Type</div>
                        <div class="col-lg-3">
                            <select class="form-control" ng-model="formdata.user.contact.alternate.phone2.phoneType" ng-options="o as o for o in ['Business', 'Personal', 'Home'] track by o">
                                <option value="">Select Phone type</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!---->
                <br/>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-lg-3">
                            <buttton class="btn btn-success bg-btn bold" ng-click="cancelfirstPage()"> Cancel </buttton>
                        </div>
                        <div class="col-lg-3">
                            <buttton class="btn btn-success bg-btn bold" style="width:76px" ng-click="tempSaveData($event)"> Pend </buttton>
                        </div>
                        <div class="col-lg-offset-3 col-lg-3">
                            <buttton class="btn btn-success bg-btn bold" ng-click="nextPage($event)" style="width:76px"> Next </buttton><span ng-show="clientForm.$invalid" style="color:#E57F68;">Fields having * are requried.</span>
                        </div>
                        <!--   <div class="col-lg-offset-3 col-lg-3">
  <buttton class="btn btn-success bg-btn"    ng-click="nextPage($event)">Next </buttton><span ng-show="clientForm.$invalid" style="color:#E57F68;">Fields having * are requried.</span></div>
 -->
                        <!-- 
    ng-disabled="checkForNext==true || clientForm.$invalid" -->
            </form>
            </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="secondpart">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--Card Type Details-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-red tab-noradious"> Business Unit Card Details & Other Information </div>
                </div>
            </div>
            <br>
            <!--Phone Details Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green tab-noradious"> Card Types </div>
                </div>
            </div>
            <br/>
            <form name="formdatas">
                <div class="row color-white">
                    <div class="col-lg-12 col-md-12">
                        <div class="row">
                            <div class="col-lg-2">
                                <input type="checkbox" ng-click="onCheck('gift',formdata.card.giftcard.type)" ng-model="formdata.card.giftcard.type"><span class="yellow-bold"> Gift Card </span><i class="fa fa-question-circle" title="{{title[0]}}"></i> </div>
                        </div>
                        <input type="hidden" value="gift" ng-model="formdata.card.giftcard.typename" />
                        <div class="row" ng-if="checkforgift">
                            <div class="col-lg-2 bold">Card Name:<span class="asterisk"></span>
                            </div>
                            <div class="col-lg-2">
                                <input style="color:black" ng-disabled="giftcard" class="form-control" type="text" placeholder="Card Name" ng-model="formdata.card.giftcard.name"> </div>
                        </div>
                        <p></p>
                        <div class="row" ng-if="checkforgift">
                            <div class="col-lg-2 bold"> Card Image:<span class="asterisk"></span>
                            </div>
                            <div class="col-lg-2">
                                <select class="form-control" ng-disabled="giftcard" data-ng-model="formdata.card.giftcard.image" ng-options="o as o for o in giftcards">
                                    <option value="">---Select Image---</option>
                                </select>
                            </div>
                            <div class="col-lg-4"> <img class="imgbox" ng-src="/modules/controller/img/cards/{{formdata.card.giftcard.image}}" /> </div>
                        </div>
                        <div class="row" ng-if="!checkforgift">
                            <div class="col-lg-2 bold">Card Name:<span class="asterisk"></span>
                            </div>
                            <div class="col-lg-2">
                                <input style="color:black" ng-disabled="giftcard" textTransformCapitalize ng-required="true" class="form-control" type="text" placeholder="Card Name" ng-model="formdata.card.giftcard.name"> </div>
                        </div>
                        <p></p>
                        <div class="row" ng-if="!checkforgift">
                            <div class="col-lg-2 bold"> Card Image:<span class="asterisk"></span>
                            </div>
                            <div class="col-lg-2">
                                <select class="form-control" ng-disabled="giftcard" ng-required="true" data-ng-model="formdata.card.giftcard.image" ng-options="o as o for o in giftcards">
                                    <option value="">---Select Image---</option>
                                </select>
                            </div>
                            <div class="col-lg-4"> <img class="imgbox" ng-src="/modules/controller/img/cards/{{formdata.card.giftcard.image}}" /> </div>
                        </div>
                    </div>
                </div>
                <!---->&nbsp;&nbsp;&nbsp;
                <hr>
                <!--Advantage Card-->
                <div class="row color-white">
                    <div class="col-lg-12 col-md-12">
                        <div class="row">
                            <div class="col-lg-2">
                                <input type="checkbox" ng-click="onCheck('advantage',formdata.card.advantage.type)" ng-model="formdata.card.advantage.type"><span class="yellow-bold"> Advantage Card </span><i class="fa fa-question-circle" title="{{title[1]}}"></i> </div>
                        </div>
                        <input type="hidden" value="advantage" ng-model="formdata.card.advantage.typename" />
                        <div class="row" ng-if="checkforadvantage">
                            <div class="col-lg-2 bold">Card Name:<span class="asterisk"></span>
                            </div>
                            <div class="col-lg-2">
                                <input style="color:black" class="form-control" placeholder="Card Name" type="text" ng-disabled="advantage" ng-model="formdata.card.advantage.name" />
                            </div>
                        </div>
                        <p></p>
                        <div class="row" ng-if="checkforadvantage">
                            <div class="col-lg-2 bold">Card Image:<span class="asterisk"></span>
                            </div>
                            <div class="col-lg-2">
                                <select class="form-control" ng-disabled="advantage" data-ng-model="formdata.card.advantage.image" ng-options="o as o for o in advantages">
                                    <option value="">---Select Image---</option>
                                </select>
                            </div>
                            <div class="col-lg-4"> <img class="imgbox" ng-src="/modules/controller/img/cards/{{formdata.card.advantage.image}}" /> </div>
                        </div>
                        <p></p>
                        <div class="row" ng-if="checkforadvantage">
                            <div class="col-lg-3">
                                <div class="col-lg-12" ng-repeat="data in formdata.card.advantage.datas">
                                    <div class="row "> Get<span class="asterisk"></span> <span><input type="number" class="pricebox"  placeholder="$"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"    ng-disabled="advantage" ng-model="data.get" ng-keyup="checkdt(data)" /> card for <input type="number" class="pricebox" ng-keyup="checkdt(data)"   placeholder="$"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-disabled="advantage" ng-model="data.buy"></span> <i class="error-msg">{{data.msg}}</i> <span class="btn-cross2"><button class="btn btn-danger btn-xs  ng-scope" title="Delete" ng-if="formdata.card.advantage.datas.length >=2" data-ng-click="removeProduct($event,data)"><i class="fa fa-times"></i></button></span> </div>
                                    <br/> </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                <button class="btn btn-success bg-btn bold" data-ng-click="addcard($event)">Add More</button>
                            </div>
                        </div>
                        <div class="row" ng-if="!checkforadvantage">
                            <div class="col-lg-2 bold">Card Name:<span class="asterisk"></span>
                            </div>
                            <div class="col-lg-2">
                                <input style="color:black" class="form-control" ng-required="true" placeholder="Card Name" type="text" ng-disabled="advantage" ng-model="formdata.card.advantage.name" />
                            </div>
                        </div>
                        <p></p>
                        <div class="row" ng-if="!checkforadvantage">
                            <div class="col-lg-2 bold">Card Image:<span class="asterisk"></span>
                            </div>
                            <div class="col-lg-2">
                                <select class="form-control" ng-disabled="advantage" ng-required="true" data-ng-model="formdata.card.advantage.image" ng-options="o as o for o in advantages">
                                    <option value="">---Select Image---</option>
                                </select>
                            </div>
                            <div class="col-lg-4"> <img class="imgbox" ng-src="/modules/controller/img/cards/{{formdata.card.advantage.image}}" /> </div>
                        </div>
                        <p></p>
                        <div class="row" ng-if="!checkforadvantage">
                            <div class="col-lg-3">
                                <div class="col-lg-12" ng-repeat="data in formdata.card.advantage.datas">
                                    <div class="row"> Get<span class="asterisk"></span> <span><input type="number" class="pricebox" ng-required="true"   placeholder="$"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"    ng-disabled="advantage" ng-model="data.get" ng-keyup="checkdt(data)" /> card for <input type="number" class="pricebox" ng-keyup="checkdt(data)"   placeholder="$" ng-required="true"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-disabled="advantage" ng-model="data.buy"></span> <i class="error-msg">{{data.msg}}</i> <span class="btn-cross2"><button class="btn btn-danger btn-xs  ng-scope" title="Delete" ng-if="formdata.card.advantage.datas.length >=2" data-ng-click="removeProduct($event,data)"><i class="fa fa-times"></i></button></span> </div>
                                    <br/> </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                <button class="btn btn-success ng-btn bold" data-ng-click="addcard($event)">Add More</button>
                            </div>
                        </div>
                    </div>
                    <!---->&nbsp;&nbsp;&nbsp;
                    <hr>
                    <!--Cash Back  Card-->
                    <div class="row color-white">
                        <div class="col-lg-12 col-md-12">
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="checkbox" ng-click="onCheck('cashback',formdata.card.cashback.type)" ng-model="formdata.card.cashback.type"> <span class="yellow-bold">CashBack Card </span><i class="fa fa-question-circle" title="{{title[2]}}"></i> </div>
                            </div>
                            <input type="hidden" value="cashback" ng-model="formdata.card.cashback.typename" />
                            <div class="row" ng-if="checkforcashback">
                                <div class="col-lg-2 bold">Card Name:<span class="asterisk"></span>
                                </div>
                                <div class="col-lg-2">
                                    <input style="color:black" type="text" class="form-control" ng-disabled="cashback" placeholder="Card Name" ng-model="formdata.card.cashback.name" />
                                </div>
                            </div>
                            <p></p>
                            <div class="row color-white" ng-if="checkforcashback">
                                <div class="col-lg-2 bold">Card Image:<span class="asterisk"></span>
                                </div>
                                <div class="col-lg-2">
                                    <select class="form-control" ng-disabled="cashback" data-ng-model="formdata.card.cashback.image" ng-options="o as o for o in cashbacks">
                                        <option value="">---Select Image---</option>
                                    </select>
                                </div>
                                <div class="col-lg-4"> <img class="imgbox" ng-src="/modules/controller/img/cards/{{formdata.card.cashback.image}}" /> </div>
                            </div>
                            <p></p>
                            <div class="row" ng-if="checkforcashback">
                                <div class="col-lg-4"> {{xvalue}} % CashBack Percentage:<span class="asterisk"></span>
                                    <input type="number" class="pricebox1" placeholder="%" ng-keyup="fillPer(formdata.card.cashback.percentage)" ng-disabled="cashback" ng-model="formdata.card.cashback.percentage" />
                                </div>
                            </div>
                            <p></p>
                            <div class="row" ng-if="checkforcashback">
                                <div class="col-lg-6">Earn<span class="asterisk"></span> {{xvalue}} % cashback for every purchase of
                                    <input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="$" class="pricebox1" ng-disabled="cashback" ng-model="formdata.card.cashback.earn" /> and above </div>
                            </div>
                            <div class="row" ng-if="!checkforcashback">
                                <div class="col-lg-2 bold">Card Name:<span class="asterisk"></span>
                                </div>
                                <div class="col-lg-2">
                                    <input style="color:black" ng-required="true" type="text" class="form-control" ng-disabled="cashback" placeholder="Card Name" ng-model="formdata.card.cashback.name" />
                                </div>
                            </div>
                            <p></p>
                            <div class="row color-white" ng-if="!checkforcashback">
                                <div class="col-lg-2 bold">Card Image:<span class="asterisk"></span>
                                </div>
                                <div class="col-lg-2">
                                    <select class="form-control" ng-disabled="cashback" ng-required="true" data-ng-model="formdata.card.cashback.image" ng-options="o as o for o in cashbacks">
                                        <option value="">---Select Image---</option>
                                    </select>
                                </div>
                                <div class="col-lg-4" ng-if="!checkforcashback"> <img class="imgbox" ng-required="true" ng-src="/modules/controller/img/cards/{{formdata.card.cashback.image}}" /> </div>
                            </div>
                            <p></p>
                            <div class="row" ng-if="!checkforcashback">
                                <div class="col-lg-4"> {{xvalue}} % CashBack Percentage:<span class="asterisk"></span>
                                    <input type="number" class="pricebox1" placeholder="%" ng-required="true" ng-keyup="fillPer(formdata.card.cashback.percentage)" ng-disabled="cashback" ng-model="formdata.card.cashback.percentage" />
                                </div>
                            </div>
                            <p></p>
                            <div class="row" ng-if="!checkforcashback">
                                <div class="col-lg-6">Earn<span class="asterisk"></span> {{xvalue}} % cashback for every purchase of
                                    <input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="$" ng-required="true" class="pricebox1" ng-disabled="cashback" ng-model="formdata.card.cashback.earn" /> and above </div>
                            </div>
                        </div>
                    </div>
                    <!---->&nbsp;&nbsp;&nbsp;
                    <hr>
                    <!--Point Card-->
                    <div class="row color-white">
                        <div class="col-lg-12 col-md-12">
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="checkbox" ng-click="onCheck('point',formdata.card.points.type)" ng-model="formdata.card.points.type"> <span class="yellow-bold">Points Card </span> <i class="fa fa-question-circle" title="{{title[3]}}"></i> </div>
                            </div>
                            <input type="hidden" value="points" ng-disabled="points" ng-model="formdata.card.points.typename" />
                            <p></p>
                            <div class="row" ng-if="checkforpoints">
                                <div class="col-lg-2 bold">Card Name:<span class="asterisk"></span>
                                </div>
                                <div class="col-lg-2">
                                    <input style="color:black" type="text" class="form-control" ng-disabled="points" placeholder="Card Name" ng-model="formdata.card.points.name" />
                                </div>
                            </div>
                            <p></p>
                            <div class="row color-white" ng-if="checkforpoints">
                                <div class="col-lg-2 bold">Card Image:<span class="asterisk"></span>
                                </div>
                                <div class="col-lg-2">
                                    <select class="form-control" ng-disabled="points" data-ng-model="formdata.card.points.image" ng-options="o as o for o in point">
                                        <option value="">---Select Image---</option>
                                    </select>
                                </div>
                                <div class="col-lg-4" ng-if="checkforpoints"> <img class="imgbox" ng-src="/modules/controller/img/cards/{{formdata.card.points.image}}" /> </div>
                            </div>
                            <p></p>
                            <div class="row" ng-if="checkforpoints">
                                <div class="col-lg-5">Earn<span class="asterisk"></span>
                                    <input type="number" class="pricebox1" ng-disabled="points" placeholder=" " ng-model="formdata.card.points.earn1" /> Point(s) for every
                                    <input type="number" class="pricebox1" ng-disabled="points" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="$" ng-model="formdata.card.points.point1"> spent</div>
                            </div>
                            <p></p>
                            <div class="row" ng-if="checkforpoints">
                                <div class="col-lg-5">Earn <span class="asterisk"></span>
                                    <input type="number" class="pricebox1" ng-disabled="points" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="$" ng-model="formdata.card.points.earn2" /> shopping for every
                                    <input type="number" class="pricebox1" ng-disabled="points" placeholder="" ng-model="formdata.card.points.point2"> points</div>
                            </div>
                            <div class="row" ng-if="!checkforpoints">
                                <div class="col-lg-2 bold">Card Name:<span class="asterisk"></span>
                                </div>
                                <div class="col-lg-2">
                                    <input style="color:black" type="text" ng-required="true" class="form-control" ng-disabled="points" placeholder="Card Name" ng-model="formdata.card.points.name" />
                                </div>
                            </div>
                            <p></p>
                            <div class="row color-white" ng-if="!checkforpoints">
                                <div class="col-lg-2 bold">Card Image:<span class="asterisk"></span>
                                </div>
                                <div class="col-lg-2">
                                    <select class="form-control" ng-disabled="points" ng-required="true" data-ng-model="formdata.card.points.image" ng-options="o as o for o in point">
                                        <option value="">---Select Image---</option>
                                    </select>
                                </div>
                                <div class="col-lg-4" ng-if="!checkforpoints"> <img class="imgbox" ng-required="true" ng-src="/modules/controller/img/cards/{{formdata.card.points.image}}" /> </div>
                            </div>
                            <p></p>
                            <div class="row" ng-if="!checkforpoints">
                                <div class="col-lg-5">Earn<span class="asterisk"></span>
                                    <input type="number" ng-required="true" class="pricebox1" ng-disabled="points" placeholder=" " ng-model="formdata.card.points.earn1" /> Point(s) for every
                                    <input type="number" class="pricebox1" ng-disabled="points" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-required="true" placeholder="$" ng-model="formdata.card.points.point1"> spent</div>
                            </div>
                            <p></p>
                            <div class="row" ng-if="!checkforpoints">
                                <div class="col-lg-5">Earn <span class="asterisk"></span>
                                    <input type="number" ng-required="true" class="pricebox1" ng-disabled="points" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="$" ng-model="formdata.card.points.earn2" /> shopping for every
                                    <input type="number" class="pricebox1" ng-disabled="points" ng-required="true" placeholder="" ng-model="formdata.card.points.point2"> points</div>
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <!--Access Type Details-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="long-box-head-green tab-noradious"> Access Types </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row color-white">
                        <div class="col-lg-6">
                            <input type="radio" name="rad" ng-model="formdata.department.onlyCheckoutAccess"> Consumer Card with Billing & Credit Card Processing
                            <br/>
                            <input type="radio" name="rad" value="false" ng-model="formdata.department.onlyCheckoutAccess"> Consumer Card with Billing & NO Credit Card Processing
                            <br/>
                            <input type="radio" name="rad" ng-model="formdata.department.onlyCheckoutAccess"> Consumer Card without Billing & Credit Card Processing
                            <br/>
                            <input type="radio" name="rad" value="true" ng-model="formdata.department.onlyCheckoutAccess"> Consumer Card without Billing & NO Credit Card Processing
                            <br/> </div>
                    </div>
                    <!--End-->
                    <p></p>
                    <!--Disclaimer-->
                    <div class="row color-white">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="long-box-head-green tab-noradious"> Disclaimer - Receipt Return Policy </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- <textarea  style="color:#808080;" class="form-control textBox" rows="4" cols="130"    ng-model="formdata.department.disclaimer"></textarea> -->
                            <wysiwyg textarea-id="departdisclaimer" textarea-class="form-control textBox" textarea-height="108px" textarea-name="departdisclaimer" ng-model="formdata.department.disclaimer" enable-bootstrap-title="false"></wysiwyg>
                        </div>
                    </div>
                    <p></p>
                    <!--End-->
                    <!--Business Unit Logo-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="long-box-head-green tab-noradious"> Business Unit Logo </div>
                        </div>
                    </div>&nbsp;
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="error-msg" style="text-align:center"> <i>{{successmsg}}</i> </div>
                        </div>
                    </div>
                    <div class="row color-white">
                        <div class="col-lg-12 col-md-12">
                            <div class="col-lg-6">
                                <input type="text" class="form-control" ng-model="uploadtext" /> </div>
                            <div class="col-lg-3">
                                <button class="btn btn-success ng-btn bold" ngf-accept="'.jpg,.png,.gif'" ngf-select="getLogoName(file1)" ng-model="file1" multipart="true">Browse</button> &nbsp;
                                <button class="btn btn-success ng-btn bold" ng-click="uploadLogo(file1);" ng-disabled="uploadfile">Upload</button>
                            </div>
                            <div class="col-lg-3"> </div>
                        </div>
                    </div>
                    <div class="row color-white">
                        <div class="col-lg-12 col-md-12">
                            <p>{{uploadtext}}</p>
                        </div>
                    </div>
                    <!--End-->&nbsp;
                    <!--Status-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="long-box-head-green tab-noradious"> Status </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row color-white">
                        <div class="col-lg-6 col-md-12">
                            <input type="radio" name='status' value="Active" ng-model="formdata.user.status"> Active &nbsp;&nbsp;&nbsp;
                            <input type="radio" name='status' value="Inactive" ng-model="formdata.user.status"> Inactive </div>
                    </div>
                    <!--End-->&nbsp;
                    <!--Processor Notes-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="long-box-head-green tab-noradious"> Processor Notes </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row color-white">
                        <div class="col-lg-12">
                            <!-- <textarea style="color:#808080" class="form-control textBox" rows="4" cols="130" ng-model="formdata.department.processor_notes"></textarea> -->
                            <wysiwyg textarea-id="departdisclaimer" textarea-class="form-control textBox" textarea-height="108px" textarea-name="departdisclaimer" ng-model="formdata.department.processor_notes" enable-bootstrap-title="false"></wysiwyg>
                        </div>
                    </div>
                    <!--End-->&nbsp;
                    <!--Miscellaneous Attachment-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="long-box-head-green tab-noradious"> Miscellaneous Attachments </div>
                        </div>
                    </div>&nbsp;
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="error-msg" style="text-align:center"> <i>{{successmsg1}}</i> </div>
                        </div>
                    </div>
                    <div class="row color-white">
                        <div class="col-lg-12 col-md-12">
                            <div class="col-lg-6">
                                <input type="text" class="form-control" ng-model="filename" />
                                <br/><span class="bold"> Attachments:</span>
                                <ul class="nostyle" ng-repeat="filename in filenames">
                                    <li ng-model="name"><a href="modules/controller/img/logo/{{filename.filename}}" target="_blank" class="anchorlink color-white">{{filename.templatename}}</a>
                                        <button ng-disabled="deleteBtn==true" class="btn btn-danger btn-xs " ng-click="itemRemove($event,filename.filename,filename)">X</button>
                                    </li>&nbsp;
                                    <!-- <li ng-model="name"  ><i class="anchorlink" ng-click="showPdf(filename.file)">{{filename.templatename}}</i>
 <button  ng-disabled="deleteBtn==true" class="btn btn-danger btn-xs" ng-click="itemRemove($event,filename.file,filename)">X</button></li> -->
                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-success ng-btn bold" ngf-accept="'.pdf,.doc,.docx,.odt,.xls,.xlsx,.txt,.jpeg,.png,.jpg,.mp3,.mp4,.'" ngf-select="getfilename(file2)" ng-model="file2" multipart="true">Browse</button> &nbsp;
                                <button class="btn btn-success ng-btn bold" ng-click="uploadFiles(file2);" ng-disabled="attachfile">Attach</button>
                            </div>
                            <div class="col-lg-3"> </div>
                        </div>
                    </div>
                    <!--End-->&nbsp;
                    <!--Processor Notes-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="col-lg-3">
                                <buttton class="btn btn-success bold" ng-click="cancelsecondPage()"> Cancel </buttton>
                            </div>
                            <div class="col-lg-3">
                                <buttton class="btn btn-success bold" ng-click="tempSaveData($event)" style="width:76px"> Pend </buttton>
                            </div>
                            <div class="col-lg-3">
                                <buttton class="btn btn-success bold" ng-click="backPage($event)" style="width:76px"> Back </buttton>
                            </div>
                            <div class="col-lg-3">
                                <buttton class="btn btn-success bold" ng-disabled="getcheck || formdatas.$invalid " ng-click="clientview($event)" style="width:76px"> Verify </buttton>
                            </div>
                            <!-- <buttton class="btn btn-success"  ng-disabled="getcheck==true"ng-click="clientview($event)">Verify </buttton></div> -->
            </form>
            </div>
            </div>
            </div>
        </div>
    </div>
    <!--Form End Here -->
    <!--View Part-->
    <div class="row " ng-show="clientviewpage">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-red tab-noradious"> Business Unit Registration-Verification </div>
                </div>
            </div> &nbsp;
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green tab-noradious"> Primary Details </div>
                </div>
            </div> &nbsp;
            <div class="row color-white">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-4 bold">Effective Date : {{formdata.user.eff_date | date: "MM/dd/yyyy"}}</div>
                    <div class="col-lg-4 bold">End Date : {{formdata.user.end_date | date: "MM/dd/yyyy"}}</div>
                    <div class="col-lg-4 bold">Update Date : {{formdata.user.upd_date | date: "MM/dd/yyyy"}}</div>
                </div>
            </div> &nbsp;
            <!--Business Unit Name-->
            <div class="row color-white">
                <div class="col-lg-12">
                    <div class="col-lg-3 col-md-3 col-sm-3 bold"><b>Confirmation # :</b>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">{{formdata.department.confirmation}}</div>
                </div>
            </div>
            <div class="row color-white">
                <div class="col-lg-12">
                    <div class="col-lg-3 col-md-3 col-sm-3 bold">Access Code :</div>
                    <div class="col-lg-3 col-md-3 col-sm-3">{{formdata.department.accesscode}}</div>
                </div>
            </div>
            <div class="row color-white">
                <div class="col-lg-12">
                    <div class="col-lg-3 col-md-3 col-sm-3 bold">Business Unit Name :</div>
                    <div class="col-lg-3 col-md-3 col-sm-3">{{formdata.department.name}}</div>
                </div>
            </div>
            <div class="row color-white">
                <div class="col-lg-12">
                    <div class="col-lg-3 col-md-3 col-sm-3 bold">Tax Id :</div>
                    <div class="col-lg-3 col-md-3 col-sm-3">{{formdata.user.taxid}}</div>
                </div>
            </div>
            <div class="row color-white">
                <div class="col-lg-12">
                    <div class="col-lg-3 col-md-3 col-sm-3 bold">Owner Name(s) :</div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <ul class="nostyle">
                            <li ng-repeat="name in formdata.department.ownernames ">{{name.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row color-white">
                <div class="col-lg-12">
                    <div class="col-lg-3 col-md-3 col-sm-3 bold">Category :</div>
                    <div class="col-lg-3 col-md-3 col-sm-3">{{formdata.user.category.name}}</div>
                </div>
            </div>
            <br>
            <!--Address Detail  Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green tab-noradious"> Address Details </div>
                </div>
            </div>
            <br>
            <!--Address Detail Block Start-->
            <div class="row color-white">
                <div class="col-lg-12">
                    <div class="col-lg-3 col-md-3 col-sm-3 bold">Address Line 1 :</div>
                    <div class="col-lg-3 col-md-3 col-sm-3">{{formdata.user.addressline1}}</div>
                </div>
            </div>
            <div class="row color-white">
                <div class="col-lg-12">
                    <div class="col-lg-3 col-md-3 col-sm-3 bold">Address Line 2 :</div>
                    <div class="col-lg-3 col-md-3 col-sm-3">{{formdata.user.addressline2}}</div>
                </div>
            </div>
            <div class="row color-white">
                <div class="col-lg-12">
                    <div class="col-lg-3 col-md-3 col-sm-3 bold">Address Line 3 :</div>
                    <div class="col-lg-3 col-md-3 col-sm-3">{{formdata.user.addressline3}}</div>
                </div>
            </div>
            <div class="row color-white">
                <div class="col-lg-12">
                    <div class="col-lg-3 col-md-3 col-sm-3 bold">State :</div>
                    <div class="col-lg-3 col-md-3 col-sm-3">{{formdata.user.ustate.name}}</div>
                </div>
            </div>
            <div class="row color-white">
                <div class="col-lg-12">
                    <div class="col-lg-3 col-md-3 col-sm-3 bold">Tax Region :</div>
                    <div class="col-lg-3 col-md-3 col-sm-3">{{formdata.user.taxregion.TaxRegionName}}</div>
                </div>
            </div>
            <div class="row color-white">
                <div class="col-lg-12">
                    <div class="col-lg-3 col-md-3 col-sm-3 bold">City :</div>
                    <div class="col-lg-3 col-md-3 col-sm-3">{{formdata.user.city}}</div>
                </div>
            </div>
            <div class="row color-white">
                <div class="col-lg-12">
                    <div class="col-lg-3 col-md-3 col-sm-3 bold">Zipcode :</div>
                    <div class="col-lg-3 col-md-3 col-sm-3">{{formdata.user.zipcode}}</div>
                </div>
            </div>
            <br>
            <!--Email Id Details Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green tab"> Email Id Details </div>
                </div>
            </div>
            <br>
            <div class="row color-white">
                <div class="col-lg-12">
                    <div class="col-lg-3 col-md-3 col-sm-3 bold">Primary Email Id :</div>
                    <div class="col-lg-3 col-md-3 col-sm-3">{{formdata.user.primaryemail}}</div>
                </div>
            </div>
            <div class="row color-white">
                <div class="col-lg-12">
                    <div class="col-lg-3 col-md-3 col-sm-3 bold">Alternative Email Id :</div>
                    <div class="col-lg-3 col-md-3 col-sm-3">{{formdata.user.alternativeEmails}}</div>
                </div>
            </div>
            <br>
            <!--Phone Details Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green tab-noradious"> Phone Details </div>
                </div>
            </div>
            <br>
            <div class="row color-white">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="col-lg-4 col-md-4 col-sm-4 bold">Primary Phone :</div>
                        <div class="col-lg-3 col-md-3 col-sm-3">{{formdata.user.contact.primary.number}}</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="col-lg-3 col-md-3 col-sm-3  bold">Phone Type :</div>
                        <div class="col-lg-3 col-md-3 col-sm-3">{{formdata.user.contact.primary.phoneType}}</div>
                    </div>
                </div>
            </div>
            <div class="row color-white">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="col-lg-4 col-md-4 col-sm-4 bold">Alternate Phone 1 :</div>
                        <div class="col-lg-3 col-md-3 col-sm-3">{{formdata.user.contact.alternate.phone1.number}}</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="col-lg-3 col-md-3 col-sm-3 bold">Phone Type:</div>
                        <div class="col-lg-3 col-md-3 col-sm-3">{{formdata.user.contact.alternate.phone1.phoneType}}</div>
                    </div>
                </div>
            </div>
            <div class="row color-white">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="col-lg-4 col-md-4 col-sm-4 bold">Alternate Phone 2 :</div>
                        <div class="col-lg-3 col-md-3 col-sm-3">{{formdata.user.contact.alternate.phone2.number}}</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="col-lg-3 col-md-3 col-sm-3 bold">Phone Type :</div>
                        <div class="col-lg-3 col-md-3 col-sm-3">{{formdata.user.contact.alternate.phone2.phoneType}}</div>
                    </div>
                </div>
            </div>
            <br>
            <!--Phone Details Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-red tab-noradious"> Business Unit Card Details & Other Information - Verification </div>
                </div>
            </div> &nbsp;
            <!--Phone Details Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green tab-noradious"> Card Types </div>
                </div>
            </div>
            <!--Card Type Details-->
            <div class="row color-white">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row" ng-if="formdata.card.giftcard.type">
                        <div class="col-lg-6 col-md-6 col-sm-6"> <em><strong class="yellow-bold"><u>Gift Card</u></strong></em>
                            <p><strong>Card Name</strong>: {{formdata.card.giftcard.name}}</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6"> <img class="imgbox" ng-src="/modules/controller/img/cards/{{formdata.card.giftcard.image}}" /> </div>
                    </div>
                    <br/>
                    <div class="row" ng-if="formdata.card.advantage.type">
                        <div class="col-lg-6 col-md-6 col-sm-6"> <em><strong class="yellow-bold"><u>Advantage Card</u></strong></em>
                            <p><strong>Card Name:</strong> {{formdata.card.advantage.name}}</p>
                            <p><strong>Card Option(s):</strong>
                                <ul ng-repeat="data in formdata.card.advantage.datas" class="nostyle">
                                    <li>Get ${{data.get}} card for ${{data.buy}}</li>
                                </ul>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6"> <img class="imgbox" ng-src="/modules/controller/img/cards/{{formdata.card.advantage.image}}" /> </div>
                    </div>
                    <br/>
                    <div class="row" ng-if="formdata.card.cashback.type">
                        <div class="col-lg-6 col-md-6 col-sm-6"> <em><strong class="yellow-bold"><u>Cashback Card</u></strong></em>
                            <p><strong>Card Name:</strong> {{formdata.card.cashback.name}}</p>
                            <p><strong>Card Details(s):</strong>
                            </p>
                            <p> {{formdata.card.cashback.percentage}} % CashBack Percentage</p> Earn {{formdata.card.cashback.percentage}}% for every purchase of ${{formdata.card.cashback.earn}} and above </div>
                        <div class="col-lg-6 col-md-6 col-sm-6"> <img class="imgbox" ng-src="/modules/controller/img/cards/{{formdata.card.cashback.image}}" /> </div>
                    </div>
                    <br/>
                    <div class="row" ng-if="formdata.card.points.type">
                        <div class="col-lg-6 col-md-6 col-sm-6"> <em><strong class="yellow-bold"><u>Points Card</u></strong></em>
                            <p><strong>Card Name:</strong> {{formdata.card.points.name}}</p>
                            <div></div>
                            <p><strong>Card Option(s):</strong>
                                <ul class="nostyle">
                                    <li>Earn {{formdata.card.points.earn1}} point(s) for every ${{formdata.card.points.point1}} spent</li>
                                    <li>Earn ${{formdata.card.points.earn2}} shopping for every {{formdata.card.points.point2}} points</li>
                                </ul>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6"> <img class="imgbox" ng-src="/modules/controller/img/cards/{{formdata.card.points.image}}" /> </div>
                    </div>
                </div>
            </div>
            <!--Access Type Details Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green tab"> Access Types </div>
                </div>
            </div>
            <div class="row color-white">
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-6">
                        <p ng-if="false">Consumer Card with Billing & Credit Card Processing</p>
                        <p ng-if="'false' ==formdata.department.onlyCheckoutAccess">Consumer Card with Billing & NO Credit Card Processing</p>
                        <p ng-if="false">Consumer Card without Billing & Credit Card Processing</p>
                        <p ng-if="'true' == formdata.department.onlyCheckoutAccess">Consumer Card without Billing & NO Credit Card Processing</p>
                    </div>
                </div>
            </div> &nbsp;
            <!--End-->
            <!--Phone Details Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green tab-noradious"> Disclaimer Receipt Return Policy </div>
                </div>
            </div> &nbsp;
            <div class="row color-white">
                <div class="col-lg-12" ng-bind-html="formdata.department.disclaimer_html"> </div>
            </div>
            <!--End-->
            <!--Phone Details Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green tab-noradious"> Business Unit Logo </div>
                </div>
            </div> &nbsp;
            <div class="row color-white">
                <div class="col-lg-12 col-md-12 "> <img ng-click="showImage(logoname)" id="logobox" src="modules/controller/img/logo/{{formdata.department.logo}}" />
                    <div class="col-lg-3"> </div>
                </div>
            </div>
            <!--End-->&nbsp;
            <!--Phone Details Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green tab"> Status </div>
                </div>
            </div>
            <div class="row color-white">
                <div class="col-lg-6 col-md-12"> {{formdata.user.status}} </div>
            </div>
            <!--End-->&nbsp;
            <!--Phone Details Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green tab-noradious"> Processor Notes </div>
                </div>
            </div> &nbsp;
            <div class="row color-white">
                <div class="col-lg-12 col-md-12" ng-bind-html="formdata.department.processor_notes_html"> </div>
            </div>
            <!--End-->&nbsp;
            <!--Phone Details Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green tab-noradious"> Miscellaneous Attachments </div>
                </div>
            </div>
            <div class="row color-white">
                <div class="col-lg-12 col-md-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <br/> Attachments: </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <ul ng-repeat="name in filenames" style="list-style:none" class="nostyle">
                                <li><a href="modules/controller/img/logo/{{name.filename}}" target="_blank" class="anchorlink color-white">{{name.templatename}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="row color-white">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <div class="col-lg-3 col-md-3">
                            <button class="btn btn-success bold" ng-click="cancelPage()">Cancel</button>
                        </div>
                        <div class="col-lg-3 col-md-3"> </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="col-lg-3 pull-right">
                            <input type="button" class="btn btn-success bold" ng-click="formSave($event)" value="Submit"> </div>
                        <div class="col-lg-3 pull-right">
                            <buttton class="btn btn-success bold" ng-click="backverifyPage($event)">Back </buttton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End-->
        </form>
    </div>
    </div>
    <div class="row color-white bold" ng-show="confirmationpage" ng-init="getData()">
        <div class="col-lg-12 col-md-12">
            <h1>Client is Successfully Added</h1>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <p>Client Confirmation:</p>
                </div>

                <div class="col-lg-6 col-md-6"> <b><p style="color:red">{{confirmation}}</p></b> </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <p>Business Unit Access Code:</p>
                </div>
                <div class="col-lg-6 col-md-6"> <b><p style="color:red">{{accesscode}}</p></b> </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <p>Business Unit Name:</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <p>{{confirmdepart.name}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <p>Owner Name(s):</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <p ng-repeat="name in confirmdepart.ownerName">{{name}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <p>Card Types:</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <p ng-repeat="card in confirmcarddata" class="captiliase">{{card.type}} Card </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <p>Disclaimer Receipt Return Policy:</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <p class="captiliase" style="word-wrap:break-word" ng-bind-html="confirmdepart.disclaimer"> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <p>Processor Notes:</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <p ng-repeat="p in confirmdepart.processor_notes">
                        <span ng-bin-html="p.notes" style="word-wrap:break-word"></span>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <p class="captiliase" style="word-wrap:break-word" ng-bind-html="confirmdepart.processor_notes"> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <p>Consumer Card Access:</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <!--       {{confirmdepart}}
        {{confirmdepart.onlyCheckoutAccess}} -->
                    <p>{{confirmdepart.checkout}}</p>

                </div>
            </div>
</section>