<section class="contents ready" data-ng-controller="signController" data-ng-init="init()">

<div class="row">
<div ng-bind-html="client" class="content-box" style="{{clientsbgcolor}}">
	
</div>


</div>
</section>