

<section ng-controller="companyController" data-ng-init="initData()" >
  &nbsp;

  <section ng-include="'/modules/controller/views/top-header.client.view.html'"></section>
  &nbsp;
<form name="nsd" ng-submit="saveDetail($event)" ng-if="!status">
<div class="row long-box">
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="long-box-head-green">
    Company Details
  </div>
 </div>
</div>
&nbsp;
<div class="row color-white">
<div class="col-lg-12">
<div class="col-lg-2">
Company Name
</div>
<div class="col-lg-8">
<input type="text"  class="form-control" ng-model="detail.name" />
</div>
</div>
</div>
&nbsp;
&nbsp;
<div class="row color-white">
<div class="col-lg-12">
<div class="col-lg-2">
Address Line 1
</div>
<div class="col-lg-8">
<input type="text"  class="form-control" ng-model="detail.addressline1"/>
</div>
</div>
</div>
&nbsp;
<div class="row color-white">
<div class="col-lg-12">
<div class="col-lg-2">
Address Line 2
</div>
<div class="col-lg-5">
<input type="text"  class="form-control" ng-model="detail.addressline2" />
</div>
</div>
</div>
&nbsp;
&nbsp;
<div class="row color-white">
<div class="col-lg-12">
<div class="col-lg-2">
Address Line 3
</div>
<div class="col-lg-5">
<input type="text"  class="form-control" ng-model="detail.addressline3"/>
</div>
</div>
</div>
&nbsp;
&nbsp;
<div class="row color-white">
<div class="col-lg-12">
<div class="col-lg-2">
City
</div>
<div class="col-lg-2">
<input type="text"  class="form-control" ng-model="detail.city"/>
</div>
<div class="col-lg-2">
State
</div>
<div class="col-lg-2">
<input type="text"  class="form-control" ng-model="detail.state"/>
</div>
<div class="col-lg-2">
Zipcode
</div>
<div class="col-lg-2">
<input type="text"  class="form-control" ng-model="detail.zipcode" minlength="5"/>
</div>
</div>
</div>
&nbsp;
&nbsp;
<div class="row color-white">
<div class="col-lg-12">
<div class="col-lg-2">
email
</div>
<div class="col-lg-8">
<input type="email"  class="form-control" ng-model="detail.email"/>
</div>
</div>
</div>
&nbsp;
&nbsp;
<div class="row color-white">
<div class="col-lg-12">
<div class="col-lg-2">
Contact Us
</div>
{{detail.contact.phone}}
<div class="col-lg-4">
<input type="text"  class="form-control" data-ng-model="detail.contactphone"/>
</div>
<div class="col-lg-1">
Ext
</div>
<div class="col-lg-2">
<input type="text"  class="form-control" data-ng-model="detail.contactext"/>
</div>
</div>
</div>
&nbsp;
&nbsp;
<div class="row color-white">
<div class="col-lg-12">
<div class="col-lg-2">
Fax Us
</div>
<div class="col-lg-4">
<input type="text"  class="form-control" ng-model="detail.faxphone"/>
</div>
<div class="col-lg-1">
Ext
</div>
<div class="col-lg-2">
<input type="text"  class="form-control" ng-model="detail.faxext"/>
</div>

</div>
&nbsp;
</div>
</div>

&nbsp;
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="long-box-head-green tab">
    About Us
  </div>
 </div>
</div>
<br/>
{{data.text}}
<div class="row">
<div class="col-lg-12"> 
 <wysiwyg textarea-id="aboutus" textarea-image="{{background}}" textarea-class="form-control"  ng-model="detail.aboutus" textarea-height="108px" textarea-name="aboutus"  enable-bootstrap-title="false"></wysiwyg>
</div>
&nbsp;
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="long-box-head-green tab-noradious">
    Clients
  </div>
 </div>
</div>
<br/>
<div class="row">
<div class="col-lg-12">
<!-- <textarea cols="150" rows="5" class="textBox form-control" ng-model="detail.clients"> </textarea>
 -->
 <wysiwyg textarea-id="clients" textarea-class="form-control textBox"  textarea-height="108px" textarea-name="clients" ng-model="detail.clients" enable-bootstrap-title="false"></wysiwyg>
</div>
</div>
&nbsp;
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="long-box-head tab">
    FAQ
  </div>
 </div>
</div>
<br/>
<div class="row">
<div class="col-lg-12">
<wysiwyg textarea-id="faq" textarea-class="form-control textBox"  textarea-height="108px" textarea-name="faq" ng-model="detail.faq" enable-bootstrap-title="false"></wysiwyg></div>
</div>
&nbsp;
&nbsp;
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="long-box-head tab">
    How To get a Consumer Card
  </div>
 </div>
</div>
<br/>
<div class="row">
<div class="col-lg-12">

<wysiwyg textarea-id="howtoget" textarea-class="form-control textBox"  textarea-height="108px" textarea-name="howtoget"  ng-model="detail.howtoget" enable-bootstrap-title="false"></wysiwyg>
</div>
</div>
&nbsp;
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="sub-head">
     Disclaimers
   </div>
 </div>
</div>
&nbsp;
&nbsp;
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="long-box-head tab">
    Get a Card-Sender & Recipient Email Notification
  </div>
 </div>
</div>
<br/>
<div class="row">
<div class="col-lg-12">

<wysiwyg textarea-id="dic_getcarddic_getcard" textarea-class="form-control textBox"  textarea-height="108px" textarea-name="dic_getcard"  ng-model="detail.dic_getcard" enable-bootstrap-title="false"></wysiwyg>
</div>
</div>
&nbsp;
&nbsp;
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="long-box-head tab">
    Security Code Email Notification
  </div>
 </div>
</div>
<br/>
<div class="row">
<div class="col-lg-12">

<wysiwyg textarea-id="dic_security" textarea-class="form-control textBox"  textarea-height="108px" textarea-name="dic_security" ng-model="detail.dic_security" enable-bootstrap-title="false"></wysiwyg>
</div>
</div>
&nbsp;
&nbsp;
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="long-box-head tab">
    Customer & Business Unit Registration Email Notification
  </div>
 </div>
</div>
<br/>
<div class="row">
<div class="col-lg-12">
<wysiwyg textarea-id="dic_cust_bu_not" textarea-class="form-control textBox"  textarea-height="108px" textarea-name="dic_cust_bu_not"  ng-model="detail.dic_cust_bu_not" enable-bootstrap-title="false"></wysiwyg>
</div>
</div>

&nbsp;
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="long-box-head tab">
    Account Profile Update Email Notification
  </div>
 </div>
</div>
<br/>
<div class="row">
<div class="col-lg-12">
<wysiwyg textarea-id="dic_acc_prof" textarea-class="form-control textBox"  textarea-height="108px" textarea-name="dic_acc_prof"  ng-model="detail.dic_acc_prof" enable-bootstrap-title="false"></wysiwyg>
</div>
</div>
&nbsp;
&nbsp;
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="long-box-head tab">
    Customer Expenditure Email Notification
  </div>
 </div>
</div>
<br/>
<div class="row">
<div class="col-lg-12">
<wysiwyg textarea-id="dic_cust_expe" textarea-class="form-control textBox"  textarea-height="108px" textarea-name="dic_cust_expe"  ng-model="detail.dic_cust_expe" enable-bootstrap-title="false"></wysiwyg>
</div>
</div>
&nbsp;
&nbsp;
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="sub-head">
     Terms & Conditions
   </div>
 </div>
</div>
&nbsp;
&nbsp;
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="long-box-head tab">
    Customer Registration
 </div>
</div>
</div>
<br/>
<div class="row">
<div class="col-lg-12">
<wysiwyg textarea-id="t_c_cust_reg" textarea-class="form-control textBox"  textarea-height="108px" textarea-name="t_c_cust_reg"  ng-model="detail.t_c_cust_reg" enable-bootstrap-title="false"></wysiwyg>
</div>
</div>
&nbsp;
&nbsp;
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="long-box-head tab">
    Business Unit Registration
  </div>
 </div>
</div>
<br/>
<div class="row">
<div class="col-lg-12">
<wysiwyg textarea-id="question" textarea-class="form-control textBox"  textarea-height="108px" textarea-name="t_c_bus_reg"  ng-model="detail.t_c_bus_reg" enable-bootstrap-title="false"></wysiwyg>
</div>
</div>
&nbsp;
&nbsp;
<div class="row">
 <div class="col-lg-offset-10 col-lg-2 col-md-12 col-sm-12 col-xs-12">
   <input type="submit" class="btn btn-success  bg-btn bold" value="Submit"/>
 </div>
</div>
&nbsp;
</div></form>



<!--  -->

<!--Read Only-->


<form name="nsd" ng-submit="saveDetail($event)" ng-if="status">
<div class="row long-box">
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="long-box-head-green">
    Company Details
  </div>
 </div>
</div>
&nbsp;
<div class="row color-white">
<div class="col-lg-12">
<div class="col-lg-2">
<b>Company Name</b>
</div>
<div class="col-lg-8">
{{getdata.name}}
</div>
</div>
</div>
&nbsp;
&nbsp;
<div class="row color-white">
<div class="col-lg-12">
<div class="col-lg-2">
<b>Address Line 1</b>
</div>
<div class="col-lg-8">
{{getdata.addressline1}}
</div>
</div>
</div>
&nbsp;
<div class="row color-white">
<div class="col-lg-12">
<div class="col-lg-2">
<b>Address Line 2</b>
</div>
<div class="col-lg-5">
{{getdata.addressline2}}
</div>
</div>
</div>
&nbsp;
&nbsp;
<div class="row color-white">
<div class="col-lg-12">
<div class="col-lg-2">
<b>Address Line 3</b>
</div>
<div class="col-lg-5">
{{getdata.addressline3}}
</div>
</div>
</div>
&nbsp;
&nbsp;
<div class="row color-white">
<div class="col-lg-12">
<div class="col-lg-2">
<b>City</b>
</div>
<div class="col-lg-2">
{{getdata.city}}
</div>
<div class="col-lg-2">
<b>State</b>
</div>
<div class="col-lg-2">
{{getdata.state}}
</div>
<div class="col-lg-2">
<b>Zipcode</b>
</div>
<div class="col-lg-2">
{{getdata.zipcode}}
</div>
</div>
</div>
&nbsp;
&nbsp;
<div class="row color-white">
<div class="col-lg-12">
<div class="col-lg-2">
<b>Email</b>
</div>
<div class="col-lg-8">
{{getdata.email}}
</div>
</div>
</div>
&nbsp;
&nbsp;
<div class="row color-white">
<div class="col-lg-12">
<div class="col-lg-2">
<b>Contact Us</b>
</div>
{{detail.contact.phone}}
<div class="col-lg-2">
{{getdata.contactphone}}
</div>
<div class="col-lg-1">
Ext
</div>
<div class="col-lg-2">
{{getdata.contactext}}
</div>
</div>
</div>
&nbsp;
&nbsp;
<div class="row color-white">
<div class="col-lg-12">
<div class="col-lg-2">
<b>Fax Us</b>
</div>
<div class="col-lg-2">
{{getdata.faxphone}}
</div>
<div class="col-lg-1">
Ext
</div>
<div class="col-lg-2">
{{getdata.faxext}}
</div>

</div>
&nbsp;
</div>
</div>

&nbsp;
<div class="row">
  
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">  
  <div class="long-box-head-green-round tab">
    <div style="float:left; padding-top:7px;">About Us</div> 

  <div class="pull-right">
   <span class="btn btn-success bg-btn bold" ng-click="updateAboutus($event,getdata.aboutus)" ng-hide="!aboutushow">Update</span>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <span class="btn btn-success active  bg-btn bold" ng-click="saveAboutus($event,getdata.aboutus)" ng-show="!aboutushow">Save</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="btn btn-success active bg-btn bold" ng-click="cancelAboutus($event)"ng-show="!aboutushow">Cancel</span>&nbsp;&nbsp;&nbsp;
   </div>
  </div>
 </div>
</div>
<br/>
<div class="row viewbox" style="{{getdata.aboutusbgcolor}}" ng-if="aboutushow" >
<div class="col-lg-12"  ng-bind-html="getdata.about_us_html" >  
</div>
</div>
{{}}
<div class="row" ng-if="!aboutushow">
<div class="col-lg-12">
<wysiwyg textarea-id="aboutus" textarea-image="{{getdata.aboutusbgcolor}}"  textarea-class="form-control textBox"  textarea-height="108px" textarea-name="aboutus"  ng-model="getdata.aboutus" enable-bootstrap-title="false" ></wysiwyg>
</div>
</div>
&nbsp;

&nbsp;
<div class="row">
  
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="long-box-head-green-round tab">
 
    <div style="float:left; padding-top:7px;">Clients</div>
   
   <div class="pull-right">
    <span class="btn btn-success bg-btn bold" ng-click="updateClients($event,getdata.clients)" ng-hide="!clients">Update</span>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="btn btn-success active bg-btn bold" ng-click="saveClients($event,getdata.clients)"ng-show="!clients">Save</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="btn btn-success active bg-btn bold" ng-click="cancelClients($event,getdata.clients)"ng-show="!clients">Cancel</span>&nbsp;&nbsp;&nbsp;</div>
  </div>
 </div>
</div>
<br/>
<div class="row viewbox" style="{{getdata.clientsbgcolor}}" ng-if="clients" >
<div class="col-lg-12" ng-bind-html="getdata.clients_html" >  
</div>
</div>
<div class="row" ng-if="!clients">
<div class="col-lg-12">
<wysiwyg textarea-id="t_c_cust_reg" textarea-image="{{getdata.clientsbgcolor}}" textarea-class="form-control textBox"  textarea-height="108px" textarea-name="t_c_cust_reg"  ng-model="getdata.clients" enable-bootstrap-title="false" ></wysiwyg>
</div>
</div>
&nbsp;

&nbsp;
<div class="row">
  
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="long-box-head-green-round tab">
    <div style="float:left; padding-top:7px;">FAQ</div>   
     <div class="pull-right">
    <span class="btn btn-success bg-btn bold" ng-click="updatefaq($event,getdata.faq)" ng-hide="!faq">Update</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="btn btn-success active bg-btn bold" ng-click="savefaq($event,getdata.faq)" ng-show="!faq">Save</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="btn btn-success active bg-btn bold" ng-click="cancelfaq($event)"ng-show="!faq">Cancel</span>&nbsp;&nbsp;&nbsp;</div>
  </div>
 </div>
</div>
<br/> 
<div class="row viewbox" style="{{getdata.faqbgcolor}}" ng-if="faq" >
<div class="col-lg-12" ng-bind-html="getdata.faq_html" >  
</div>
</div>
<div class="row" ng-if="!faq">
<div class="col-lg-12">
<wysiwyg textarea-id="t_c_cust_reg" textarea-image="{{getdata.faqbgcolor}}" textarea-class="form-control textBox"  textarea-height="108px" textarea-name="t_c_cust_reg"  ng-model="getdata.faq" enable-bootstrap-title="false" ></wysiwyg>
</div>
</div>
&nbsp;

&nbsp;
<div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="long-box-head-green-round tab">
    <div style="float:left; padding-top:7px;">How To get a Consumer Card</div>
     <div class="pull-right">
  <span class="btn btn-success bg-btn bold" ng-click="updatehowtoget($event,getdata.howtoget)" ng-hide="!howtoget">Update</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span class="btn btn-success active bg-btn bold" ng-click="savehowtoget($event,getdata.howtoget)" ng-show="!howtoget">Save</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="btn btn-success active bg-btn bold" ng-click="cancelhowtoget($event)"ng-show="!howtoget">Cancel</span>&nbsp;&nbsp;&nbsp;
  </div>
  </div>
 </div>
</div>
<br/>
<div class="row viewbox" style="{{getdata.howtogetbgcolor}}" ng-if="howtoget" >
<div class="col-lg-12" ng-bind-html="getdata.howtoget_html" >  
</div>
</div>
<div class="row" ng-if="!howtoget">
<div class="col-lg-12">
<wysiwyg textarea-id="t_c_cust_reg"  textarea-image="{{getdata.howtogetbgcolor}}" textarea-class="form-control textBox"  textarea-height="108px" textarea-name="t_c_cust_reg"  ng-model="getdata.howtoget" enable-bootstrap-title="false" ></wysiwyg>
</div>
</div>
&nbsp;

&nbsp;
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="long-box-red-round">
     Disclaimers
   </div>
 </div>
</div>
&nbsp;


&nbsp;
<div class="row">
 
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="long-box-head-green-round tab">
   <div style="float:left; padding-top:7px;">Get a Card-Sender & Recipient Email Notification</div>
    <div class="pull-right">
    <span class="btn btn-success bg-btn bold" ng-click="updatedic_getcard($event,getdata.dic_getcard)" ng-hide="!dic_getcard">Update</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="btn btn-success active bg-btn bold" ng-click="savedic_getcard($event,getdata.dic_getcard)" ng-show="!dic_getcard">Save</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="btn btn-success active bg-btn bold" ng-click="canceldic_getcard($event)"ng-show="!dic_getcard">Cancel</span>&nbsp;&nbsp;&nbsp;
    </div>
  </div>
 </div>
</div>
<br/>
<div class="row viewbox" style="{{getdata.dic_getcardbgcolor}}" ng-if="dic_getcard" >
<div class="col-lg-12" ng-bind-html="getdata.dic_getcard_html" >  
</div>
</div>
<div class="row" ng-if="!dic_getcard">
<div class="col-lg-12">
<wysiwyg textarea-id="t_c_cust_reg" textarea-image="{{getdata.dic_getcardbgcolor}}" textarea-class="form-control textBox"  textarea-height="108px" textarea-name="t_c_cust_reg"  ng-model="getdata.dic_getcard" enable-bootstrap-title="false" ></wysiwyg>
</div>
</div>
&nbsp;
&nbsp;
<div class="row">
  
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 <div class="long-box-head-green-round tab">
   <div style="float:left; padding-top:7px;">Security Code Email Notification</div>
    <div class="pull-right">
   <span class="btn btn-success bg-btn bold" ng-click="updatedic_security($event,getdata.dic_security)" ng-hide="!dic_security">Update</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <span class="btn btn-success active bg-btn bold" ng-click="savedic_security($event,getdata.dic_security)" ng-show="!dic_security">Save</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="btn btn-success active bg-btn bold" ng-click="canceldic_security($event)"ng-show="!dic_security">Cancel</span>&nbsp;&nbsp;&nbsp;
   </div>
  </div>
 </div>
</div>
<br/>
<div class="row viewbox" style="{{getdata.dic_securitybgcolor}}" ng-if="dic_security" >
<div class="col-lg-12" ng-bind-html="getdata.dic_security_html" >  
</div>
</div>
<div class="row" ng-if="!dic_security">
<div class="col-lg-12">
<wysiwyg textarea-id="t_c_cust_reg" textarea-image="{{getdata.dic_securitybgcolor}}" textarea-class="form-control textBox"  textarea-height="108px" textarea-name="t_c_cust_reg"  ng-model="getdata.dic_security" enable-bootstrap-title="false" ></wysiwyg>
</div>
</div>
&nbsp;
&nbsp;
<div class="row">
  
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 <div class="long-box-head-green-round tab">
   <div style="float:left; padding-top:7px;">Customer & Business Unit Registration Email Notification</div>
    <div class="pull-right">
  <span class="btn btn-success bg-btn bold" ng-click="updatedic_cust_bu_not($event,getdata.dic_cust_bu_not)" ng-hide="!dic_cust_bu_not">Update</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span class="btn btn-success active bg-btn bold" ng-click="savedic_cust_bu_not($event,getdata.dic_cust_bu_not)" ng-show="!dic_cust_bu_not">Save</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="btn btn-success active bg-btn bold" ng-click="canceldic_cust_bu_not($event)"ng-show="!dic_cust_bu_not">Cancel</span>&nbsp;&nbsp;&nbsp;
  </div>
  </div>
 </div>
</div>
<br/>
<div class="row viewbox" style="{{getdata.dic_cust_bu_notbgcolor}}" ng-if="dic_cust_bu_not" >
<div class="col-lg-12" ng-bind-html="getdata.dic_cust_bu_not_html" >  
</div>
</div>
<div class="row" ng-if="!dic_cust_bu_not">
<div class="col-lg-12">
<wysiwyg textarea-id="t_c_cust_reg" textarea-image="{{getdata.dic_cust_bu_notbgcolor}}" textarea-class="form-control textBox"  textarea-height="108px" textarea-name="t_c_cust_reg"  ng-model="getdata.dic_cust_bu_not" enable-bootstrap-title="false" ></wysiwyg>
</div>
</div>
&nbsp;
&nbsp;
<div class="row">
  
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="long-box-head-green-round tab">
   <div style="float:left; padding-top:7px;">Account Profile Update Email Notification</div>
    <div class="pull-right">
  <span class="btn btn-success bg-btn bold" ng-click="updatedic_acc_prof($event,getdata.dic_acc_prof)" ng-hide="!dic_acc_prof">Update</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span class="btn btn-success active bg-btn bold" ng-click="savedic_acc_prof($event,getdata.dic_acc_prof)" ng-show="!dic_acc_prof">Save</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="btn btn-success active bg-btn bold" ng-click="canceldic_acc_prof($event)"ng-show="!dic_acc_prof">Cancel</span>&nbsp;&nbsp;&nbsp;
  </div>
  </div>
 </div>
</div>
<br/>
<div class="row viewbox" style="{{getdata.dic_acc_profbgcolor}}" ng-if="dic_acc_prof" >
<div class="col-lg-12" ng-bind-html="getdata.dic_acc_prof_html" >  
</div>
</div>
<div class="row" ng-if="!dic_acc_prof">
<div class="col-lg-12">
<wysiwyg textarea-id="t_c_cust_reg" textarea-image="{{getdata.dic_acc_profbgcolor}}" textarea-class="form-control textBox"  textarea-height="108px" textarea-name="t_c_cust_reg"  ng-model="getdata.dic_acc_prof" enable-bootstrap-title="false" ></wysiwyg>
</div>
</div>
&nbsp;
&nbsp;
<div class="row">
  
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 <div class="long-box-head-green-round tab">
  <div style="float:left; padding-top:7px;">Customer Expenditure Email Notification</div>
   <div class="pull-right">
    <span class="btn btn-success bg-btn bold" ng-click="updatedic_cust_expe($event,getdata.dic_cust_expe)" ng-hide="!dic_cust_expe">Update</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="btn btn-success active bg-btn bold" ng-click="savedic_cust_expe($event,getdata.dic_cust_expe)" ng-show="!dic_cust_expe">Save</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="btn btn-success active bg-btn bold" ng-click="canceldic_cust_expe($event)"ng-show="!dic_cust_expe">Cancel</span>&nbsp;&nbsp;&nbsp;
    </div>
  </div>
 </div>
</div>
<br/>
<div class="row viewbox" style="{{getdata.dic_cust_expebgcolor}}" ng-if="dic_cust_expe" >
<div class="col-lg-12" ng-bind-html="getdata.dic_cust_expe_html" >  
</div>
</div>
<div class="row" ng-if="!dic_cust_expe">
<div class="col-lg-12">
<wysiwyg textarea-id="t_c_cust_reg" textarea-image="{{getdata.dic_cust_expebgcolor}}" textarea-class="form-control textBox"  textarea-height="108px" textarea-name="t_c_cust_reg"  ng-model="getdata.dic_cust_expe" enable-bootstrap-title="false" ></wysiwyg>
</div>
</div>
&nbsp;
&nbsp;
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="long-box-red-round">
     Terms & Conditions
   </div>
 </div>
</div>
&nbsp;
&nbsp;
<div class="row">
 
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="long-box-head-green-round tab">
   <div style="float:left; padding-top:7px;">Customer Registration</div>
 <div class="pull-right">
   <span class="btn btn-success bg-btn bold" ng-click="updatet_c_cust_reg($event,getdata.t_c_cust_reg)" ng-hide="!t_c_cust_reg">Update</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <span class="btn btn-success active bg-btn bold" ng-click="savet_c_cust_reg($event,getdata.t_c_cust_reg)" ng-show="!t_c_cust_reg">Save</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="btn btn-success active bg-btn bold" ng-click="cancelt_c_cust_reg($event)"ng-show="!t_c_cust_reg">Cancel</span>&nbsp;&nbsp;&nbsp;
   </div>
  </div>
 </div>
</div>
<br/>
<div class="row viewbox" style="{{getdata.t_c_cust_regbgcolor}}" ng-if="t_c_cust_reg" >
<div class="col-lg-12" ng-bind-html="getdata.t_c_cust_reg_html" >  
</div>
</div>
<div class="row" ng-if="!t_c_cust_reg">
<div class="col-lg-12">
<wysiwyg textarea-id="t_c_cust_reg" textarea-image="{{getdata.t_c_cust_regbgcolor}}" textarea-class="form-control textBox"  textarea-height="108px" textarea-name="t_c_cust_reg"  ng-model="getdata.t_c_cust_reg" enable-bootstrap-title="false" ></wysiwyg>
</div>
</div>
&nbsp;
&nbsp;
<div class="row">
  
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="long-box-head-green-round tab">
  <div style="float:left; padding-top:7px;">Business Unit Registration</div>
  <div class="pull-right">
    <span class="btn btn-success bg-btn bold" ng-click="updatet_c_bus_reg($event,getdata.t_c_bus_reg)" ng-hide="!t_c_bus_reg">Update</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="btn btn-success active bg-btn bold" ng-click="savet_c_bus_reg($event,getdata.t_c_bus_reg)" ng-show="!t_c_bus_reg">Save</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="btn btn-success active bg-btn bold" ng-click="cancelt_c_bus_reg($event)"ng-show="!t_c_bus_reg">Cancel</span>&nbsp;&nbsp;&nbsp;
    </div>
  </div>
 </div>
</div>
<br/>
<div class="row viewbox" style="{{getdata.t_c_bus_regbgcolor}}" ng-if="t_c_bus_reg" >
<div class="col-lg-12" ng-bind-html="getdata.t_c_bus_reg_html" >  
</div>
</div>
<div class="row" ng-if="!t_c_bus_reg">
<div class="col-lg-12">
<wysiwyg textarea-id="t_c_cust_reg" textarea-image="{{getdata.t_c_bus_regbgcolor}}" textarea-class="form-control textBox"  textarea-height="108px" textarea-name="t_c_cust_reg"  ng-model="getdata.t_c_bus_reg" enable-bootstrap-title="false" ></wysiwyg>
</div>
</div>
&nbsp;

  
</div></form>


</section>
<!--  -->

