﻿<header class="header" ng-controller="headerController">  
  <div class="row">
	  <div class="col-lg-12"> 
	  	<div> <p class="text-center logo">Dummy Logo</p></div>
	  </div>
  </div>

  
  <div class="col-lg-3 col-md-3 col-sm-5 pull-right" data-ng-show="authentication.user">
      <div class="btn-group" dropdown is-open="status.isopen">
          <span class="btn dropdown-toggle" dropdown-toggle ng-disabled="disabled">
           <b> {{authentication.user.username}}</b></span>
            <span class="btn" ><a style="color:black" href="/auth/signout"><b>Sign out</b></a></span>
 </div>
 </div>
   <div class="col-lg-3 col-md-3 col-sm-5 pull-right" data-ng-show="!authentication.user">
            <span class="btn" ><a style="color:black" href="#!/"><b>Sign In</b></a></span>
 </div>


  <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <div class="main-head">
     Consumer Card Controller
     </div>
   </div>
 </div>

  </header>
  



