﻿<footer class="footer">
<ul class="nav-pills"><li><a href="#!/aboutus">About Us</a>||</li>
<li><a href="#!/disclaimers">Disclaimer</a>||</li>
<li><a href="#!/clients">Clients </a>||</li>
<li><a href="#!/faq">FAQ </a>||</li>
<li><a href="#!/howtoget">How to get a Consumer Card </a>||</li>
<li><a href="#!/">Do business with us </a>||</li>
<li><a href="#!/">Careers</a></li>
</ul>
</footer>