<style>
.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>
<script type="text/ng-template" id="custom-datepicker.html">
    <div class="enhanced-datepicker">
        <div class="proxied-field-wrap">
            <input style="color:grey;border:1px solid;border-radius:4px"  class="form-control"  ui-date-format="mm/dd/yy" type="text"  ng-model="ngModel"
             ui-date="dateOptions"/>
        </div>
        <label>
            
           
        </label>
    </div>
</script>
<script type="text/ng-template" id="modalDialogId">
   <div class="ngdialog-message">
     <h3>Temporary Password:</h3>
     <input type="text" placeholder="Enter Temporary Password" ng-model="temp_pass"/>
    
   </div>
   <div class="ngdialog-buttons">
   <input type="hidden" ng-model="confirmValue" value="yes" >
     <button type="button" ng-model="yes" class="ngdialog-button ngdialog-button-primary" ng-click=confirm(temp_pass) >Ok</button>
     <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click=closeThisDialog('no')>No</button>
   </div>

</script>


<section ng-controller="contProfileController" ng-init="getInit()">
  &nbsp;
  <section ng-include="'/modules/controller/views/top-header.client.view.html'"></section>
  &nbsp;
  <div class="row">
  <div class="col-lg-offset-6 col-lg-6 ">
  <button class="btn btn-success pull-right bold" ng-click="showAddView()">Add Controller</button>  
  </div>
  </div>
    <div class="row">          
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
  <div class="error-msg" style="text-align:center">
                                 <i >{{successmsg}}</i>
                                
                          </div>
                          </div>
                          </div> 
  <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <i style="color:red;text-align:center">{{notfounderror}}</i>

    </div>
    </div>
  &nbsp;
  <!--Search Sales Tax Block Start -->
  <div class="row long-box" ng-if="searchcontrol">
    <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="long-box-head-green bold">
       <strong> Search Controllers</strong>
      </div>
     </div>
 </div>
&nbsp;
<form ng-submit="searchResult($event)">
<div class="row color-white">
<div class="col-lg-12">
<div class="col-lg-2 bold">Effective Date:</div>
<div class="col-lg-2">
<p>
<input type="text" ng-model="search.eff_date"  data-ng-date class="form-control" />
</p>

</div>
<div class="col-lg-2 bold">End Date:</div>
<div class="col-lg-2">
<p >
<input type="text" ng-model="search.end_date"  data-ng-date class="form-control"/>
</p>
</div>
<div class="col-lg-2 bold">Controller Name:</div>
<div class="col-lg-2"><input type="type" typeahead="dept for dept in searchController($viewValue)" typeahead-loading="loadingLocations" class="form-control" ng-model="search.controllername"/> </div>
</div>
</div>
&nbsp;
<div class="row">
<div class="col-lg-offset-10 col-lg-2">
<input type="submit" class="btn btn-success bg-btn bold" value="Search"/>

</div>
&nbsp;
</div>
</div>
</form>
&nbsp;
<!--Row Search Results Long box-->
<div class="row color-white long-box" ng-if="searchresults">
  <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <div class="long-box-head-green bold">
     <strong>Search Results</strong>
     </div>
   </div>
 </div>
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
<table class="table  text-center">
<thead>
  <tr>
    <th>Controller Name</th>
    <th>User Id</th>
    <th>Access Type</th>
    <th>Effective Date</th>
    <th>End Date</th>
    <th>Update Date</th>
    <th>Last Updated Date</th>
    <th>Last Updated By</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>

<tr ng-repeat="dat in datas" ng-include="getTemplate(dat)">
{{dat}}
 

<script type="text/ng-template" id="display">

<td>{{dat.firstname}} {{ dat.lastname }}</td>
<td>{{dat.username}}</td>
<td>{{dat.userRole}}</td>
<td>{{dat.eff_date | date:'MM/dd/yyyy'}}</td>
<td>{{dat.end_date | date:'MM/dd/yyyy'}}</td>
<td>{{dat.update_date | date:'MM/dd/yyyy'}}</td>
<td>{{dat.last_date | date:'MM/dd/yyyy'}}</td>
<td>{{dat.last_update_by}}</td>
<td><button class="btn  btn-xs" title="Edit" ng-click="editRow(dat)"><i class="fa fa-pencil-square-o" style="color:#000"></i></button>&nbsp; <button class="btn btn-success bg-btn bold" ng-click="resetPass($event,dat)">Reset Password</button></td>
</script>
<script type="text/ng-template" id="edit">  
<td>{{dat.firstname}} {{ dat.lastname }}</td>
<td>{{dat.username}}</td>
{{dat.userRole}}
<td><select class="form-control" ng-model="data.user_type"  value="{{dat.user_type}}" required >
   <option value="Super User">Super User</option>
   <option value="Admin">Admin</option>
 </select></td>
<td>{{dat.eff_date | date:'MM/dd/yyyy'}}</td>
<td>
{{dat.end_data}}
<input type="text" ng-model="data.end_date"  date-options="dateOptions" custom-datepicker/></td>
<td>{{dat.update_date | date:'MM/dd/yyyy'}}</td>
<td>{{dat.last_date | date:'MM/dd/yyyy'}}</td>
<td>{{dat.last_update_by}}</td>
<td><span ng-click="updateRow($event,dat)" class="btn btn-success bg-btn bold">Save</span> &nbsp; <button class="btn btn-success bg-btn bold" ng-click="cancelRow($event,dat)">Cancel</button></td>
   </script>  
   </tr>
</tbody>
</table>
</div>
</div>
</div>
<!--Row Long box end-->
  <!--End-->
  

  &nbsp;
<!--Add Controller Form Block-->
<div class="row color-white long-box" ng-if="addcontview">
  <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <div class="long-box-head-green">
     Add Controllers
     </div>
   </div>
 </div>
 &nbsp;
 
 <form  name="controllerForm" data-ng-submit="saveController($event)" >

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
<div class="col-lg-3 bold">
Effective Date <span class="asterisk"></span>
</div>
<div class="col-lg-3">
<input type="text" ng-model="data.eff_date" date-options="dateOptions" data-ng-date class="form-control"/>
</div>
<div class="col-lg-3 bold">
End Date <span class="asterisk"></span>
</div>
<div class="col-lg-3">
<input type="text" ng-model="data.end_date" date-options="dateOptions" data-ng-date class="form-control"/>
</div>
</div>
</div>
 &nbsp;
&nbsp;
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
<div class="col-lg-3 bold">
First Name <span class="asterisk"></span>
</div>
<div class="col-lg-3">
<input type="text" class="form-control" ng-model="data.firstname" required/>
</div>

<div class="col-lg-1 bold" >MI <input type="text" class="form-control" style="width:27%;display:inline" ng-model="data.miname"/>
</div>
<div class="col-lg-2 bold">
Last Name <span class="asterisk"></span>
</div>
<div class="col-lg-3">
<input type="text" class="form-control" ng-model="data.lastname" required />
</div>
</div>
</div>
 &nbsp;
 <div class="row">
 <div class="col-lg-12">
 <div class="col-lg-3 bold">
 User Id<span class="asterisk"></span></div>
 <div class="col-lg-3"><input type="text" class="form-control" ng-model="data.username" required ></div>
 </div>

 </div>
 <div class="error-msg" style="padding-left:315px;"><i >{{passwordresetmsg}}</i></div>
 &nbsp;
  &nbsp;
 <div class="row">
 <div class="col-lg-12">
 <div class="col-lg-3 bold">
 Temporary Password<span class="asterisk"></span></div>
 <div class="col-lg-3"><input type="text" class="form-control" ng-model="data.temp_pass" required ></div>
 </div>
 </div>
 &nbsp;
  &nbsp;
 <div class="row">
 <div class="col-lg-12">
 <div class="col-lg-3 bold">
 SSN/Tax Id<span class="asterisk"></span></div>
 <div class="col-lg-3"><input type="text" class="form-control" ng-model="data.ssn_tax" required ></div>
 </div>
 </div>
 &nbsp;

  &nbsp;
 <div class="row">
 <div class="col-lg-12">
 <div class="col-lg-3 bold">
 User Type<span class="asterisk" ></span></div>
 <div class="col-lg-3">
 <select class="form-control" ng-model="data.userRole" required >
  <option value="">--Select User Type--</option> 
   <option value="Super User">Super User</option>
   <option value="Admin">Admin</option>
 </select></div>
 </div>
 </div>
 &nbsp;
   &nbsp;
 <div class="row">
 <div class="col-lg-12">
 <div class="col-lg-offset-10 col-lg-2">
 <input type="submit" ng-disabled="controllerForm.$invalid" class="btn btn-success" value="Submit"/>
 </div>
 </div>
 </div>
 &nbsp;
 </div>
<!--Add Controller Block End Here-->
</form>


<!--Reset Password Block-->
<div class="row color-white long-box" ng-if="resetPassView">
  <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <div class="long-box-head-green">
     Reset Password
     </div>
   </div>
 </div>
 &nbsp;
 <form  name="resetPasswordForm" data-ng-submit="passwordResetDetail($event)" >

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
<div class="col-lg-3">
UserId 
</div>
<div class="col-lg-3">
<div class="input-group">
<span class="color-white" style="float:right" > {{userid}}</span>                        
</div>
</div>

</div>
</div>
 &nbsp;
 <div class="row">
 <div class="col-lg-12">
 <div class="col-lg-3">
 New Password<span class="asterisk"></span></div>
 <div class="col-lg-3"><input type="password" class="form-control" data-ng-model="resetPassword.newPassword" ng-required="true" placeholder="Enter New Password"></div>
 </div>
 </div>
 &nbsp;
  &nbsp;
 <div class="row">
 <div class="col-lg-12">
 <div class="col-lg-3">
 Confirm Password<span class="asterisk"></span></div>
 <div class="col-lg-3"><input type="password" class="form-control " data-ng-model="resetPassword.verifyPassword" required data-field-verify="resetPassword.newPassword" placeholder="Enter Confirm New Password"  ></div>
 </div>
 </div>
 &nbsp;

 &nbsp;
 <div class="row">
 <div class="col-lg-12">
 <div class="col-lg-offset-3 col-lg-2">
 <input type="submit" ng-disabled="resetPasswordForm.$invalid" class="btn btn-success" value="Reset Password"/>
 </div>
 <div class="col-lg-2">
 <button type="submit" class="btn btn-success" ng-click="cancelblock()" value="Cancel">Cancel</button>
 </div>
 </div>
 </div>
 &nbsp;

 </div>
<!--Add Controller Block End Here-->
</form>




</section>
