<section ng-controller="custProfileController" ng-init="getInit()">
  &nbsp;
  <section ng-include="'/modules/controller/views/top-header.client.view.html'"></section>
  &nbsp;
  <!--Search Sales Tax Block Start -->
  <div class="row long-box">
    <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="long-box-head-green">
        Search Customer
      </div>
     </div>
 </div>
&nbsp;
<div class="row color-white">
<div class="col-lg-12">
<div class="row">
<div class="col-lg-12">
<div class="col-lg-1 bold">State:</div>
<div class="col-lg-2"><select class="form-control" data-ng-change="getTaxRegions()" name="state" data-ng-model="datas.ustate" class="form-control" ng-options="state.name for state in datas.states | orderBy:'name'"><option value="">--Select State--</option></select></div>
<div class="col-lg-2 bold">Tax Region:</div>
<div class="col-lg-3"><select name="state"     data-ng-model="datas.taxregion" ng-disabled="selectOption" class="form-control" ng-options="state.TaxRegionName for state in datas.taxregions | orderBy:'name' | unique:'TaxRegionName'" ng-change="setZipCode($event,formdata.user.taxregion)">
<option value="">--Select Tax Region--</option>  
</select></div>
<div class="col-lg-2 bold">BU Name:</div>
<div class="col-lg-2"><input type="text" typeahead="dept.name for dept in searchDepartment($viewValue) " typeahead-loading="loadingLocations"  class="form-control" ng-model="datas.buname" placeholder="Type BU Name"/>
<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> </div>

</div>
</div>
&nbsp;
<div class="row">
<div class="col-lg-12">
<div class="col-lg-1 bold">City:</div>
<div class="col-lg-2"><input type="type" class="form-control" typeahead="dept for dept in searchCities($viewValue) " typeahead-loading="loadingCities" ng-model="datas.city" placeholder="Type City Name"/> 
<i ng-show="loadingCities" class="glyphicon glyphicon-refresh"></i>
</div>
<!-- <div class="col-lg-2 bold">Order Confirmation#:</div>
<div class="col-lg-3"><input type="type" class="form-control"  ng-model="datas.confirmation" placeholder="Enter Order Confirmation #"/> 

</div> -->
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="col-lg-offset-9 col-lg-1">
<button class="btn btn-success  bg-btn bold "  ng-click="getSearchResult($event)" > Search</button>
</div>
</div>
&nbsp;

</div></div>

</div>
</div>
&nbsp;
<div class="row">
<div class="col-lg-offset-10 col-lg-2">

&nbsp;
</div>
</div>
&nbsp;
<!--Row Search Results Long box-->
<div class="row color-white long-box" >
  <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <div class="long-box-head-green">
     Search Results
     </div>
   </div>
 </div>
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

<table class="table  text-left"  >
<thead>
  <tr>
    <th>Business Unit Name</th>
    <th>Tax Id</th>
    <th>Card Type</th>
    <th>Card Name</th>
    <th>Consumer Card #</th>
    <th>Customer Name(s)</th>
    <th>Primary Email</th>
    <th>Primary Phone</th>
    
  </tr>
</thead>

<tbody  ng-if="checkfortable1">

<tr ng-repeat="dat in giftcards">

<td ng-click="clientView()">{{dat.buname}}</td>
<td ng-click="clientView()">{{dat.taxid}}</td>
<td ng-click="clientView()">{{dat.cardtype}}</td>
<td>{{dat.cardname}}</td>
<td ng-click="clientView()">{{dat.cardNumber}}</td>
{{$index}}
<td><span ng-repeat="name in dat.names">{{name}}<span ng-if="$index < dat.names.length-1">,</span></span></td>
<td ng-click="clientView()">{{dat.email}}</td>
<td ng-click="clientView()">{{dat.phone}}</td>


</tr>
</tbody>




<tbody  ng-if="checkfortable2">

<tr ng-repeat="dat in getUserDetail">

<td ng-click="clientView()">{{dat.data.name}}</td>
<td>{{dat.data.userId.taxid}}</td>
<td class="captiliase">{{dat.cardtype}}</td>
<td>{{dat.cardname}}</td>

<td><ul class="nostyle" >
<li ng-repeat="card in dat.customer"><ul class="nostyle"><li ng-repeat="data in card.cards">{{data.cardNumber}}</li></ul><br/> </li>
</ul></td>
<td><ul class="nostyle">
<li ng-repeat="card in dat.customer"><ul class="nostyle"><li ng-repeat="data in card.names">{{data}}</li></ul> <br/></li>
</ul></td>
<td><ul class="nostyle">
<li ng-repeat="card in dat.customer">{{card.email}}</li>
</ul></td>
<td><ul class="nostyle">
<li ng-repeat="card in dat.customer">{{card.phone}}</li>
</ul></td>
</tr>
</tbody>
<tbody  ng-if="checkfortable3">
<tr>
<td colspan="8"class="error-msg" style="text-align:center"><i>{{giftcards[0].data}}</i></td>
</tr>
</tbody>
<tbody  ng-if="checkfortable4">
<tr ng-repeat="dat in getuserdetail">
{{dat}}
<td ng-click="clientView()">{{dat.data.name}}</td>
<td>{{dat.data.userId.taxid}}<br/>
</ul></td>
<td><ul class="nostyle captiliase" >
<li ng-repeat="card in dat.data.cards">{{card.type}} </li><br/>
</ul></td>
<td style="width:15%"><ul class="nostyle" >
<li ng-repeat="card in dat.data.cards">{{card.name}} </li><br/>
</ul></td>
<td><ul class="nostyle" >
<li ng-repeat="card in dat.data.cards">{{card.cardNumber}} </li><br/>
</ul></td>

<td><ul class="nostyle">
<li ng-repeat="card in dat.cards">
<span  ng-repeat="data in card.names">{{data}} <i ng-if="card.names.length>1">,</i></span>
</li>
</ul></td>
<td><ul class="nostyle" >
<li ng-repeat="card in dat.cards">{{card.email}} </li><br/>
</ul></td>
<td><ul class="nostyle" >
<li ng-repeat="card in dat.cards">{{card.phone}} </li><br/>
</ul></td></tr>
</tbody>
<tbody  ng-if="checkfortable5">
<tr ng-repeat="dat in getuserdetail">
{{dat}}
<td ng-click="clientView()">{{dat.data.name}}</td>
<td>{{dat.data.userId.taxid}}<br/>
</ul></td>
<td><ul class="nostyle captiliase" >
<li ng-repeat="card in dat.cards">{{card.type}} </li><br/>
</ul></td>
<td style="width:15%"><ul class="nostyle" >
<li ng-repeat="card in dat.cards">{{card.name}} </li><br/>
</ul></td>
<td><ul class="nostyle" >
<li ng-repeat="card in dat.cards">{{card.cardNumber}} </li><br/>
</ul></td>

<td><ul class="nostyle">
<li ng-repeat="card in dat.cards">
<span  ng-repeat="data in card.names">{{data}} <i ng-if="card.names.length>1">,</i></span>
</li>
</ul></td>
<td><ul class="nostyle" >
<li ng-repeat="card in dat.cards">{{card.email}} </li><br/>
</ul></td>
<td><ul class="nostyle" >
<li ng-repeat="card in dat.cards">{{card.phone}} </li><br/>
</ul></td></tr>
</tbody>
<tbody ng-if="checkformsg">
<tr><td colspan="7" class="error-msg"><i>{{errormsg}}</i></td></tr>
</tbody>
</table>
</div>
</div>
</div>
<!--Row Long box end-->
</section>
  <!--End-->



</section>