<section class="contents ready" data-ng-controller="cardController" data-ng-init="getReadyInit()">

<div class="row">
<div ng-bind-html="faq" class="content-box" style="{{faqbgcolor}}"></div>


</div>
</section>