<section class="contents ready" data-ng-controller="signController" data-ng-init="init()">

<div class="row">
<div ng-bind-html="howtoget" class="content-box" style="{{howtogetbgcolor}}"></div>


</div>
</section>