<section class="contents" data-ng-controller="signController">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="blank"> </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form>
                <div class="container-box col-lg-offset-3 col-md-offset-3  col-sm-offset-2 col-lg-6 col-md-3 col-sm-8 ">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Change Password</h4> </div>
                    </div> &nbsp;
                    <div class="row">
                        <div class="col-sm-4 pull-left">
                            <p class="black-color pull-left">Temporary Password</p>
                        </div>
                        <div class="col-sm-8">
                            <div class="input-group ">
                                <input type="text" class="form-control" placeholder="Enter Temporary Password" data-ng-model="passwordDetails.temp_pass" name="temp_pass" ng-required="true" /> <i class="input-group-addon" data-ng-click="passwordDetails.temp_pass = '' ">X</i> </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="black-color pull-left"> Create New Password
                                <br> </p>
                        </div>
                        <div class="col-sm-8">
                            <div class="input-group ">
                                <input type="password" class="form-control" placeholder="Create New Password" data-ng-model="passwordDetails.newPassword" name="newPassword" ng-required="true" /> <i class="input-group-addon" data-ng-click="passwordDetails.newPassword = '' ">X</i> </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="black-color pull-left"> Confirm New Password
                                <br> </p>
                        </div>
                        <div class="col-sm-8">
                            <div class="input-group ">
                                <input type="password" class="form-control" placeholder="Confirm New Password" data-ng-model="passwordDetails.verifyPassword" name="confirmpassword" data-field-verify="passwordDetails.newPassword" ng-required="true" /> <i class="input-group-addon" data-ng-click="passwordDetails.verifyPassword = '' ">X</i> </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> </div>
                        <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-12 col-xs-offset-4 col-lg-4 col-md-6 col-sm-6 col-xs-6">
                            <input class="btn btn-success" value="Submit" ng-click="resetUserPassword(passwordDetails)" type="submit"> </div>
                    </div>
                    <div data-ng-show="error" class="text-center text-danger"> <strong data-ng-bind="error"></strong> </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="blank"> </div>
        </div>
    </div>
    </div>
</section>