<section ng-controller="salesTaxController" data-ng-init="initApp()"> &nbsp;
  <section ng-include="'/modules/controller/views/top-header.client.view.html'"></section> &nbsp;
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <div class="error-msg" style="text-align:center"> <i>{{successmsg}}</i>
        <br/> </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class=" col-lg-offset-2 col-lg-4">
        <input type="text" class="form-control" ng-model="textfile" /> </div>
      <div class="col-lg-6 ">
        <button class="btn btn-success  bg-btn bold" ngf-accept="'.csv'" ngf-select="selectFile(taxfile)" ng-model="taxfile" multipart="true">Browse</button> &nbsp;
        <button class="btn btn-success  bg-btn bold" ng-click="uploadFiles(taxfile);" ng-disabled="check">Upload Taxes</button>
      </div>
    </div>
  </div>
  </div>
  <!--Search Sales Tax Block Start -->
  <div class="row long-box">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="long-box-head-green"> Search Sales Tax </div>
      </div>
    </div> &nbsp;
    <div class="row color-white">
      <div class="col-lg-12">
        <div class="col-lg-2 bold">State:</div>
        <div class="col-lg-2">
          <select name="state" data-ng-model="data.user.ustate" class="form-control" ng-options="state.name for state in data.states | orderBy:'name'" data-ng-change="getTaxRegions()">
            <option value="">--Select State--</option>
          </select>
        </div>
        <div class="col-lg-2 bold">Tax Region</div>
        <div class="col-lg-2">
          <select name="taxregion" ng-disabled="show==true" data-ng-model="data.user.taxregion" ng-disabled="selectOption" class="form-control" ng-options="state.TaxRegionName for state in data.taxregions | orderBy:'TaxRegionName' | unique:'TaxRegionName'">
            <option value="">--Select Tax Region--</option>
          </select>
        </div>
        <div class="col-lg-2 bold">Zipcode:</div>
        <div class="col-lg-2">
          <input type="number" maxlength="5" class="form-control" ng-model="data.user.zipcode" /> </div>
      </div>
    </div> &nbsp;
    <div class="row">
      <div class="col-lg-offset-10 col-lg-2">
        <button class="btn btn-success  bg-btn bold" ng-click="searchTax($event)">Search</button>
      </div> &nbsp; </div>
  </div> &nbsp;
  <!--Row Search Results Long box-->
  <div class="row color-white long-box">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="long-box-head-green"> Search Results </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <table class="table  text-center">
          <thead>
            <tr>
              <th><a href="" ng-click="orderByField='statename'; reverseSort = !reverseSort" class="sort_text">State<span ng-show="orderByField == 'statename'">  <span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a></th>
              <th><a href="" ng-click="orderByField='TaxRegionName'; reverseSort = !reverseSort" class="sort_text">Tax Region  <span ng-show="orderByField == 'TaxRegionName'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a></th>
              <th><a href="" ng-click="orderByField='ZipCode'; reverseSort = !reverseSort" class="sort_text">ZipCode  <span ng-show="orderByField == 'ZipCode'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a></th>
              <th>Sales Tax</th>
              <th>State Rate</th>
              <th>County Rate</th>
              <th>City Rate</th>
              <th>Special Rate</th>
              <th>Last Updated Date</th>
              <th>Last Updated By</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody ng-hide="nodata">
            <tr ng-repeat="rec in records | orderBy:orderByField:reverseSort">
              <td ng-click="clientView()">{{statename}}</td>
              <td>{{rec.TaxRegionName}}</td>
              <td>{{rec.ZipCode}}
                <input type="hidden" ng-model="edit.zipcode" value="{{rec.ZipCode}}">
              </td>
              <td><span ng-hide="editactive">{{rec.CombinedRate}}</span>
                <input ng-show="editactive" type="text" ng-model="edit.CombinedRate" style=" width:46%;color:#000;text-align:center;" value="{{rec.CombinedRate}}">
              </td>
              <td><span ng-hide="editactive">{{rec.StateRate}}</span>
                <input ng-show="editactive" type="text" ng-model="edit.StateRate" style=" width:46%;color:#000;text-align:center;" value="{{rec.StateRate}}">
              </td>
              <td><span ng-hide="editactive">{{rec.CountyRate}}</span>
                <input ng-show="editactive" type="text" ng-model="edit.CountyRate" style=" width:46%;color:#000;text-align:center;" value="{{rec.CountyRate}}">
              </td>
              <td><span ng-hide="editactive">{{rec.CityRate}}</span>
                <input ng-show="editactive" type="text" ng-model="edit.CityRate" style=" width:46%;color:#000;text-align:center;" value="{{rec.CityRate}}">
              </td>
              <td><span ng-hide="editactive">{{rec.SpecialRate}}</span>
                <input ng-show="editactive" type="text" ng-model="edit.SpecialRate" style=" width:46%;color:#000;text-align:center;" value="{{rec.SpecialRate}}">
              </td>
              <td>{{rec.lastupdate | date:"MM/dd/yyyy"}}</td>
              <td>{{rec.lastupdateby}}</td>
              <td ng-hide="editactive">
                <button class="btn  btn-xs" title="Edit" ng-click="editactive=true;editAppKey(entry)"> <i style="color:black" class="fa fa-pencil-square-o"></i></button>
              </td>
              <td ng-show="editactive">
                <button class="btn btn-success  bg-btn bold" ng-click="editactive = false;saveEditDetail($event,edit,rec)">Save </button>
              </td>
            </tr>
          </tbody>
          <tbody ng-show="nodata">
            <tr>
              <td colspan="10"> No Data Found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--Row Long box end-->
</section>
<!--End-->
</section>