<section class="contents" data-ng-controller="signController" ng-init="init()">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="blank"> </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="error-msg" style="text-align:center"> <i>{{successmsg}}</i> <i>{{errormsg}}</i> </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form data-ng-submit="signin()" autocomplete="off" ng-if="userType=='customer'">
                <div class="container-box col-lg-offset-4 col-md-offset-6  col-sm-offset-2 col-lg-4 col-md-5 col-sm-8 ">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4><u>Sign-In </u></h4> </div>
                    </div> &nbsp;
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-left">
                            <p class="black-color pull-left">User ID </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="input-group text-field-size">
                                <input type="text" class="form-control" placeholder="User Id" data-ng-model="credentials.username" ng-disabled="userType=='business'" name="username" ng-required="true" /> <i class="input-group-addon" data-ng-click="credentials.username = '' ">X</i> </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <p class="black-color pull-left"> Password
                                <br> </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="input-group text-field-size">
                                <input type="password" class="form-control" placeholder="Password" data-ng-model="credentials.password" ng-disabled="userType=='business'" name="username" ng-required="true" /> <i class="input-group-addon" data-ng-click="credentials.password = '' ">X</i> </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <input class="btn btn-success" ng-disabled="userType=='business'" value="Submit" type="submit"> </div>
                    </div>
                    <div data-ng-show="error" class="text-center text-danger"> <strong data-ng-bind="error"></strong> </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="blank"> </div>
        </div>
    </div>
    </div>
</section>