<div class="row" ng-controller="CheckoutTopNavController">
<div class="col-lg-12">

<div class="btn-group catalog-header" role="group" aria-label="...">
<a class="btn btn-success width150" ng-if="addclienttab" ng-class="{ active: isActive('/controller/addclient')}" href="#!/controller/addclient"><b>Add Clients</b></a>
<a class="btn btn-success width150"  ng-if="updateclienttab" ng-class="{active:isActive('/controller/updateclient')}"
href="#!/controller/updateclient"><b>Update Clients</b></a>
<a class="btn btn-success width150" ng-if="salestaxtab" ng-class="{active:isActive('/controller/salestax')}"
href="#!/controller/salestax"><b>Sales Tax</b></a>
<a class="btn btn-success width150" ng-if="customertab" ng-class="{active:isActive('/controller/custprofile')}"
href="#!/controller/custprofile"><b>Customer Profile</b></a>
<a class="btn btn-success width150" ng-if="controllertab" ng-class="{active:isActive('/controller/contprofile')}"
href="#!/controller/contprofile"><b>Controller Profile</b></a>
<a class="btn btn-success width150"  ng-if="companytab" ng-class="{active:isActive('/controller/company')}"
href="#!/controller/company"><b>Company</b></a>
</div>

</div>




</div>




<!-- 
<div class="row" ng-controller="CheckoutTopNavController">
<div class="col-lg-12">

<div class="btn-group catalog-header" role="group" aria-label="...">
<a class="btn btn-success width150" ng-if="addclienttab" ng-class="{ active: isActive('/controller/addclient')}" href="#!/controller/addclient">Add Client</a>
<a class="btn btn-success width150" ng-if="updateclienttab" ng-class="{active:isActive('/controller/updateclient')}"
href="#!/controller/updateclient">Update Client</a>
<a class="btn btn-success" ng-if="salestaxtab" ng-class="{active:isActive('/controller/salestax')}"
href="#!/controller/salestax">Sales Tax</a>
<a class="btn btn-success" ng-if="custprofiletab" ng-class="{active:isActive('/controller/custprofile')}"
href="#!/controller/salestax">Customer Profile</a>
<a class="btn btn-success" ng-if="contprofiletab" ng-class="{active:isActive('/controller/contprofile')}"
href="#!/controller/salestax">Controller Profile</a>
<a class="btn btn-success" ng-if="companytab" ng-class="{active:isActive('/controller/company')}"
href="#!/controller/salestax">Company</a>
</div>

</div>




</div> -->