<script type="text/ng-template" id="tree_item_renderer.html">
    <!-- Show Category -->
    <div class="col-lg-5" ng-show="!category.edit">
        <p class="color-white"> <span ng-show="!category.expanded">
                <b><span ng-click="category.expanded = true"  class="bold"> (+) </span> <u>History</u></b>
            </span> <span ng-show="category.expanded">
                <b><span  ng-click="category.expanded = false" class="bold"> (-) </span><u> History</u></b>
            </span>
        </p>
    </div>
    <div class="row" style='padding-left:10px;' ng-show="category.expanded">
                        <div ng-bind-html="data"></div>

        <div class="col-lg-12 sub-category" ng-repeat="data in historydata  | orderBy: data.update_date:reverse">
            <div class="col-lg-6">
                <span class="yellow-bold">{{data.update_date | date:"MM/dd/yyyy" }}: Updated by {{data.updateby}}</span>
                <p><b><u>Before</u>:</b>
                    <br/>
                    <ul class="nostyle">
                        <li ng-repeat="li in data.before track by $index">
                        <span class="bold">{{li.tag}}</span>:<span>{{li.data}}</span></li>
                    </ul>
                </p>

                <p><b><u>After</u>:</b>
                    <br/>
                    <ul class="nostyle">
                        <li ng-repeat="li in data.after track by $index">
                        <span class="bold">{{li.tag}}</span>:<span>{{li.data}}</span></li>
                    </ul>
                </p>

                <hr>
            </div>
        </div>
    </div>
</script>
<section ng-controller="updateClientController" data-ng-init="getInit()"> &nbsp;
    <section ng-include="'/modules/controller/views/top-header.client.view.html'"></section> &nbsp;
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="error-msg" style="text-align:center"> <i>{{errormsg}}</i> </div>
        </div>
    </div>
    <div class="row color-white long-box" ng-if="searchclient">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="long-box-head-green"> Search Clients </div>
            </div>
        </div>
        <script type="text/ng-template" id="custom-datepicker.html">
            <div class="enhanced-datepicker">
                <div class="proxied-field-wrap">
                    <input style="color:grey;" class="form-control" type="text" ui-date-format="mm/dd/yy" ng-model="ngModel" ui-date="dateOptions" /> </div>
                <label> </label>
            </div>
        </script> &nbsp;
        <!--First Row-->
        <div class="row color-white pad">
            <div class="col-lg-3 bold"> Business Unit Name: </div>
            <div class="col-lg-3">
                <input type="text" typeahead="dept.name for dept in searchDepartment($viewValue) " typeahead-loading="loadingLocations" class="form-control" ng-model="search.buname" /> <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> </div>
            <div class="col-lg-3 bold"> Tax Id: </div>
            <div class="col-lg-3">
                <input type="text" class="form-control" ng-model="search.taxid" /> </div>
        </div> &nbsp;
        <!--Second Row-->
        <div class="row color-white pad">
            <div class="col-lg-3 bold"> Owner Name: </div>
            <div class="col-lg-3">
                <input type="text" class="form-control" ng-model="search.ownername" /> </div>
            <div class="col-lg-3 bold"> Address Line 1: </div>
            <div class="col-lg-3">
                <input type="text" class="form-control" ng-model="search.address1" /> </div>
        </div> &nbsp;
        <!--Third Row-->
        <div class="row color-white pad">
            <div class="col-lg-3 bold"> Access Code: </div>
            <div class="col-lg-3">
                <input type="text" class="form-control" ng-model="search.access" /> </div>
            <div class="col-lg-3 bold"> Confirmation #: </div>
            <div class="col-lg-3">
                <input type="text" class="form-control" ng-model="search.confirmation" /> </div>
        </div> &nbsp;
        <!--Fourth Row-->
        <div class="row color-white pad">
            <div class="col-lg-3 bold"> Status: </div>
            <div class="col-lg-3">
                <select class="form-control" ng-model="search.status">
                    <option value="">Select Status</option>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
            </div>
            <div class="col-lg-offset-9 col-lg-3 ">
                <button class="btn btn-success bg-btn bold" ng-click="onSearch($event)">Search </button> &nbsp; </div> &nbsp; </div> &nbsp; </div> &nbsp;
    <br/>
    <!--Search Results Data-->
    <div class="row color-white long-box" ng-if="searchresults">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="long-box-head-green"> Search Results </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <table class="table  text-center">
                    <thead>
                        <tr>
                            <th>Business Unit Name</th>
                            <th>Tax Id</th>
                            <th>Access Code</th>
                            <th>Confirmation#</th>
                            <th>Effective Date</th>
                            <th>End Date</th>
                            <th>Update Date</th>
                            <th>Status </th>
                        </tr>
                    </thead>
                    <tbody ng-if="departab">
                        <tr ng-repeat="dat in showdata.data">
                            <td ng-click="clientView($event,dat.uniqueCode,dat.dptnu)"><strong style="color:#000;" class="anchorlink">{{dat.vendorId.name}}</strong> </td>
                            <td><strong style="color:#000;">{{dat.taxid}}</strong> </td>
                            <td>{{dat.vendorId.accessCode}}</td>
                            <td>{{dat.confirmation}}</td>
                            <td>{{dat.eff_date | date:'MM/dd/yyyy'}}</td>
                            <td>{{dat.end_date | date:'MM/dd/yyyy'}}</td>
                            <td>{{dat.upd_date | date:'MM/dd/yyyy'}}</td>
                            <td>{{dat.status}}</td>
                        </tr> {{message}} </tbody>
                    <tbody ng-if="usertab">
                        <tr ng-repeat="dat in showdata.data">
                            <td ng-click="clientView($event,dat.uniqueCode,dat.dptnu)"><strong style="color:#000;" class="anchorlink">{{dat.name}}</strong> </td>
                            <td><strong style="color:#000;">{{dat.userId.taxid}}</strong> </td>
                            <td>{{dat.accessCode}}</td>
                            <td>{{dat.userId.confirmation}}</td>
                            <td>{{dat.userId.eff_date | date:'MM/dd/yyyy'}}</td>
                            <td>{{dat.userId.end_date | date:'MM/dd/yyyy'}}</td>
                            <td>{{dat.userId.upd_date | date:'MM/dd/yyyy'}}</td>
                            <td>{{dat.userId.status}}</td>
                        </tr> {{message}} </tbody>
                    <tbody ng-if="nodatatab">
                        <tr>
                            <td colspan="7"> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--Client View Page-->
    <div ng-if="clientviewpage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="long-box-head-green-round tab-noradious">
                    <div class="pull_left">Primary Details</div>
                    <div class="pull-right"> <span class="btn btn-success pull-right bg-btn bold" ng-hide="dataEditorEnabled" ng-click="enableEditor('dataEditorEnabled')">Update</span> <span class="btn btn-success pull-right bg-btn bold" ng-show="dataEditorEnabled" ng-click="CancelButtonDisableEditor('dataEditorEnabled',dptnu)">Cancel</span> <span href="!#" class="btn btn-success pull-right bg-btn bold" ng-show="dataEditorEnabled" ng-disabled="primarydetails" ng-click="save('dataEditorEnabled', 'email')" style="margin-right:10px;">Save</span></div>
                </div>
            </div>
        </div> &nbsp;
        <form>
            <div class "row" ng-hide="dataEditorEnabled">
                <div class="row color-white">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-4"><b>Effective Date</b>:{{update.userdata.eff_date | date:"MM/dd/yyyy"}}</div>
                        <div class="col-lg-4"><b>End Date</b>:{{update.userdata.end_date | date:"MM/dd/yyyy"}}</div>
                        <div class="col-lg-4"><b>Update Date</b>:{{update.userdata.upd_date | date:"MM/dd/yyyy"}}</div>
                    </div>
                </div> &nbsp;
                <!--Business Unit Name-->
                <div class="row color-white">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div class="col-lg-3 col-md-3 col-sm-3"><b>Confirmation # </b>:</div>
                        <div class="col-lg-7 col-md-7 col-sm-7">{{update.userdata.confirmation}}</div>
                    </div>
                </div>
                <div class="row color-white">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div class="col-lg-3 col-md-3 col-sm-3 bold">Access Code :</div>
                        <div class="col-lg-7 col-md-7 col-sm-7">{{update.departdata.accessCode}}</div>
                    </div>
                </div>
                <div class="row color-white">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div class="col-lg-3 col-md-3 col-sm-3 bold">Business Unit Name:</div>
                        <div class="col-lg-7 col-md-7 col-sm-7">{{update.departdata.name}}</div>
                    </div>
                </div>
                <div class="row color-white">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div class="col-lg-3 col-md-3 col-sm-3 bold">Tax Id:</div>
                        <div class="col-lg-7 col-md-7 col-sm-7">{{update.userdata.taxid}}</div>
                    </div>
                </div>
                <div class="row color-white">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div class="col-lg-3 col-md-3 col-sm-3 bold">Owner Name(s):</div>
                        <div class="col-lg-7 col-md-7 col-sm-7">
                            <ul class="nostyle">
                                <li ng-repeat="name in update.departdata.ownerNames">{{name.name}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row color-white">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div class="col-lg-3 col-md-3 col-sm-3 bold">Category:</div>
                        <div class="col-lg-7 col-md-7 col-sm-7">{{update.userdata.categary.name?update.userdata.categary.name:update.userdata.categary}}</div>
                    </div>
                </div>
            </div>
            <div class "row" ng-show="dataEditorEnabled">
                <div class="row color-white">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-2">Effective Date:</div>
                        <div class="col-lg-2"> {{update.userdata.eff_date}} </div>
                        <div class="col-lg-2">End Date:</div>
                        <div class="col-lg-2">

                            <input type='text' class="form-control" ng-change="primarydetails=false;changevalue('End Date',update.userdata.end_date,oldValue)" style="color:black" ng-model='update.userdata.end_date'  ng-init="oldValue = ''" ng-focus="oldValue = update.userdata.end_date" data-ng-date>
                        </div>
                        <div class="col-lg-2">Update Date:</div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" ng-disabled="true" ng-model="update.userdata.upd_date" value="{{update.userdata.upd_date | date:'MM/dd/yyyy'}}" /> </div>
                    </div>
                </div> &nbsp;
                <!--Business Unit Name-->
                <div class="row color-white">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div class="col-lg-3 col-md-3 col-sm-3"><b>Confirmation # </b>:</div>
                        <div class="col-lg-7 col-md-7 col-sm-7">{{update.userdata.confirmation}}</div>
                    </div>
                </div>
                <div class="row color-white">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div class="col-lg-3 col-md-3 col-sm-3 bold">Access Code :</div>
                        <div class="col-lg-7 col-md-7 col-sm-7">{{update.departdata.accessCode}}</div>
                    </div>
                </div>
                <div class="row color-white">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div class="col-lg-3 col-md-3 col-sm-3 bold">Business Unit Name:</div>
                        <div class="col-lg-7 col-md-7 col-sm-7">
                            <input type="text" class="form-control" ng-change="primarydetails=false" ng-model="update.departdata.name" ng-init="oldValue = ''" ng-focus="oldValue = update.departdata.name" ng-blur="changevalue('Business Unit Name',update.departdata.name,oldValue)" /> </div>
                    </div>
                </div>
                <div class="row color-white">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div class="col-lg-3 col-md-3 col-sm-3 bold">Tax Id:</div>
                        <div class="col-lg-7 col-md-7 col-sm-7">
                            <input type="text" class="form-control" ng-change="primarydetails=false" ng-model="update.userdata.taxid" ng-init="oldValue = ''" ng-focus="oldValue = update.userdata.taxid" ng-blur="changevalue('Tax Id',update.userdata.taxid,oldValue)" /> </div>
                    </div>
                </div>
                <div class="row color-white">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div class="col-lg-3 col-md-3 col-sm-3 bold">Owner Name(s):</div>
                        <div class="col-lg-7 col-md-7 col-sm-7">
                            <div class="row">
                                <div class="col-lg-5" ng-repeat="name in update.departdata.ownerNames">
                                    <input type="text" ng-change="primarydetails=false" class="form-control" ng-model="name.name"  ng-init="oldValue=''" ng-focus="oldValue=update.departdata.ownerNames" ng-blur="changevalue('OwnerName',update.departdata.ownerNames,oldValue)"/> <span class="btn-cross1"><button class="btn btn-danger btn-xs  ng-scope" title="Delete" ng-if="update.departdata.ownerName.length >=2" ng-init="oldValue=''" ng-focus="oldValue=update.departdata.ownerNames" data-ng-click="removeName($event,name);changevalue('OwnerName',update.departdata.ownerNames,oldValue)"><i class="fa fa-times"></i></button></span> </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                    <button class="btn btn-success" data-ng-click="addOwnerNames($event)">Add More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row color-white">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div class="col-lg-3 col-md-3 col-sm-3 bold">Category:</div>
                        <div class="col-lg-7 col-md-7 col-sm-7">
                            <!-- <input type="text" class="form-control" ng-model="update.userdata.category.name" /> -->
                            <select name="category" ng-change="primarydetails=false" class="form-control" data-ng-model="update.userdata.categary" ng-options="category.name for category in categories track by category.name " data-ng-change="getStates()" ng-init="oldValue = ''" ng-focus="oldValue = update.userdata.categary" ng-blur="changevalue('Category',update.userdata.categary,oldValue)">
                                <option value="">--- Select Category ---</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            &nbsp;
            <!--Address Detail  Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green-round tab-noradious">
                        <div class="pull_left">Address Details</div>
                        <div class="pull-right"><span class="btn btn-success bg-btn bold" ng-hide="addressEditorEnabled" ng-click="enableEditor('addressEditorEnabled')">Update</span> <span class="btn btn-success bg-btn bold " ng-show="addressEditorEnabled" ng-click="CancelButtonDisableEditor('addressEditorEnabled',dptnu)">Cancel</span> <span href="!#" class="btn btn-success  bg-btn bold" ng-show="addressEditorEnabled" ng-disabled="addressdetails" ng-click="save('addressEditorEnabled', 'email')" style="margin-right:10px;">Save</span> </div>





                    </div>
                </div>
            </div>&nbsp;
            <!--Address Detail Block Start-->
            <div class="row" ng-hide="addressEditorEnabled">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row color-white">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="col-lg-3 col-md-3 col-sm-3 bold">Address Line 1:</div>
                            <div class="col-lg-7 col-md-7 col-sm-7">{{update.userdata.address1}}</div>
                        </div>
                    </div>
                    <div class="row color-white">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="col-lg-3 col-md-3 col-sm-3 bold">Address Line 2:</div>
                            <div class="col-lg-7 col-md-7 col-sm-7">{{update.userdata.address2}}</div>
                        </div>
                    </div>
                    <div class="row color-white">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="col-lg-3 col-md-3 col-sm-3 bold">Address Line 3:</div>
                            <div class="col-lg-7 col-md-7 col-sm-7">{{update.userdata.address3}}</div>
                        </div>
                    </div>
                    <div class="row color-white">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="col-lg-3 col-md-3 col-sm-3 bold">State:</div>
                            <div class="col-lg-7 col-md-7 col-sm-7">{{update.userdata.state.name?update.userdata.state.name:update.userdata.state}}</div>
                        </div>
                    </div>
                    <div class="row color-white">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="col-lg-3 col-md-3 col-sm-3 bold">Tax Region:</div>

                            <div class="col-lg-7 col-md-7 col-sm-7">{{update.userdata.taxregion?update.userdata.taxregion:update.userdata.taxregion.TaxRegionName}}</div>

                        </div>
                    </div>
                    <div class="row color-white">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="col-lg-3 col-md-3 col-sm-3 bold">City:</div>
                            <div class="col-lg-7 col-md-7 col-sm-7">{{update.userdata.city}}</div>
                        </div>
                    </div>
                    <div class="row color-white">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="col-lg-3 col-md-3 col-sm-3 bold">Zipcode:</div>
                            <div class="col-lg-7 col-md-7 col-sm-7">{{update.userdata.zipcode}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="addressEditorEnabled">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row color-white">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="col-lg-3 col-md-3 col-sm-3 bold">Address Line 1:</div>
                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <input type="text" class="form-control" ng-change="addressdetails=false" ng-model="update.userdata.address1" ng-init="oldValue = ''" ng-focus="oldValue = update.userdata.address1" ng-blur="changevalue('Address Line 1',update.userdata.address1,oldValue)" /> </div>
                        </div>
                    </div>
                    <div class="row color-white">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="col-lg-3 col-md-3 col-sm-3 bold">Address Line 2:</div>
                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <input type="text" class="form-control" ng-change="addressdetails=false" ng-model="update.userdata.address2" ng-init="oldValue = ''" ng-focus="oldValue = update.userdata.address2" ng-blur="changevalue('Address Line 2',update.userdata.address2,oldValue)" /> </div>
                        </div>
                    </div>
                    <div class="row color-white">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="col-lg-3 col-md-3 col-sm-3 bold">Address Line 3:</div>
                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <input type="text" class="form-control" ng-change="addressdetails=false" ng-model="update.userdata.address3" ng-init="oldValue = ''" ng-focus="oldValue = update.userdata.address3" ng-blur="changevalue('Address Line 3',update.userdata.address3,oldValue)" /> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="error-msg" style="text-align:center"> <i>{{staterror}}</i> </div>
                        </div>
                    </div>
                    <div class="row color-white">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="col-lg-3 col-md-3 col-sm-3 bold">State:</div>
                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <select name="state" data-ng-model="update.userdata.state" class="form-control" ng-options="state.name for state in formdata.states | orderBy:'name' track by state.name" data-ng-change="getTaxRegions(update.userdata.state)" ng-init="oldValue = ''" ng-focus="oldValue = update.userdata.state" ng-blur="changevalue('State',update.userdata.state,oldValue)">
                                    <option value="">--Select State--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row color-white">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="col-lg-3 col-md-3 col-sm-3 bold">Tax Region:</div>
                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <select name="taxregion" ng-change="addressdetails=false" data-ng-model="update.userdata.taxregion" ng-required='true' ng-disabled="selectOption" class="form-control" ng-options="tax.TaxRegionName for tax in taxregions | orderBy:'TaxRegionName' | unique:'TaxRegionName' track by tax.TaxRegionName" ng-init="oldValue = ''" ng-focus="oldValue = update.userdata.taxregion" ng-blur="changevalue('Tax Region',update.userdata.taxregion,oldValue)">
                                    <option value="">--Select Tax Region--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row color-white">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="col-lg-3 col-md-3 col-sm-3 bold">City:</div>
                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <input type="text" class="form-control" ng-change="addressdetails=false" ng-model="update.userdata.city" ng-init="oldValue = ''" ng-focus="oldValue = update.userdata.city" ng-blur="changevalue('City',update.userdata.city,oldValue)" /> </div>
                        </div>
                    </div>
                    <div class="row color-white">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="col-lg-3 col-md-3 col-sm-3 bold">Zipcode:</div>
                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <input type="text" class="form-control" ng-change="addressdetails=false" ng-model="update.userdata.zipcode" ng-init="oldValue = ''" ng-focus="oldValue = update.userdata.zipcode" ng-blur="changevalue('Zipcode',update.userdata.zipcode,oldValue)" />{{zipError}} </div>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-success" ng-click="verifyZip($event)">Verify</button>
                        </div>
                    </div>
                </div>
            </div>&nbsp;
            <!--Email Id Details Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green-round tab-noradious">
                        <div class="pull_left"> Email Id</div>
                        <div class="pull-right"> <span class="btn btn-success pull-right  bg-btn bold" ng-hide="emailEditorEnabled" ng-click="enableEditor('emailEditorEnabled')">Update</span> <span class="btn btn-success pull-right  bg-btn bold" ng-show="emailEditorEnabled" ng-click="CancelButtonDisableEditor('emailEditorEnabled',dptnu)">Cancel</span> <span href="!#" class="btn btn-success pull-right  bg-btn bold" ng-show="emailEditorEnabled" ng-disabled="emaildetails" ng-click="save('emailEditorEnabled', 'email')" style="margin-right:10px;">Save</span> </div>
                    </div>
                </div>
            </div>&nbsp;
            <div class="row" ng-hide="emailEditorEnabled">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row color-white">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="col-lg-3 col-md-3 col-sm-3 bold">Primary Email Id:</div>
                            <div class="col-lg-7 col-md-7 col-sm-7">{{update.userdata.email}}</div>
                        </div>
                    </div>
                    <div class="row color-white">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="col-lg-3 col-md-3 col-sm-3 bold">Alternative Email Id:</div>
                            <div class="col-lg-7 col-md-7 col-sm-7">{{update.userdata.alternativeEmails[0]}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="emailEditorEnabled">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row color-white">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="col-lg-3 col-md-3 col-sm-3 bold">Primary Email Id:</div>
                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <input type="text" class="form-control" ng-change="emaildetails=false" ng-model="update.userdata.email" ng-init="oldValue = ''" ng-focus="oldValue = update.userdata.email" ng-blur="changevalue('Primary Email Id',update.userdata.email,oldValue)" /> </div>
                        </div>
                    </div>
                    <div class="row color-white">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="col-lg-3 col-md-3 col-sm-3 bold">Alternative Email Id:</div>
                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <input type="text" class="form-control" ng-change="emaildetails=false" ng-model="update.userdata.alternativeEmails[0]" ng-init="oldValue = ''" ng-focus="oldValue = update.userdata.alternativeEmails[0]" ng-blur="changevalue('Alternative Email Id',update.userdata.alternativeEmails[0],oldValue)" /> </div>
                        </div>
                    </div>
                </div>
            </div>&nbsp;
            <!--Phone Details Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green-round tab-noradious">
                        <div class="pull_left"> Phone Details</div>
                        <div class="pull-right"> <span class="btn btn-success pull-right  bg-btn bold" ng-hide="phoneEditorEnabled" ng-click="enableEditor('phoneEditorEnabled')">Update</span> <span class="btn btn-success pull-right  bg-btn bold" ng-show="phoneEditorEnabled" ng-click="CancelButtonDisableEditor('phoneEditorEnabled',dptnu)">Cancel</span> <span href="!#" class="btn btn-success pull-right  bg-btn bold" ng-show="phoneEditorEnabled" ng-disabled="phonedetails" ng-click="save('phoneEditorEnabled', 'email')" style="margin-right:10px;">Save</span> </div>
                    </div>
                </div>
            </div>&nbsp;
            <div class="row" ng-hide="phoneEditorEnabled">
                <div class="row color-white">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="col-lg-4 col-md-3 col-sm-3 bold">Primary Phone:</div>
                            <div class="col-lg-2 col-md-3 col-sm-3">{{update.userdata.contact[0].number}}</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="col-lg-4 col-md-3 col-sm-3 bold">Phone Type:</div>
                            <div class="col-lg-2 col-md-3 col-sm-3">{{update.userdata.contact[0].phoneType}}</div>
                        </div>
                    </div>
                </div>
                <div class="row color-white">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="col-lg-4 col-md-3 col-sm-3 bold">Alternate Phone 1:</div>
                            <div class="col-lg-2 col-md-3 col-sm-3">{{update.userdata.contact[1].number}}</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="col-lg-4 col-md-3 col-sm-3 bold">Phone Type:</div>
                            <div class="col-lg-2 col-md-3 col-sm-3">{{update.userdata.contact[1].phoneType}}</div>
                        </div>
                    </div>
                </div>
                <div class="row color-white">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="col-lg-4 col-md-3 col-sm-3 bold">Alternate Phone 2:</div>
                            <div class="col-lg-2 col-md-3 col-sm-3">{{update.userdata.contact[2].number}}</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="col-lg-4 col-md-3 col-sm-3 bold">Phone Type:</div>
                            <div class="col-lg-2 col-md-3 col-sm-3">{{update.userdata.contact[2].phoneType}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="phoneEditorEnabled">
                <div class="row color-white">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="col-lg-6 col-md-3 col-sm-3 bold">Primary Phone:</div>
                            <div class="col-lg-6 col-md-3 col-sm-3">
                                <input type="text" class="form-control" ng-change="phonedetails=false" ng-model="update.userdata.contact[0].number" ng-init="oldValue = ''" ng-focus="oldValue = update.userdata.contact[0].number" ng-blur="changevalue('Primary Phone',update.userdata.contact[0].number,oldValue)" /> </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="col-lg-6 col-md-3 col-sm-3 bold">Phone Type:</div>
                            <div class="col-lg-4 col-md-3 col-sm-3">
                                <select class="form-control" ng-required='true' ng-change="phonedetails=false" data-ng-model="update.userdata.contact[0].phoneType" ng-options="o as o for o in ['Business', 'Personal', 'Home'] track by o" ng-init="oldValue = ''" ng-focus="oldValue = update.userdata.contact[0].phoneType" ng-blur="changevalue('Phone Type',update.userdata.contact[0].phoneType,oldValue)">
                                    <option value="">Select Phone type</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row color-white">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="col-lg-6 col-md-3 col-sm-3 bold">Alternate Phone 1:</div>
                            <div class="col-lg-6 col-md-3 col-sm-3">
                                <input type="text" class="form-control" ng-change="phonedetails=false" ng-model="update.userdata.contact[1].number" ng-init="oldValue = ''" ng-focus="oldValue = update.userdata.contact[1].number" ng-blur="changevalue('Alternate Phone 1',update.userdata.contact[1].number,oldValue)" /> </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="col-lg-6 col-md-3 col-sm-3 bold">Phone Type:</div>
                            <div class="col-lg-4 col-md-3 col-sm-3">
                                <select class="form-control" ng-required='true' ng-change="phonedetails=false" data-ng-model="update.userdata.contact[1].phoneType" ng-options="o as o for o in ['Business', 'Personal', 'Home'] track by o" ng-init="oldValue = ''" ng-focus="oldValue = update.userdata.contact[1].phoneType" ng-blur="changevalue('Phone Type',update.userdata.contact[1].phoneType,oldValue)">
                                    <option value="">Select Phone type</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row color-white">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="col-lg-6 col-md-3 col-sm-3 bold">Alternate Phone 2:</div>
                            <div class="col-lg-6 col-md-3 col-sm-3">
                                <input type="text" class="form-control" ng-change="phonedetails=false" ng-model="update.userdata.contact[2].number" ng-init="oldValue = ''" ng-focus="oldValue = update.userdata.contact[2].number" ng-blur="changevalue('Alternate Phone 2',update.userdata.contact[2].number,oldValue)" /> </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="col-lg-6 col-md-3 col-sm-3 bold">Phone Type:</div>
                            <div class="col-lg-4 col-md-3 col-sm-3">
                                <select class="form-control" ng-required='true' ng-change="phonedetails=false" data-ng-model="update.userdata.contact[2].phoneType" ng-options="o as o for o in ['Business', 'Personal', 'Home'] track by o" ng-init="oldValue = ''" ng-focus="oldValue = update.userdata.contact[2].phoneType" ng-blur="changevalue('Phone Type',update.userdata.contact[2].phoneType,oldValue)">
                                    <option value="">Select Phone type</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>&nbsp; </div>
            <!--Phone Details Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-red tab-noradious"> Business Unit Card Details & Other Information </div>
                </div>
            </div> &nbsp;&nbsp;&nbsp;
            <!--Phone Details Block-->
          
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green-round tab-noradious">
                        <div class="pull_left">Card Details</div>
                        <div class="pull-right"> <span class="btn btn-success pull-right  bg-btn bold" ng-hide="cardEditorEnabled" ng-click="enableEditor('cardEditorEnabled')">Update</span> <span class="btn btn-success pull-right  bg-btn bold" ng-show="cardEditorEnabled" ng-click="CancelButtonDisableEditor('cardEditorEnabled',dptnu)">Cancel</span> <span href="!#" class="btn btn-success pull-right  bg-btn bold" ng-show="cardEditorEnabled" ng-disabled="carddetails" ng-click="save('cardEditorEnabled', 'email')" style="margin-right:10px;">Save</span> </div>
                    </div>
                </div>
            </div>&nbsp;
            <!--Card Type Details-->
            <div class="row" ng-hide="cardEditorEnabled">
                <div class="col-lg-12 col-md-12 col-sm-12">
                
                    <div class="row color-white" ng-repeat="card in update.carddata">
                        <div class="col-lg-12 col-md-6 col-sm-6">
                            <!--Gift Card  View Block-->
                            <div class="row" ng-if="'gift' == card.type">

                                <div class="col-lg-6">
                                    <div class="col-lg-12"><em><strong><u>Gift Card</u></strong></em></div>
                                    <div class="col-lg-6"><span class="bold">Card Name:</span> </div>
                                    <div class="col-lg-6">{{card.name}}</div>

                                    <div class="col-lg-6"><span class="bold">Card Image:</span></div>
                                  
                                    <div class="col-lg-6" ng-if="card.image!=null"><img class="imgbox" ng-src="/modules/controller/img/cards/{{card.image}}" /></div>
                                    <div class="col-lg-12">
                                        <hr>
                                    </div>
                                </div>

                            </div>




                            <!--Gift Card  View Block-->
                            <div class="row" ng-if="'advantage' == card.type">

                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        <em><strong><u>Advantage Card</u></strong></em>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="bold">Card Name:</span> </div>
                                    <div class="col-lg-6">{{card.name}}</div>
                                    <div class="col-lg-6"><span class="bold">Card Option(s):</span></div>
                                    <div class="col-lg-6">
                                        <ul ng-repeat="c in card.amountList"> {{c .text}}</ul>
                                    </div>
                                    <div class="col-lg-6">

                                        <span class="bold">Card Image:</span></div>
                                    <div class="col-lg-6">
                                        <img class="imgbox" ng-src="/modules/controller/img/cards/{{card.image}}" />
                                    </div>
                                    <div class="col-lg-12">
                                        <hr>
                                    </div>
                                </div>

                            </div>


                            <div class="row" ng-if="'cashback' == card.type">

                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        <em><strong><u>Cashback Card</u></strong></em></div>
                                    <div class="col-lg-6"><span class="bold">Card Name:</span></div>
                                    <div class="col-lg-6"> {{card.cashbackper}}% {{card.name}}</div>
                                    <div class="col-lg-6"><span class="bold">Card Details(s):</span></div>
                                    <div class="col-lg-6">
                                        <ul class="nostyle">
                                            <li>Cashback Percentage {{card.cashbackper}}%</li>
                                            <li>Earn {{card.cashbackper}}% Cashback for every purchase of ${{card.cashbackvalue}} and above</li>
                                        </ul>
                                    </div>

                                    <div class="col-lg-6">
                                        <span class="bold">Card Image:  </span></div>
                                    <div class="col-lg-6">
                                        <img class="imgbox" ng-src="/modules/controller/img/cards/{{card.image}}" />
                                    </div>
                                    <div class="col-lg-12">
                                        <hr>
                                    </div>
                                </div>

                            </div>

                            <div class="row" ng-if="'points' == card.type">

                                <div class="col-lg-6">
                                    <div class="col-lg-12"><em><strong><u>Points Card</u></strong></em></div>
                                    <div class="col-lg-6"><span class="bold">Card Name:</span></div>
                                    <div class="col-lg-6">{{card.name}}</div>
                                    <div class="col-lg-6">
                                        <span class="bold">Card Option(s):</span></div>
                                    <div class="col-lg-6">
                                        <ul class="nostyle">
                                            <li>Earn {{card.earn1}} point(s) for every $ {{card.point1}}</li>
                                            <li>Earn ${{card.earn2}} shopping for every {{card.point2}} points</li>
                                        </ul>
                                    </div>

                                    <div class="col-lg-6">
                                        <span class="bold">Card Image:</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <img class="imgbox" ng-src="/modules/controller/img/cards/{{card.image}}" /></div>
                                    <div class="col-lg-12">
                                        <hr>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row" ng-show="cardEditorEnabled">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row color-white">
                        <div class="col-lg-12 col-md-6 col-sm-6">
                            <div class="col-lg-12 ">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <input type="checkbox" ng-checked="card.giftcards.type=='gift' " ng-click="onCheck('gift',card.giftcards.typecheck)" ng-model="card.giftcards.typecheck"><span class="yellow-bold"> Gift Card </span><i class="fa fa-question-circle" title="{{title[0]}}"></i> </div>
                                </div>
                                <input type="hidden" value="gift" ng-model="card.giftcard.type" />
                                <div class="row">
                                    <div class="col-lg-2 bold">Card Name:<span class="asterisk"></span></div>
                                    <div class="col-lg-2">
                                        <input style="color:black" ng-change="carddetails=false" ng-disabled="giftcard || !card.giftcards.type=='gift' " class="form-control" type="text" placeholder="Card Name" ng-model="card.giftcards.name" ng-init="oldValue = ''" ng-focus="oldValue = card.giftcards.name" ng-blur="changevalue('Gift Card Name',card.giftcards.name,oldValue)"> </div>
                                </div>
                                <p></p>
                                <div class="row">
                                    <div class="col-lg-2 bold"> Card Image:<span class="asterisk"></span></div>
                                    <div class="col-lg-2">
                                        <select class="form-control" ng-change="carddetails=false" ng-disabled="giftcard || !card.giftcards.type=='gift'" data-ng-model="card.giftcards.image" ng-options="o as o for o in giftcards_img" ng-init="oldValue = ''" ng-focus="oldValue = card.giftcards.image" ng-blur="changevalue('Gift Card Image',card.giftcards.image,oldValue)">
                                            <option value="">---Select Image---</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4" ng-show="card.giftcards.imagecheck"> <img class="imgbox" ng-src="/modules/controller/img/cards/{{card.giftcards.image}}" /> </div>
                                </div> &nbsp;
                                <hr> </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <input type="checkbox" ng-checked="card.advantagecard.type=='advantage'" ng-click="onCheck('advantage',card.advantagecard.typecheck)" ng-model="card.advantagecard.typecheck"><span class="yellow-bold"> Advantage Card </span><i class="fa fa-question-circle" title="{{title[1]}}"></i> </div>
                                </div>
                                <input type="hidden" value="advantage" ng-model="formdata.card.advantage.typename" />
                                <div class="row">
                                    <div class="col-lg-2 bold">Card Name:<span class="asterisk"></span></div>
                                    <div class="col-lg-2">
                                        <input style="color:black" ng-change="carddetails=false" ng-disabled="advantage" class="form-control" placeholder="Card Name" type="text" ng-disabled="advantage" ng-model="card.advantagecard.name" ng-init="oldValue = ''" ng-focus="oldValue = card.advantagecard.name" ng-blur="changevalue('Advantage Card Name',card.advantagecard.name,oldValue)" /> </div>
                                </div>
                                <p></p>
                                <div class="row">
                                    <div class="col-lg-2 bold">Card Image:<span class="asterisk"></span></div>
                                    <div class="col-lg-2">
                                        <select class="form-control" ng-disabled="advantage" ng-change="carddetails=false" ng-disabled="advantage" data-ng-model="card.advantagecard.image" ng-options="o as o for o in advantages" ng-init="oldValue = ''" ng-focus="oldValue = card.advantagecard.image" ng-blur="changevalue('Advantage Card Image',card.advantagecard.image,oldValue)">
                                            <option value="">---Select Image---</option>
                                        </select>
                                    </div>
                                   
                                    <div class="col-lg-4" ng-show="card.advantagecard.imagecheck"> <img class="imgbox" ng-src="/modules/controller/img/cards/{{card.advantagecard.image}}" /> </div>
                                </div>
                                <p></p>
                                <div class="row">
                                    <div class="col-lg-2 bold">Card Details:</div>
                                </div>
                                <p></p>
                                <div class="row">
                                    <div class="col-lg-4">

                                        <div class="col-lg-12" ng-repeat="data in card.advantagecard.data track by $index">
                                            <div class="row"> Get<span class="asterisk"></span> <span><input  ng-change="carddetails=false" type="number" class="pricebox"  placeholder="$"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-disabled="advantage" ng-model="data.get" ng-init="oldValue = ''" ng-focus="oldValue = data.get" ng-blur="changevalue('Advantage Card Detail',data.get,oldValue)" ng-keyup="checkdt(data)" /> card for <input ng-change="carddetails=false" type="number" class="pricebox" ng-keyup="checkdt(data)"   placeholder="$"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-disabled="advantage" ng-model="data.buy" ng-init="oldValue = ''" ng-focus="oldValue = data.buy" ng-blur="changevalue('Advantage Card Detail',data.buy,oldValue)"></span> <i class="error-msg">{{data.msg}}</i> <span class="btn-cross3"><button class="btn btn-danger btn-xs  ng-scope" title="Delete" ng-if="card.advantagecard.data.length >=2" data-ng-click="removeProduct($event,data)"><i class="fa fa-times"></i></button></span> </div>
                                            <br/> </div>

                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                        <button class="btn btn-success  bg-btn bold" ng-disabled="advantage"  data-ng-click="addcard($event)">Add More</button>
                                    </div>
                                </div> &nbsp;
                                <hr> </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <input type="checkbox" ng-checked="'cashback' == card.cashbackcard.type" ng-click="onCheck('cashback',card.cashbackcard.typecheck)" ng-model="card.cashbackcard.typecheck"> <span class="yellow-bold">CashBack Card </span><i class="fa fa-question-circle" title="{{title[2]}}"></i> </div>
                                </div>
                                <input type="hidden" value="cashback" ng-model="formdata.card.cashback.typename" />
                                <div class="row">
                                    <div class="col-lg-2 bold">Card Name:<span class="asterisk"></span></div>
                                    <div class="col-lg-2">
                                        <input style="color:black" type="text" ng-change="carddetails=false" class="form-control" ng-disabled="cashback" placeholder="Card Name" ng-model="card.cashbackcard.name" ng-init="oldValue = ''" ng-focus="oldValue = card.cashbackcard.name" ng-blur="changevalue('Cashback Card Name',card.cashbackcard.name,oldValue)" /> </div>
                                </div>
                                <p></p>
                                <div class="row color-white">
                                    <div class="col-lg-2 bold">Card Image:<span class="asterisk"></span></div>
                                    <div class="col-lg-2">
                                        <select class="form-control" ng-change="carddetails=false" ng-disabled="cashback" data-ng-model="card.cashbackcard.image" ng-options="o as o for o in cashbacks" ng-init="oldValue = ''" ng-focus="oldValue = card.cashbackcard.image" ng-blur="changevalue('Cashback Card Image',card.cashbackcard.image,oldValue)">
                                            <option value="">---Select Image---</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4" ng-show="card.cashbackcard.imagecheck"> <img class="imgbox" ng-src="/modules/controller/img/cards/{{card.cashbackcard.image}}" /> </div>
                                </div>
                                <p></p>
                                <div class="row">
                                    <div class="col-lg-4"> {{card.cashbackcard.cashbackper}} % CashBack Percentage:<span class="asterisk"></span>
                                        <input type="number" class="pricebox1" ng-change="carddetails=false" placeholder="%" ng-keyup="fillPer(card.cashbackcard.cashbackper)" ng-disabled="cashback" ng-model="card.cashbackcard.cashbackper" ng-init="oldValue = ''" ng-focus="oldValue = card.cashbackcard.cashbackper" ng-blur="changevalue('CashBack Percentage',card.cashbackcard.cashbackper,oldValue)" /> </div>
                                </div>
                                <p></p>
                                <div class="row">
                                    <div class="col-lg-6">Earn<span class="asterisk"></span> {{card.cashbackcard.cashbackper}} % cashback for every purchase of
                                        <input type="number" ng-change="carddetails=false" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="$" class="pricebox1" ng-disabled="cashback" ng-model="card.cashbackcard.cashbackvalue" ng-init="oldValue = ''" ng-focus="oldValue = card.cashbackcard.cashbackvalue" ng-blur="changevalue('Cashback Value',card.cashbackcard.cashbackvalue,oldValue)" /> and above </div>
                                </div> &nbsp;
                                <hr> </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <input type="checkbox" ng-change="carddetails=false" ng-checked="'points' == card.pointcard.type" ng-click="onCheck('point',formdata.card.points.type)" ng-model="formdata.card.points.type"> <span class="yellow-bold">Points Card </span> <i class="fa fa-question-circle" title="{{title[3]}}"></i> </div>
                                </div>
                                <input type="hidden" value="points" ng-disabled="points" ng-model="formdata.card.points.typename" />
                                <p></p>
                                <div class="row">
                                    <div class="col-lg-2 bold">Card Name:<span class="asterisk"></span></div>
                                    <div class="col-lg-2">
                                        <input style="color:black" ng-change="carddetails=false" type="text" class="form-control" ng-disabled="points" placeholder="Card Name" ng-model="card.pointcard.name" ng-init="oldValue = ''" ng-focus="oldValue = card.pointcard.name" ng-blur="changevalue('Point Card Name',card.pointcard.name,oldValue)" /> </div>
                                </div>
                                <p></p>
                                <div class="row color-white">
                                    <div class="col-lg-2 bold">Card Image:<span class="asterisk"></span></div>
                                    <div class="col-lg-2">
                                        <select class="form-control" ng-change="carddetails=false" ng-disabled="points" data-ng-model="card.pointcard.image" ng-options="o as o for o in point" ng-init="oldValue = ''" ng-focus="oldValue = card.pointcard.image" ng-blur="changevalue('Point Card Image',card.pointcard.image,oldValue)">
                                            <option value="">---Select Image---</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4" ng-show="card.pointcard.imagecheck"> <img class="imgbox" ng-src="/modules/controller/img/cards/{{card.pointcard.image}}" /> </div>
                                </div>
                                <p></p>
                                <div class="row">
                                    <div class="col-lg-4">Earn<span class="asterisk"></span>
                                        <input type="number" ng-change="carddetails=false" class="pricebox1" ng-disabled="points" placeholder=" " ng-model="card.pointcard.earn1" ng-init="oldValue = ''" ng-focus="oldValue = card.pointcard.earn1" ng-blur="changevalue('Earn Point(s) Value',card.pointcard.earn1,oldValue)" /> Point(s) for every
                                        <input type="number" ng-change="carddetails=false" class="pricebox1" ng-disabled="points" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="$" ng-model="card.pointcard.point1" nng-init="oldValue = ''" ng-focus="oldValue = card.pointcard.point1" ng-blur="changevalue('For Every Spent Value',card.pointcard.point1,oldValue)"> spent</div>
                                </div>
                                <p></p>
                                <div class="row">
                                    <div class="col-lg-4">Earn <span class="asterisk"></span>
                                        <input type="number" ng-change="carddetails=false" class="pricebox1" ng-disabled="points" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="$" ng-model="card.pointcard.earn2" ng-init="oldValue = ''" ng-focus="oldValue = card.pointcard.earn2" ng-blur="changevalue('Earn $ Value',card.pointcard.earn2,oldValue)" /> shopping for every
                                        <input type="number" ng-change="carddetails=false" class="pricebox1" ng-disabled="points" placeholder="" ng-model="card.pointcard.point2" ng-init="oldValue = ''" ng-focus="oldValue = card.pointcard.point2" ng-blur="changevalue('Shopping For Every Points Value',card.pointcard.point2,oldValue)"> points</div>
                                </div> &nbsp;
                                <hr> </div>
                        </div>
                    </div>
                </div>
            </div>&nbsp;
            <!--Access Type Details Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green-round tab-noradious">
                        <div class="pull_left">Access Types</div>
                        <div class="pull-right"> <span class="btn btn-success pull-right  bg-btn bold" ng-hide="accessEditorEnabled" ng-click="enableEditor('accessEditorEnabled')">Update</span> <span class="btn btn-success pull-right  bg-btn bold" ng-show="accessEditorEnabled" ng-click="CancelButtonDisableEditor('accessEditorEnabled',dptnu)">Cancel</span> <span href="!#" class="btn btn-success pull-right  bg-btn bold" ng-show="accessEditorEnabled" ng-disabled="accessdetails" ng-click="save('accessEditorEnabled', 'email')" style="margin-right:10px;">Save</span> </div>
                    </div>
                </div>
            </div>&nbsp;
            <div class="row" ng-hide="accessEditorEnabled">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row color-white">
                        <div class="col-lg-12 col-md-12">
                            <div class="col-lg-6">

                                <p ng-if="false">Consumer Card with Billing & Credit Card Processing</p>
                                <p ng-hide="update.departdata.onlyCheckoutAccess">Consumer Card with Billing & NO Credit Card Processing</p>
                                <p ng-if="false">Consumer Card without Billing & Credit Card Processing</p>
                                <p ng-show="update.departdata.onlyCheckoutAccess">Consumer Card without Billing & NO Credit Card Processing</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="accessEditorEnabled">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row color-white">
                        <div class="col-lg-12 col-md-12">
                            <div class="col-lg-6">


                                <input type="radio" name="rad" ngc-checked="" ng-change="accessdetails=false" ng-model="update.departdata.onlyCheckoutAccess"> Consumer Card with Billing & Credit Card Processing
                                <br/>
                                <input type="radio" name="rad" value="false" ng-checked="update.departdata.onlyCheckoutAccess==false" ng-change="accessdetails=false" ng-model="update.departdata.onlyCheckoutAccess" ng-init="oldValue = ''" ng-focus="oldValue = update.departdata.onlyCheckoutAccess" ng-click="changevalue('Access Type','false','true')"> Consumer Card with Billing & NO Credit Card Processing
                                <br/>
                                <input type="radio" name="rad" ng-change="accessdetails=false" ng-model="update.departdata.onlyCheckoutAccess"> Consumer Card without Billing & Credit Card Processing
                                <br/>
                                <input type="radio" name="rad" value="true" ng-checked="update.departdata.onlyCheckoutAccess==true" ng-change="accessdetails=false" ng-model="update.departdata.onlyCheckoutAccess" ng-init="oldValue = ''" ng-focus="oldValue = update.userdata.address3" ng-click="changevalue('Access Type','true','false')"> Consumer Card without Billing & NO Credit Card Processing
                                <br/> </div>
                        </div>
                    </div>
                </div>
            </div>&nbsp;
            <!--End-->
            <!--Phone Details Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green-round tab-noradious">
                        <div class="pull_left">Disclaimer Receipt Return Policy</div>
                        <div class="pull-right"> <span class="btn btn-success pull-right  bg-btn bold" ng-hide="disclaimerEditorEnabled" ng-click="enableEditor('disclaimerEditorEnabled')">Update</span> <span class="btn btn-success pull-right  bg-btn bold" ng-show="disclaimerEditorEnabled" ng-click="CancelButtonDisableEditor('disclaimerEditorEnabled',dptnu)">Cancel</span> <span href="!#" class="btn btn-success pull-right  bg-btn bold" ng-show="disclaimerEditorEnabled" ng-disabled="disclaimerdetails" ng-click="save('disclaimerEditorEnabled', 'email')" style="margin-right:10px;">Save</span> </div>
                    </div>
                </div>
            </div>&nbsp;
            <div class="row color-white" ng-hide="disclaimerEditorEnabled">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-12" ng-bind-html="update.departdata.disclaimer_note"> </div>
                </div>
            </div>
            <div class="row color-white" ng-show="disclaimerEditorEnabled">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-12">
                        <!--    <textarea style="color:#808080;" class="form-control textBox" rows="4" cols="130" ng-model="formdata.department.disclaimer"></textarea> -->
                        <wysiwyg textarea-id="formdata.department.disclaimer" ng-change="disclaimerdetails=false" textarea-class="form-control textBox" textarea-height="108px" textarea-name="t_c_cust_reg" ng-model="update.departdata.disclaimer" enable-bootstrap-title="false" ng-init="oldValue = ''" ng-focus="oldValue = update.departdata.disclaimer" ng-blur="changevalue('Disclaimer Receipt Return Policy',update.departdata.disclaimer,oldValue)"></wysiwyg>
                    </div>
                </div>
            </div>&nbsp;
            <!--End-->
            <!--Phone Details Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green-round tab-noradious">
                        <div class="pull_left"> Business Unit Logo</div>
                        <div class="pull-right"> <span class="btn btn-success pull-right  bg-btn bold" ng-hide="logoEditorEnabled" ng-click="enableEditor('logoEditorEnabled')">Update</span> <span class="btn btn-success pull-right bg-btn bold" ng-show="logoEditorEnabled" ng-click="CancelButtonDisableEditor('logoEditorEnabled',dptnu)">Cancel</span> <span href="!#" class="btn btn-success pull-right bg-btn bold" ng-show="logoEditorEnabled" ng-disabled="logodetails" ng-click="save('logoEditorEnabled', 'email')" style="margin-right:10px;">Save</span> </div>
                    </div>
                </div>
            </div>&nbsp;
            <div class="row color-white" ng-hide="logoEditorEnabled">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-lg-6">
                            <a href="modules/controller/img/logo/{{update.departdata.logo}}" target="_blank"><img id="logobox" src="modules/controller/img/logo/{{logoname}}" /></a>
                        </div>
                        <div class="col-lg-3"> </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="error-msg" style="text-align:center"> <i>{{successmsg}}</i> </div>
                </div>
            </div>
            <div class="row color-white" ng-show="logoEditorEnabled">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-change="logodetails=false" ng-model="uploadtext" /> </div>
                        <div class="col-lg-3">
                            <button class="btn btn-success bg-btn bold" ng-change="logodetails=false" ngf-accept="'.jpg,.png,.jpeg,.gif'" ngf-select="getLogoName(file)" ng-model="file" multipart="true" >Browse</button> &nbsp;
                            <button class="btn btn-success bg-btn bold" ng-click="uploadLogo(file);" ng-disabled="checkImage">Upload</button>
                            <a href="modules/controller/img/logo/{{update.departdata.logo}}" target="_blank"><img id="logobox" src="modules/controller/img/logo/{{logoname}}" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End-->&nbsp;
            <!--Phone Details Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green-round tab-noradious">
                        <div class="pull_left">Status</div>
                        <div class="pull-right"> <span class="btn btn-success pull-right bg-btn bold" ng-hide="statusEditorEnabled" ng-click="enableEditor('statusEditorEnabled')">Update</span> <span class="btn btn-success pull-right bg-btn bold" ng-show="statusEditorEnabled" ng-click="CancelButtonDisableEditor('statusEditorEnabled',dptnu)">Cancel</span> <span href="!#" class="btn btn-success pull-right bg-btn bold" ng-show="statusEditorEnabled" ng-disabled="statusdetails" ng-click="save('statusEditorEnabled', 'email')" style="margin-right:10px;">Save</span> </div>
                    </div>
                </div>
            </div>&nbsp;
            <div class="row color-white" ng-hide="statusEditorEnabled">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-6 col-md-12"> {{update.userdata.status}} </div>
                </div>
            </div>
            <div class="row color-white" ng-show="statusEditorEnabled">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-6 col-md-12">
                        <input type="radio" name='status' value="Active" ng-change="statusdetails=false" ng-checked="'Active'==update.userdata.status" ng-model="update.userdata.status" ng-init="oldValue = ''" ng-focus="oldValue = update.userdata.status" ng-click="changevalue('Status','Active','Inactive')"> Active &nbsp;&nbsp;&nbsp;
                        <input type="radio" name='status' value="Inactive" ng-change="statusdetails=false" ng-checked="'Inactive'==update.userdata.status" ng-model="update.userdata.status" ng-init="oldValue = ''" ng-focus="oldValue = update.userdata.address3" ng-click="changevalue('Status','Inactive','Active')"> Inactive </div>
                </div>
            </div>
            <!--End-->&nbsp;
            <!--Phone Details Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green-round tab-noradious">
                        <div class="pull_left"> Processor Notes</div>
                        <div class="pull-right"> <span class="btn btn-success pull-right  bg-btn bold" ng-hide="processorEditorEnabled" ng-click="enableEditor('processorEditorEnabled',processor_notes)">Add Note</span> <span class="btn btn-success pull-right  bg-btn bold" ng-show="processorEditorEnabled" ng-click="CancelButtonDisableEditor('processorEditorEnabled',dptnu)">Cancel</span> <span href="!#" class="btn btn-success pull-right  bg-btn bold" ng-show="processorEditorEnabled" ng-disabled="processordetails" ng-click="save('processorEditorEnabled', 'email',processor_notes)" style="margin-right:10px;">Save</span> </div>
                    </div>
                </div>
            </div>&nbsp;
            <div class="row color-white" ng-hide="processorEditorEnabled">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-12 col-md-12">
                        <ul class="nostyle">
                            <li ng-repeat="data in update.departdata.processor_notes">{{data.created | date:"MM/dd/yyyy"}} - <i ng-bind-html="data.notes">{{data.notes}} </i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row color-white" ng-show="processorEditorEnabled">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <ul class="nostyle">
                                <li ng-repeat="data in update.departdata.processor_notes">{{data.created | date:"MM/dd/yyyy"}} - <i ng-bind-html="data.notes">{{data.notes}} </i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <wysiwyg textarea-id="processor_notes" ng-change="processordetails=false" textarea-class="form-control textBox" textarea-height="108px" textarea-name="processor_notes" ng-model="processor_notes" enable-bootstrap-title="false"></wysiwyg>
                        </div>
                    </div>
                </div>
            </div>
            <!--End-->&nbsp;
            <!--Phone Details Block-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="long-box-head-green-round tab-noradious">
                        <div class="pull_left"> Miscellaneous Attachments</div>
                        <div class="pull-right"> <span class="btn btn-success pull-right  bg-btn bold" ng-hide="misAttEditorEnabled" ng-click="enableEditor('misAttEditorEnabled')">Update</span> <span class="btn btn-success pull-right  bg-btn bold" ng-show="misAttEditorEnabled" ng-click="CancelButtonDisableEditor('misAttEditorEnabled',dptnu)">Cancel</span> <span href="!#" class="btn btn-success pull-right  bg-btn bold" ng-show="misAttEditorEnabled" ng-disabled="miscdetails" ng-click="save('misAttEditorEnabled', 'email')" style="margin-right:10px;">Save</span> </div>
                    </div>
                </div>
            </div>&nbsp;
            <div class="row color-white" ng-hide="misAttEditorEnabled">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-2"> Attachments: </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <ul class="nostyle" ng-repeat="filename in update.departdata.misc_attach">
                                <li ng-model="name"><a class="anchorlinkblack" href="modules/controller/img/logo/{{filename.filename}}" target="_blank">{{filename.templatename}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--End-->&nbsp;
            <div class="error-msg" style="text-align:center"> <i>{{successmsg1}}</i> </div>
            <div class="row color-white" ng-show="misAttEditorEnabled">

                <div class="col-lg-6">
                    <input type="text" class="form-control" ng-model="filename" /> </div>
                <div class="col-lg-3">
                    <button class="btn btn-success  bg-btn bold" ngf-accept="'.pdf,.doc,.docx,.odt,.xls,.xlsx,.jpeg,.png,.jpg,.txt,.mp3,.mp4,.3gp,.avi'" ngf-select="getfilename(file2)" ng-model="file2" multipart="true">Browse</button> &nbsp;
                    <button class="btn btn-success  bg-btn bold" ng-click="uploadFiles(file2);" ng-disabled="checkFile">Attach</button>
                </div>
                <div class="col-lg-6">
                    Attachments:
                    <ul ng-repeat="filename in uploadata" class="nostyle anchorlink">
                        <a style="color:blue;" href="modules/controller/img/logo/{{filename.filename}}">
                            <li ng-model="name">{{filename.templatename}}</a>
                        <button ng-disabled="deleteBtn==true" class="btn btn-danger btn-xs" ng-click="itemRemove($event,filename.filename)">X</button>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-12 category" ng-include="'tree_item_renderer.html'"></div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <!--Client Page View End Here -->
</section>