.search-area{border-radius:6px; border:2px solid #FFF; padding:3px;  color:  #FFF;}

.left-button{ background-color:#afd2f5;}
.left-button a{ color:black; font-family:initial; font-size:14px; font-weight:bold;  margin:10px;}
.vag-btn{ margin:0px;}
.aside{margin:5px; background-color:#AFD2F5; border-radius:10px;}

/*triangle btn css */
.triangle{ width: 115px; height: 30px; }
.triangle .arrleft {padding: 5px; width: 135px; background-color: #5cb85c; height: 30px; float: left;}
.triangle .arrright {height: 0px; border-style: solid; border-color: transparent transparent transparent #5cb85c; border-width: 15px 0px 15px 36px; margin: 20px 135px;	 }

.triangle .arrleft1 { padding: 5px; width: 110px; background-color: #5cb85c; height: 30px; float: left;}
.triangle .arrright1 {height: 0px; border-style: solid; border-color: transparent transparent transparent #5cb85c; border-width: 15px 0px 15px 37px; margin: 0px 110px; }

.active .arrleft1 {background: #eea236 !important;}
.active .arrright1 {border-color: transparent transparent transparent #eea236 !important; }

.active .arrleft {background: #eea236 !important;}
.active .arrright {border-color: transparent transparent transparent #eea236 !important; }


/*small triangle btn css*/
.triangle .arrleft3 { padding: 5px; width: 135px; background: #eea236; height: 30px; float: left;}
.triangle .arrright3 {height: 0px; border-style: solid; border-color: transparent transparent transparent #eea236; border-width: 15px 0px 15px 36px; margin: 0px 135px;}
	 
.triangle .arrleft2 { padding: 5px; width: 110px; background: #eea236; height: 30px; float: left;}
.triangle .arrright2 {height: 0px; border-style: solid; border-color: transparent transparent transparent #eea236; border-width: 15px 0px 15px 37px; margin: 0px 110px; }

.triangle .arrleft:hover, .triangle .arrleft1:hover, .triangle .arrleft2:hover {
	background-color: #449d44;
	
}
.triangle .arrright:hover, .triangle .arrright1:hover, .triangle .arrright2:hover{
border-color: transparent transparent transparent #449d44;
}

.product { text-align:center; padding:15px; color: #000; cursor: pointer; }
.product div {color: #000 !important; border-radius:20px; padding: 10px ;}
.product p { font-size:16px;}
.product p.lead { font-size: 21px; font-weight: bold;}


.user-detail{background-color:#FFF; border-radius:10px; padding: 10px;}
.consumer-detail{ color:white; font-family:"Times New Roman", Times, serif; font-size:18px;}




.checkout-card .lead-head {
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}


.width80{ width: 80px !important; }
.width100{ width: 100px !important; }
.width150{ width: 150px !important; }
.padding-bottom-5{ padding-bottom: 5px !important; }

.receipt {
	background-color: white;
    border: 1px solid #000;
    border-radius: 20px;
}

.return-img {
    width: 150px;
}

.catalog-header a.active, .catalog-header a:hover {
	background-color: #f0ad4e !important;
	border-color: #eea236 !important;
}
/*16 Sepetember*/
.table1>thead>tr>th, .table1>tbody>tr>th, .table1>tfoot>tr>th, .table1>thead>tr>td, .table1>tbody>tr>td, .table1>tfoot>tr>td
{
    padding: 0px;
    line-height: 1.42857143;
    vertical-align: top;
    /* border-top: 1px solid #ddd; */
        border-spacing: 0;
    border-collapse: collapse;
   
}
.table1>tbody>tr>td>table 
{
	width:345%;
}