﻿                                                                                                                                                                                                                                                  
@font-face {
  font-family:'BerlinSansFB-Reg';
  src: url('../fonts/BerlinSansFB-Reg_gdi.eot');
  src: url('../fonts/BerlinSansFB-Reg_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BerlinSansFB-Reg_gdi.woff') format('woff'),
    url('../fonts/BerlinSansFB-Reg_gdi.ttf') format('truetype'),
    url('../fonts/BerlinSansFB-Reg_gdi.svg#BerlinSansFB-Reg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  
}
body{ background:url(../img/back1.jpg);  font-family:Tahoma, Geneva, sans-serif }
                                                        

/*Angular classes*/
input.ng-invalid.ng-dirty, select.ng-invalid.ng-dirty {
    background-color: #FF4646;
    border: 1px solid red;
  }
  .error-msg i
{
  color: red;
}

.error {
    background-color: #FF4646;
    border: 1px solid red;
  }
/*Angular classes*/

.box {
    margin:0 auto; 
    width:320px; 
    text-align:center;

}

.box-text-top{
    float: left;
    padding: 15px;
    width: 100%;
}
.box-text-bottom{
    bottom: 15px;
    left: 35%;
    position: absolute;
}

 select:hover 
  { 
    background-color: white; 
    color:#000;
  }

.box #boxarrow{width:320px; height:190px;  }
.asterisk:after {  content:"*";color:red;}
.padding-align{
    padding: 14px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type=number] {
-moz-appearance:textfield;
}
table.text-center th {
  text-align: center;
}
table tr.align-top th, td{
  vertical-align: top;

}


/* ankush code start */
.container-box{
    padding: 8px 25px;
    margin-top:  10px;
    margin-bottom:  10px;
    display: block;
    line-height: 1.429;
    background-color: #fff;
    border: 4px solid #000;
    border-radius: 27px;
    transition: all 0.2s ease-in-out 0s;
}

.thumbnail2 {
      display: block;
      padding: 24px;
      margin-bottom: 20px;
      line-height: 1.429;
      background-color: #fff;
      border: 2px solid #000;
      border-radius: 27px;
      transition: all 0.2s ease-in-out 0s;
      /*width: 474px;*/
    }

 .sub-header
   {
      background: none repeat scroll 0 0 #300000;
      /*border-radius: 10px;*/
      color: #fff;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 18px;
      margin-bottom: 20px;
      padding: 4px 8px;
    }
 .nav-pills.login
   {
    float:right;
   }
 
 
 /* ankush code end */

.color-brown{color: #A52A2A !important; }
.color-red{ color: #f00 !important; }
.color-green{ color:green;}
.color-white{ color: #fff !important; }
.color-radish{ color:#903;}
.color-blue { color: #2076A7 !important; }

.terms a{ text-decoration: underline; }
.terms a:hover{ text-decoration: none; }
.borderless td, .borderless th, .borderless tr {    border: none !important; }
.table-text-center th, .table-text-center td {    text-align: center;}
tr.tr-disabled {
  background-color: #E6E6E6;
}

/*a:hover{ text-decoration:none}*/
ul, li{ margin:0; padding:0}
i { width: 1em;  height: 1em;  cursor: pointer;}
[class^=cu-], [class*=cu-]{ background:url(../img/sprit.png) no-repeat; display:inline-block}
.cu-facebook{ width:82px; height:23px}
.cu-twitter{ width:25px; height:23px; background-position:-86px 0}
.active{ background:none}
.logo{ font-size:30px; color:#fff; font-family:Arial, Helvetica, sans-serif;/*height:120px;*/}
.navbar-nav > li > a{ padding:inherit}
#mobile-menu{ padding:0}
.nav>li>a:hover, .nav>li>a:focus{ background:none;}
.active a{ font-weight:bold; color:#ffbb9e !important; background:none !important}
.menu{ margin-bottom:20px; }
.menu ul{ padding-top:5px}
.menu ul li, .footer ul li{ list-style-type:none; margin:0 6px}
.menu ul li:first-child, .footer ul li:first-child{ margin-left:0}
.menu ul li a, .footer ul li a{ color:#fff; /*font-family:'BerlinSansFB-Reg';*/ font-size: 15px;}
.dropdown-menu li a{ color:#595050 !important;}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{color:#262626 !important;text-decoration:none;background-color:#f5f5f5 !important}
.footer{}
.footer ul li{ color:#fff; margin:0 }
.footer ul li a{ font-size:13px; padding: 0 5px; line-height:15px }
.back-circle{ width:450px; height:450px; border-radius:225px; background:#300000; border:5px solid #fff; -webkit-transition:all ease 2s; position:relative}
.back-circle:hover{ }
.white .thumbnail{ background:#124c75;  color:#fff;}
.text-white{color:#fff;}
.contents .thumbnail{  padding:10px 15px; border-radius:16px}
.circle-middle{ width:50px; height:320px; border-radius:10px; background:#fff; position:absolute; left:0; right:0; margin:60px auto; font-weight:bold; font-size:16px; text-align:center; padding-top:14px}
.res{ position:absolute; width:120px; height:37px; position:absolute; left:0; right:0; margin:0 auto; font-weight:bold; text-align:center; background:#fff; border-radius:100px/30px; padding-top:10px; -webkit-transition:all ease .5s; -ms-transition:all ease .5s;-o-transition:all ease .5s;-moz-transition:all ease .5s;transition:all ease .5s}

.res a{ color:#000;
/* font-family:"Times New Roman", Times, serif; display:block*/
}

.res-bottom{ bottom:14px;}
.res-left{ left:0}
.res-left-0{ top:0; margin-top:14px}
.res-left-1{ margin:70px 0 0 50px}
.res-left-2{ margin:150px 0 0 35px}
.res-left-3{ margin:240px 0 0 34px}
.res-left-4{ margin:327px 0 0 60px}
.res-left-5{ margin:70px 0 0 270px}
.res-left-6{ margin:150px 0 0 290px}
.res-left-7{ margin:240px 0 0 290px}
.res-left-8{ margin:327px 0 0 260px}
.ready h1, .main-header{ color:#fff; margin-bottom:54px;background:#fff; padding:10px; font-family:Arial, Helvetica, sans-serif; background:#300000; font-size: 20px; border-radius:10px; }
.ready form p{ color:#fff; padding-left:5px; /*font-size:18px;*/ font-size:14px}
.ready form p strong{ font-weight:normal; font-family:Arial, Helvetica, sans-serif; font-size:11px}
.ready form select{ margin-bottom:15px}

.main-container p, .main-container table tr{ color:#fff; padding-left:5px; /*font-size:18px;*/ font-size:14px}
.main-container p strong{ font-weight:normal; font-family:Arial, Helvetica, sans-serif; font-size:11px}
.main-container select{ margin-bottom:15px}
.main-head
{
  background-color: #afd2f5;
  width:100%;
  height: 60px;
  border-radius: 10px;
  color:red;
  text-align: center;
  padding-top: 3px;
  font-weight: bold;
  font-size: 32px;
}
.sub-head
{
  background-color: #F5AFC1;
  width:100%;
  height: 60px;
  border-radius: 10px;
  color:red;
  text-align: left;
  padding-top: 11px;
  
  font-size: 28px;
  padding-left: 10px;
}

.blank
{
  height: 85px;
}



.cash-back{}
.cash-back div{ border-right:1px solid #fff; min-height:80px}
.cash-back div:last-child{ border:0}
.cash-back .form-control{ width:140px; display:inline}
.ready form p.black {/* color:#ffbb9e; */padding-left:20px; font-weight:bold; text-decoration:underline}
.black-color { color: #000 !important;  }
.ready form input[type=checkbox]{ margin-top:$7px}
.comm{ padding: 13px;}
.figure img{ margin-bottom:20px; width:100%}

.navbar-toggle .icon-bar{ width:30px; height:3px; background:#fff; display:block; margin:6px}
.menu form .fa{ position:absolute; right:0; color:#000; margin:9px; z-index:111}
.confirmation h1, .confirmation h2{ }
.confirmation h2{ font-size:20px}
.confirmation p{ }
.confirmation .white{ background:#fff; overflow:hidden; padding:20px}
.confirmation button{background: rgba(0, 0, 0, 0);border: 0; float:left}
.fapaypal{ background:url(../img/paypal.jpg) no-repeat; width:112px; height:32px; display:inline-block}
.order h1{ color:#f00}
.navbar-toggle{ float:left ; background-color:#DDD;}
ul.login ul li{ display:inline-block !important; float:left !important}
/*.hide-mobile{ display:none}*/
.footers{ margin-top:30px}
.lead {font-size: 18px;}
.category, .sub-category { cursor: pointer;}
.category { margin-bottom:15px;}
.sub-category {padding-left:15px ; margin-top:15px;}
.card-board{background-color:#AFD2F5; border-radius:16px; padding: 15px 5px; }

.EARNED { color: #006400 !important;}
.USED, .LOST { color: #d43f3a !important; }
.AG-RETURNTOCARD { color: #d43f3a !important; }

@media screen and (min-width:1024px) and (max-width:2400px){
.res:hover{ -webkit-transform:scale(1.1,1.1); -moz-transform:scale(1.1,1.1); -ms-transform:scale(1.1,1.1); -o-transform:scale(1.5,1.5); transform:scale(1.1,1.1); background:  #34DDDD ; color:#fff; box-shadow:0 0 0 1px #fff, 0 0 0 4px #34DDDD}
.res:hover a{ color:#fff; font-weight:normal;}
.responsive-padding{padding-bottom:10px;}
}


@media screen  and (min-width:990px) and (max-width:1343px){.back-circle{ width:380px; height:394px}

.res-left-1{ margin:70px 0 0 34px}
.res-left-2{ margin:134px 0 0 20px}
.res-left-3{ margin:200px 0 0 18px}
.res-left-4{ margin:260px 0 0 34px}
.res-left-5{ margin:70px 0 0 217px}
.res-left-6{ margin:134px 0 0 232px}
.res-left-7{ margin:200px 0 0 232px}
.res-left-8{ margin:260px 0 0 217px}

.circle-middle{ height:264px; font-size:13px}.res{ font-size:11px}
.responsive-padding{padding-bottom:10px;}
}
@media (max-width:1023px){.navbar-nav > li > a{}.back-circle{ margin:20px auto;}.footer{ text-align:center; padding-bottom:20px}.footer .nav-pills > li{ float:none; display:inline-table;}
.nav-pills > li{ display:block; float:none; padding:10px 0; border-bottom:1px solid #fff}
ul.login > li{ display:inline-block ; float:left; padding:0; border:0 }
.menu ul li:first-child, .footer ul li:first-child{ margin-left:10px}.menu .input-group { margin:13px 10px;}.menu .input-group-addon:first-child{ display:none}/*.menu nav:before{ content:"Menu"; font-size:20px; color:#fff; border-bottom:5px solid #fff; padding-bottom:10px; margin-bottom:20px; margin-left:10px; margin-right:10px; display:block}.menu form:before{ content:"Google Search"; color:#fff; display:block; margin:40px 0 0 10px;  font-size:20px*/ 
.footer .nav-pills > li{ border:none}.menu img{ max-width:100%}.navbar-collapse{ padding-left:-15px; padding-right:-15px;} #mobile-menu{ padding:0 -15px}.form{ /*margin-top:15px*/}ul.login{ float:right}.res:hover:{-webkit-transform:none; -moz-transform:none; -ms-transform:none; -o-transform:none;transform:none;}

.box #boxarrow{width:310px;}
.responsive-padding{padding-bottom:10px;}
}
@media (max-width:767px){[class*=col-]{ position:static}.ready form p{ font-size:14px; line-height:16px}.ready form input[type="checkbox"]{ margin-top:2px}.form-control{ margin-bottom:20px}#mobile-menu{padding:0 28px}.menu ul li{ border-bottom:1px solid #fff; padding:5px 0}ul.login ul li{ display:inline-block !important; float:center !important}.form{ /*position:absolute; top:0; left:0; right:0; margin:9px 4px 0*/}ul.login{ float:right; position:absolute; top:0; margin-top:50px; right:0}.logo{ text-align:center;}.menu ul li{ border:0}.navbar-toggle{ margin:-6px 0 0 11px; padding:0}.cash-back div{ border-right:0; min-height:inherit; }.ready .row{  margin-top:-12px; margin-bottom:-12px; }.footer .nav-pills > li{ padding:0}
.box #boxarrow{max-width:225px; max-height: 200px; font-size: 12px;}
.box-text-top{padding: 42px 10px 0px 10px}
.ready h1, .main-header{font-size: 17px;}
.box-text-bottom{bottom: 42px;}
.main-header{font-size: 22px;}
.main-head{font-size: 22px;}
}
@media (max-width:479px){.back-circle{ width:290px; height:290px}
.circle-middle{ width:34px; height:160px; font-size:11px; line-height:12px; padding-top:2px}
.res{ width:100px; height:30px; padding-top:8px; font-size:11px}
.res-left-1{ margin: 60px 0px 0px 18px;}
.res-left-2{ margin: 105px 0px 0px 6px;}
.res-left-3{ margin: 148px 0px 0px 11px;}
.res-left-4{ margin: 190px 0px 0px 21px;}
.res-left-5{ margin:60px 0 0 161px !important;}
.res-left-6{ margin:105px 0 0 170px !important;}
.res-left-7{ margin:148px 0 0 167px !important;}
.res-left-8{ margin:190px 0 0 158px !important;}


/*ul.login{ margin-top:90px}.logo{ text-align:center}*/

.box #boxarrow{max-width:220px; max-height: 140px; font-size: 10px;}
.box-text-top{padding: 15px;}
.box-text-bottom {bottom: 25px;}
.responsive-padding{padding-top:10px; padding-bottom:10px;}
.ready .row { margin-bottom: 0px; margin-top: 0px; }
.form-control{ margin-bottom:0px}
.main-header{font-size: 21px;}
}

@media screen and (max-width: 980px)  and (min-width: 450px) {
  .figure img{ margin-bottom:20px; width:47% ; margin-left:2%}
    
}

@media screen and (max-width: 1015px)  and (min-width: 480px) {
  .figure img{ margin-bottom:20px; margin-left:2%}
    
}

@media screen and (max-width: 1200px)  {
.menu ul li a, .footer ul li a {
        font-size: 14px;
}
}
@media screen and (max-width: 767px)  and (min-width: 320px) {
 .cu-twitter {
    width: 35px;
    height: 23px;
    background-position: -86px 0px;
} 

ul.login{ margin-top:41px}
.logo{ text-align:center}

}
@media screen and (max-width: 1200px)  and (min-width: 767px) {
/*.ready form p{ font-size:17px}*/
.btn-margin1{ margin-top:20px}
}

/*@media screen and (max-width: 1197px)  and (min-width: 774px) {
.btn-margin1{ margin-top:20px}
}*/
@media screen and (max-width:768px)  and (min-width: 320px) {
.navbar-nav{
       background-color: #2D2F33;
     /*  background-image: url('modules/card/img/graphite-menu-bg.png');*/
 }



 .active a{
      color: #6F7DBC !important;
}
 .nav > li {
    position: relative;
    display: block;
    border-bottom: 2px solid  !important;
    border-top: 1px solid #777;
    text-shadow: 1px 1px 1px #333;
    text-align:center;
}
}

/*@media screen and (max-width: 1197px)  and (min-width: 774px) {
.btn-margin1{ margin-top:20px}
}*/
@media screen and (max-width:360px)  and (min-width: 320px) {

  .main-head
  {
    font-size: 18px;
    padding-top: 17px;
  }
}
@media screen and (max-width:800px)  and (min-width: 768px) {

  .main-head
  {
    font-size: 30px;
    padding-top: 10px;
  }
}

.long-box
{
  width:100%;
 
  border:2px solid #fff;
  margin:2px;
}
.long-box-head
{
  background-color: #E1FAF8;
  width: 100%;
  height: 49px;
    /* border-radius: 10px; */
  color: #ff0000;
  text-align: left;
  padding-top: 7px;
 font-weight: 400;
  font-size: 12px;
  padding-left: 10px;
  font-family: Tahoma, Geneva, sans-serif;
}

.long-box-head-green
{
  background-color: #E1FAF8;
  width: 100%;
  height: 40px;
    /* border-radius: 10px; */
  color: #ff0000;
  text-align: left;
  padding: 9px 0px 0px 15px;
  font-weight: bold; 
  font-size: 14px;

}

.long-box-head-green-round
{
  background-color: #E1FAF8;
  width: 100%;
  height: 40px;
    /* border-radius: 10px; */
  color: #ff0000;
  text-align: left;
  padding: 1px 0px 0px 15px;
  font-weight: bold; 
  font-size: 14px;

}


.long-box-head-red
{
      background-color: #FAE1E3;
    width: 100%;
    height: 40px;
    /* border-radius: 10px; */
    color: #ff0000;
    text-align: left;
    padding-top: 3px;
    /* font-weight: bold; */
    font-size: 22px;
    
}
.pad
{
  padding-left:9px;
  padding-right:9px;
}
.pad-left
{
  padding-left:23px;
}
.tab {
  border: 2px solid #FFF;
  border-radius: 10px;
  
}
.tab-noradious {
  border: 1px solid white;
  border-radius: 5px;
  
}

  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
  .textBox
  {
    resize: vertical;
 
    overflow: auto;
    border: 1px solid black;
    border-radius: 13px;
  }
  .viewbox
  {
    border:1px solid;
    background:white;
    border-radius:15px;
    height: 130px; /* Fix a height here */
    overflow: auto;
    margin:0px;
    padding: 6px;
  }
  .pricebox
  {
    width: 33%;
    color: black;
    text-align: center;
    border:1px solid #ccc;
    border-radius: 4px;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
  }.text-field-size
  {
    width:160%;
  }
  .active
  {
    background-color: #f0ad4e !important;
    border-color: #eea236 !important;
  }
  .imgbox
  {
    width:30%;
  }
  .yellow-bold{color:yellow; font-weight: bold;}
  .bg-btn{padding: 7px 16px!important;}
  .btn-cross1{    position: absolute;
    top: 6px;
    right: 15px;

}
.btn-cross2{    position: absolute;
    top: 6px;
    right: 15px;
    float:left;
    left:263px;
    
}
.btn-cross3{    position: absolute;
    top: 6px;
    right: 15px;
    float:left;
    left:324px;
    
}
.nostyle 
{
  list-style: none;
}

.datebox
{
   width: 77%;
    color:#555;background-color:#fff;                                                                                                                                                                                                                                                                                                                                                                                                 
    text-align: justify;
    border:1px solid #ccc;
    padding: 6px 12px;
    border-radius: 4px;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,
    -webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.datebox:focus{border-color:#66afe9;
  outline:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
           
                    


.icon-calendar
{
  background: url('/modules/controller/img/cal.png') no-repeat; 
  width:34px;
  height:36px;
  position: absolute;
    float: right;
    right: 18px;
    bottom: -2px;
    border:1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}
.pricebox1
  {
    width: 22%;
    color: black;
    text-align: center;
    border:1px solid #ccc;
    border-radius: 4px;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
  }
  #logobox
  {
    width:20%;
    
  }
  .bold
  {
    font-weight: bold;
  }
  .long-box-red-round{
    background-color: #F5AFC1;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  color: red;
  text-align: left;
  padding-top: 11px;
  font-size: 14px;
  padding-left: 10px;
  font-weight: bold;
}
.captiliase 
{
  text-transform: capitalize;
}
.content-box
{
  display: block;
  width:100%;
  min-height: 300px;
  border:1px solid #fff;
  border-radius: 13px;
  padding: 14px;
}
.anchorlink
{
  color:#fff;
  cursor: pointer;
}
.anchorlink:hover
{
  color:#fff;
  text-decoration: underline;
}
.anchorlinkblack
{
  color:#000;
  cursor: pointer;
}
.anchorlinkblack:hover
{
  color:#000;
  text-decoration: underline;
}
.nav-tabs{margin-bottom: 15px;}

/*-------------------AngularJS & jQuery UI Datepicker starts-----------------------------*/
.datepicker-container{position: relative;padding: 6px;float: left;border-radius: 2px;margin-bottom: 8px;}
/*.datepicker-container.ng-invalid-datepicked{background-color: #F8C4C4;border: 1px solid #C28080;}
.datepicker-container.ng-valid-datepicked{background-color: #DDFBCD;border: 1px solid #A6C297;}
*/.plugin{position: absolute;z-index: 1;}
 .date-picked{color: #5D7A4E;}
.calendar-icon:before{content: 'Pick Date';}
/*-------------------AngularJS & jQuery UI Datepicker ends-----------------------------*/

.pull_left
{
  float:left; 
  padding-top:7px;
}
.bold
{
  font-weight: bold;
}
.sort_text
{
  color:#fff;
  text-decoration: none;
}
.sort_text:hover
{
  color:#fff;
  text-decoration: none;
}
.sort_text:visited
{
  color:#fff;
  text-decoration: none;
}
