.search-area{border-radius:6px; border:2px solid #FFF; padding:3px;  color:  #FFF;}

.left-button{ background-color:#afd2f5;}
.left-button a{ color:black; font-family:initial; font-size:14px; font-weight:bold;  margin:10px;}
.vag-btn{ margin:0px;}
.aside{margin:5px; background-color:#AFD2F5; border-radius:10px;}

/*triangle btn css */
.triangle{ width: 115px; height: 30px; }
.triangle .arrleft {padding: 5px; width: 135px; background-color: #5cb85c; height: 30px; float: left;}
.triangle .arrright {height: 0px; border-style: solid; border-color: transparent transparent transparent #5cb85c; border-width: 15px 0px 15px 36px; margin: 20px 135px;	 }

.triangle .arrleft1 { padding: 5px; width: 110px; background-color: #5cb85c; height: 30px; float: left;}
.triangle .arrright1 {height: 0px; border-style: solid; border-color: transparent transparent transparent #5cb85c; border-width: 15px 0px 15px 37px; margin: 0px 110px; }

.active .arrleft1 {background: #eea236 !important;}
.active .arrright1 {border-color: transparent transparent transparent #eea236 !important; }

.active .arrleft {background: #eea236 !important;}
.active .arrright {border-color: transparent transparent transparent #eea236 !important; }


/*small triangle btn css*/
.triangle .arrleft3 { padding: 5px; width: 135px; background: #eea236; height: 30px; float: left;}
.triangle .arrright3 {height: 0px; border-style: solid; border-color: transparent transparent transparent #eea236; border-width: 15px 0px 15px 36px; margin: 0px 135px;}
	 
.triangle .arrleft2 { padding: 5px; width: 110px; background: #eea236; height: 30px; float: left;}
.triangle .arrright2 {height: 0px; border-style: solid; border-color: transparent transparent transparent #eea236; border-width: 15px 0px 15px 37px; margin: 0px 110px; }

.triangle .arrleft:hover, .triangle .arrleft1:hover, .triangle .arrleft2:hover {
	background-color: #449d44;
	
}
.triangle .arrright:hover, .triangle .arrright1:hover, .triangle .arrright2:hover{
border-color: transparent transparent transparent #449d44;
}

.product { text-align:center; padding:15px; color: #000; cursor: pointer; }
.product div {color: #000 !important; border-radius:20px; padding: 10px ;}
.product p { font-size:16px;}
.product p.lead { font-size: 21px; font-weight: bold;}


.user-detail{background-color:#FFF; border-radius:10px; padding: 10px;}
.consumer-detail{ color:white; font-family:"Times New Roman", Times, serif; font-size:18px;}




.checkout-card .lead-head {
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}


.width80{ width: 80px !important; }
.width100{ width: 100px !important; }
.width150{ width: 150px !important; font-weight: bold; }
.padding-bottom-5{ padding-bottom: 5px !important; }

.receipt {
	background-color: white;
    border: 1px solid #000;
    border-radius: 20px;
}

.return-img {
    width: 150px;
}

.catalog-header a.active, .catalog-header a:hover {
	background-color: #f0ad4e !important;
	border-color: #eea236 !important;
}
/*16 Sepetember*/
.table1>thead>tr>th, .table1>tbody>tr>th, .table1>tfoot>tr>th, .table1>thead>tr>td, .table1>tbody>tr>td, .table1>tfoot>tr>td
{
    padding: 0px;
    line-height: 1.42857143;
    vertical-align: top;
    /* border-top: 1px solid #ddd; */
        border-spacing: 0;
    border-collapse: collapse;
   
}
.table1>tbody>tr>td>table 
{
	width:345%;
}

#cashcal
{
	color:#FF0000;
	float:left;
	font-weight: bold;
	font-size: 20px;
}

#box1
{
	border:1px solid #2471A7;
	width:60px;
	background-color: #BCBCBC;
	border-radius: 3px;
    text-align: center;
}
#box2
{
	border:1px solid #2471A7;
	width:60px;
	background-color: #8C8E1B;
	border-radius: 3px;
    text-align: center;
}
#box3
{
	border:1px solid #2471A7;
	width:60px;
	
	border-radius: 3px;
    text-align: center;
}
#cash-calculator
{
	padding: 14px 15px;
    display: block;    
    background-color: #fff;
    border: 4px solid #000;
    border-radius: 20px;
    transition: all 0.2s ease-in-out 0s;
    width: 273px;
}
.long-box
{
  width:100%;
 
  border:2px solid #fff;
  margin:2px;
}
.long-box-head
{
  background-color: #E1FAF8;
  width: 100%;
  height: 40px;
    /* border-radius: 10px; */
  color: #ff0000;
  text-align: left;
  padding-top: 0px;
    /* font-weight: bold; */
  font-size: 22px;
  padding-left: 10px;
}

.long-box-head-light-green
{
  background-color: #E1FAF8;
  width: 100%;
  height: 40px;
     border-radius: 10px; 
  color: #333333;
  text-align: left;
  padding-left:10px;
  padding-top: 7px;
    /* font-weight: bold; */
  font-size: 20px;
  margin-bottom:54px;
  font-family:Arial, Helvetica, sans-serif;

}

.long-box-head-red
{
      background-color: #FAE1E3;
    width: 100%;
    height: 40px;
    /* border-radius: 10px; */
    color: #ff0000;
    text-align: left;
    padding-top: 3px;
    /* font-weight: bold; */
    font-size: 22px;    
}
.error-text {
  color: red;
  font-style: italic;
  }

.reset-back
{
  
    color: #fff;
    margin-bottom: 54px;
    background:#5CB85C ;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 3px;
    font-weight:bold;


}
/*.input-box
{
      border: 1px solid #fff;


}*/
.error-msg i
{
  color: red;
}
.pull-left
{
  font-size: 14px;
}
.regis-card-from
{
  margin-bottom: 5px;
}

.text1
{
  font-size: 20px;
  color:#fff;
}
.text-filed-resi-card{ float: left;margin-bottom: 3px;}
.btn-cross{float: left;margin-left: -25px;}
.text-red
{
  color:red;
 
}
.tooltips
{
  display: block;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #000;
    color: white;
    float: right;
    position: absolute;
    right: 224px;
    width: 27%;
    top: 124px;
}

.nostyle
{
  list-style: none;
}
/*Angular classes*/

.box {
    margin:0 auto; 
    width:320px; 
    text-align:center;

}

.box-text-top{
    float: left;
    padding: 15px;
    width: 100%;
}
.box-text-bottom{
    bottom: 15px;
    left: 35%;
    position: absolute;
}

 select:hover 
  { 
    background-color: white; 
    color:#000;
  }

.box #boxarrow{width:320px; height:190px;  }
.asterisk:after {  content:"*";color:red;}
.padding-align{
    padding: 14px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type=number] {
-moz-appearance:textfield;
}
table.text-center th {
  text-align: center;
}
table tr.align-top th, td{
  vertical-align: top;

}
.content-box
{
  display: block;
  width:100%;
  min-height: 300px;
  border:1px solid #fff;
}