<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Order notification</title>
	

<style type="text/css">
/* ------------------------------------- 
		GLOBAL 
------------------------------------- */
* { 
	margin:0;
	padding:0;
}
* { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

img { 
	max-width: 100%; 
}
.collapse {
	margin:0;
	padding:0;
}
body {
	-webkit-font-smoothing:antialiased; 
	-webkit-text-size-adjust:none; 
	width: 100%!important; 
	height: 100%;
}

.card p { color: #fff;}

/* ------------------------------------- 
		HEADER 
------------------------------------- */
table.head-wrap { width: 100%;}

.header.container table td.logo { padding: 15px; }
.header.container table td.label { padding: 15px; padding-left:0px;}


/* ------------------------------------- 
		BODY 
------------------------------------- */
table.body-wrap { width: 100%;}


/* ------------------------------------- 
		FOOTER 
------------------------------------- */
table.footer-wrap { width: 100%;	clear:both!important;
}
.footer-wrap .container td.content  p { border-top: 1px solid rgb(215,215,215); padding-top:15px;}
.footer-wrap .container td.content p {
	font-size:10px;
	font-weight: bold;
	
}


/* ------------------------------------- 
		TYPOGRAPHY 
------------------------------------- */
h1,h2,h3,h4,h5,h6 {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; text-transform: none; }

h1 { font-weight:200; font-size: 44px;}
h2 { font-weight:200; font-size: 37px;}
h3 { font-weight:500; font-size: 27px;}
h4 { font-weight:500; font-size: 23px;}
h5 { font-weight:900; font-size: 17px;}
h6 { font-weight:900; font-size: 14px; text-transform: uppercase; color:#444;}

.collapse { margin:0!important;}

p, ul { 
	margin-bottom: 10px; 
	font-weight: normal; 
	font-size:14px; 
	line-height:1.6;
}
p.lead { font-size:17px; }
p.last { margin-bottom:0px;}




/* --------------------------------------------------- 
		RESPONSIVENESS
		Nuke it from orbit. It's the only way to be sure. 
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
	display:block!important;
	max-width:600px!important;
	margin:0 auto!important; /* makes it centered */
	clear:both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
	padding:15px;
	max-width:600px;
	margin:0 auto;
	display:block; 
}

/* Let's make sure tables in the content area are 100% wide */
.content table { width: 100%; }

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear { display: block; clear: both; }


/* ------------------------------------------- 
		PHONE
		For clients that support media queries.
		Nothing fancy. 
-------------------------------------------- */
@media only screen and (max-width: 600px) {
	
	a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}

	div[class="column"] { width: auto!important; float:none!important;}
	
	table.social div[class="column"] {
		width:auto!important;
	}

}
</style>

</head>
 
<body bgcolor="#FFFFFF">


<table bgcolor="#999999">
	<tbody><tr>
		<td></td>
		<td>
				
				<div>
				<table bgcolor="#999999">
					<tbody><tr>
						<td align="center"><img src="https://ci4.googleusercontent.com/proxy/t1uH4YKnPd6PqPNCYPJ85Kp_yO73LoYKTC1D5GHkYwg9zlIn8BWRmAk7IVCR2YYkbQ=s0-d-e1-ft#http://placehold.it/200x50/" class="CToWUd"></td>
					</tr>
				</tbody></table>
				</div>
				
		</td>
		<td></td>
	</tr>
</tbody></table>



<table>
	<tbody><tr>
		<td></td>
		<td bgcolor="#FFFFFF">

			<div>
			<table>
				<tbody>
				<tr>
					<td>
						<p style="text-align:left"><strong style="color:#f00">Thank you for your order!!!</strong><br>
						Your order has been successfully processed.

						</p>

					</td>
				</tr>
				<tr>
					<td>
						<table>
							<tr>
								<td><p class="lead">Order Details: <%= order.orderId %></p></td>
							</tr>

							<% order.cards.forEach(function(card){ %>
							<tr bgcolor="#124c75" class="card">
								<td style="padding:20px;border-radius: 10px;">
									<table width="660">
										<tr>
											<td width="60%">
												<table>
													<tr>
														<td><p style="color:#fff;"><b>Card Belongs To</b></p></td>
														<td><p style="color:#fff;"><%= department.name %>, <%= department.address %></p></td>
													</tr>
													<tr>
														<td><p style="color:#fff;"><b>Your selected card is</b></p></td>
														<td><p style="color:#fff;"><%= card.cardId.name %></p></td>
													</tr>
													<tr>
														<td colspan="2"><p class="lead" style="color:#fff;"><b> Recipient Details</b><p> </td>
													</tr>
													<tr>
														<td><p style="color:#fff;"><b>Name</b></p></td>
														<td><p style="color:#fff;"><%= card.user.name %></p></td>
													</tr>
													<tr>
														<td><p style="color:#fff;"><b>Email</b></p></td>
														<td><p style="color:#fff;"><%= card.user.email %></p></td>
													</tr>
												</table>
											</td>
											<td width="40%" align="center" style=" background:url(<%= siteurl %>/images/cards/MAIL-<%= card.cardId.image %>) no-repeat center; width:100%; height:190px; display:block; margin:0 auto;">
			<p style="padding-top: 26px;padding-left:2px;color:#fff">
							<%= card.cardId.name %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;
							<%= department.name %><span></p><br>
														<p style="padding-top: 48px;color: #fff;"><%= card.user.name %></p>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<% }); %>
							
							
							<tr><td><p></p></td></tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<p style="text-align:left">
						<strong> Thank You,</strong><br>
						<%= company.name %>
						</p>
						<p style="text-align:left;font-size:12px">
						<%- company.dic_getcard %>
						<strong>Disclaimer</strong> &ndash; India Sweets and Spices, Canoga Park and<%= company.name %> is not responsible for Lost or Stolen cards or for any fraudulent transactions.  A new card will not be replaced for a lost or stolen card.
						</p>
					</td>
				</tr>
			</tbody></table>
			</div>
									
		</td>
		<td></td>
	</tr>
</tbody></table>


<table>
	<tbody><tr>
		<td></td>
		<td>
			
				
				<div>
				<table>
				<tbody><tr>
					<td align="center">
						<p>
							<a href="#14ccb2543da1eecf_">Terms</a> |
							<a href="#14ccb2543da1eecf_">Privacy</a> |
							<a href="#14ccb2543da1eecf_"><u></u>Unsubscribe<u></u></a>
						</p>
					</td>
				</tr>
			</tbody></table>
				</div>
				
		</td>
		<td></td>
	</tr>
</tbody></table><div class="yj6qo"></div><div class="adL">

</div></body>
</html>