<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Order Notification</title>


<style type="text/css">
/* ------------------------------------- 
		GLOBAL 
------------------------------------- */
* { 
	margin:0;
	padding:0;
}
* { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

img { 
	max-width: 100%; 
}
.collapse {
	margin:0;
	padding:0;
}
body {
	-webkit-font-smoothing:antialiased; 
	-webkit-text-size-adjust:none; 
	width: 100%!important; 
	height: 100%;
}
.receipt {
	background-color: white;
    border: 1px solid #000;
    border-radius: 20px;
}

/* ------------------------------------- 
		HEADER 
------------------------------------- */
table.head-wrap { width: 100%;}

.header.container table td.logo { padding: 15px; }
.header.container table td.label { padding: 15px; padding-left:0px;}


/* ------------------------------------- 
		BODY 
------------------------------------- */
table.body-wrap { width: 100%;}


/* ------------------------------------- 
		FOOTER 
------------------------------------- */
table.footer-wrap { width: 100%;	clear:both!important;
}

.parent-table tr, .child-table tr { border : 1px dotted !important;}
.footer-wrap .container td.content  p { border-top: 1px solid rgb(215,215,215); padding-top:15px;}
.footer-wrap .container td.content p {
	font-size:10px;
	font-weight: bold;
	
}


/* ------------------------------------- 
		TYPOGRAPHY 
------------------------------------- */
h1,h2,h3,h4,h5,h6 {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; text-transform: none; }

h1 { font-weight:200; font-size: 44px;}
h2 { font-weight:200; font-size: 37px;}
h3 { font-weight:500; font-size: 27px;}
h4 { font-weight:500; font-size: 23px;}
h5 { font-weight:900; font-size: 17px;}
h6 { font-weight:900; font-size: 14px; text-transform: uppercase; color:#444;}

.collapse { margin:0!important;}

p, ul { 
	margin-bottom: 10px; 
	font-weight: normal; 
	font-size:14px; 
	line-height:1.6;
}
p.lead { font-size:17px; }
p.last { margin-bottom:0px;}




/* --------------------------------------------------- 
		RESPONSIVENESS
		Nuke it from orbit. It's the only way to be sure. 
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
	display:block!important;
	max-width:600px!important;
	margin:0 auto!important; /* makes it centered */
	clear:both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
	padding:15px;
	max-width:600px;
	margin:0 auto;
	display:block; 
}

/* Let's make sure tables in the content area are 100% wide */
.content table { width: 100%; }

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear { display: block; clear: both; }


/* ------------------------------------------- 
		PHONE
		For clients that support media queries.
		Nothing fancy. 
-------------------------------------------- */
@media only screen and (max-width: 600px) {
	
	a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}

	div[class="column"] { width: auto!important; float:none!important;}
	
	table.social div[class="column"] {
		width:auto!important;
	}

}
</style>
</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#999999">
	<tr>
		<td></td>
		<td class="header container" >
				
				<div class="content">
				<table bgcolor="#999999">
					<tr>
						<td align="center"><img src="http://placehold.it/200x50/" /></td>
					</tr>
				</table>
				</div>
				
		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>

		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table class="parent-table" width="100%" style="border-collapse: collapse;">
				<tr>
					<td><p>Order Notification.</p></td>
				</tr>
				<tr>
					<td>
						<table class="child-table" style="width:100%">
							<% order.items.forEach(function(item, index){ %>
							<tr>
								<td>
									<table style="width:100%">
										<tr>
											<td width="36%"><%= item.name %></td>
											<td width="14%"><% if(!item.lb) { %> <span><%= item.quantity %> </span> <% } %></td>
											<td width="35%">
												<% if(!item.lb) { %>
													<span><%= item.amount %></span>
												<% } %>
											</td>
											<td width="15%"><% if(item.tax) { %> <span>T</span> <% } %></td>
										</tr>
										<% if(item.lb) { %>
										<tr>
											<td width="36%"><%= item.quantity %> lb</td>
											<td width="14%"><%= item.pUAmount %>/lb</td>
											<td width="35%">$<%= parseFloat(item.amount).toFixed(2) %> </td>
											<td width="15%">
												<% if(item.tax) { %>
													<span>T</span>
												<% } %>
											</td>
										</tr>
										<% } %>

										<% if(item.price && item.price.d_s_p) { %>
										<tr>
											<th colspan="4" class="text-center"> Discount $<%= parseFloat((item.price.s_p- item.price.d_s_p) * item.quantity).toFixed(2)   %></th>
										</tr>
										<% } %>
									</table>
								</td>
								
							</tr>
							<% }); %>

						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table class="child-table" width="100%" style="border-collapse: collapse; ">
							<tr>
								<td width="36%">SubTotal Amount </td>
								<td width="14%"></td>
								<td width="35%"><%= parseFloat(order.subTotal.toFixed(2)) %></td>
								<td width="15%"></td>
							</tr>
							<tr>
								<td width="36%">Tax (9%) </td>
								<td width="14%"></td>
								<td width="35%"><%= parseFloat(order.tax.toFixed(2)) %></td>
								<td width="15%"></td>
							</tr>
							<tr>
								<td width="36%">Grand Total Amount  </td>
								<td width="14%"></td>
								<td width="35%"><%= parseFloat(order.grandTotal.toFixed(2)) %></td>
								<td width="15%"></td>
							</tr>
							
						</table>
					</td>
				</tr>

				<% order.cards.forEach(function(card, index){ %>
				<tr>
					<td>
						<% if(card.type == 'cashback') { %>
						<table class="child-table" width="100%" style="border-collapse: collapse;">
							<tbody>
								<tr>
			                        <td width="36%"><%= card.cardId.name %> </td>
			                        <td width="14%"></td>
			                        <td width="35%"><%= card.no %></td>
			                        <td width="15%"></td>
			                    </tr>
			                    <tr>
			                        <td width="36%">Cashback Earned </td>
			                        <td width="14%"></td>
			                        <td width="35%">$<%= parseFloat((card.order.cashback.earned) ? card.order.cashback.earned : 0.00).toFixed(2) %></td>
			                        <td width="15%"></td>
			                    </tr>
			                    <tr>
			                        <td width="36%">Cashback Used</td>
			                        <td width="14%"></td>
			                        <td width="35%">$<%= parseFloat((card.order.cashback.used) ? card.order.cashback.used : 0.00).toFixed(2) %></td>
			                        <td width="15%"></td>
			                    </tr>
			                    <tr>
			                        <td width="36%">Cashback Balance</td>
			                        <td width="14%"></td>
			                        <td width="35%">$<%= parseFloat(card.cashback.balance - card.order.cashback.used + card.order.cashback.earned).toFixed(2) %></td>
			                        <td width="15%"></td>
			                    </tr>
			                    <tr>
			                        <th width="36%"> Payment Balance </th>
			                        <th width="14%"></th>
			                        <th width="35%">$<%= parseFloat(card.grandTotal - card.order.cashback.used).toFixed(2) %></th>
			                        <th width="15%"></th>
			                    </tr>
							</tbody>
						</table>
						<% } %>

						<% if(card.type == 'points') { %>
						<table class="child-table" width="100%" style="border-collapse: collapse;">
							<tbody>
								<tr>
			                        <td width="36%"><%= card.cardId.name %> </td>
			                        <td width="14%"></td>
			                        <td width="35%"><%= card.no %></td>
			                        <td width="15%"></td>
			                    </tr>
			                    <tr>
			                        <td width="36%">Points Earned </td>
			                        <td width="14%"></td>
			                        <td width="35%"><%= card.order.points.earned %></td>
			                        <td width="15%"></td>
			                    </tr>
			                    <tr>
			                        <td width="36%">Points Used</td>
			                        <td width="14%"></td>
			                        <td width="35%"><%= card.order.points.used %></td>
			                        <td width="15%"></td>
			                    </tr>
			                    <tr>
			                        <td width="36%">Points Balance</td>
			                        <td width="14%"></td>
			                        <td width="35%"><%= card.points.balance - card.order.points.used + card.order.points.earned %></td>
			                        <td width="15%"></td>
			                    </tr>
			                    <tr>
			                        <th width="36%"> Payment Balance </th>
			                        <th width="14%"></th>
			                        <th width="35%">$<%= parseFloat(card.grandTotal-card.order.points.used).toFixed(2) %></th>
			                        <th width="15%"></th>
			                    </tr>
							</tbody>
						</table>
						<% } %>

						<% if(card.type == 'advantage' || card.type == 'gift') { %>
						<table class="child-table" width="100%" style="border-collapse: collapse;">
							<tbody>
								<tr>
			                        <td width="36%"><%= card.cardId.name %> </td>
			                        <td width="14%"></td>
			                        <td width="35%"><%= card.no %></td>
			                        <td width="15%"></td>
			                    </tr>
			                    <tr>
			                        <td width="36%">Card Balance </td>
			                        <td width="14%"></td>
			                        <td width="35%">$<%= parseFloat(((card.grandTotal > card.balance) ? 0.00 : card.balance - card.grandTotal)).toFixed(2) %></td>
			                        <td width="15%"></td>
			                    </tr>
			                    <tr>
			                        <th width="36%"> Payment Balance </th>
			                        <th width="14%"></th>
			                        <th width="35%">$<%= parseFloat(((card.grandTotal > card.balance) ?  card.grandTotal-card.balance : 0)).toFixed(2) %></th>
			                        <th width="15%"></th>
			                    </tr>
			                   
			                   
							</tbody>
						</table>
						<% } %>
					</td>
				</tr>
				<% }); %>

				<tr>
					<td colspan="2">Bar Code to identify this receipt</td>
				</tr>
				<tr>
					<td colspan="2"><img src="<%= siteurl %>/images/barcode/<%= order.barcode %>.png"></td>
				</tr>
				<tr>
					<td colspan="2">Company Name - Gitcards </td>
				</tr>
				<tr>
					<td colspan="2">Return policy - You may return most new, unopened items sold and fulfilled by giftcards.com within 30 days of delivery for a full refund</td>
				</tr>

			
			</table>
			</div><!-- /content -->
									
		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
			
				<!-- content -->
				<div class="content">
				<table>
				<tr>
					<td align="center">
						<p>
							<a href="#">Terms</a> |
							<a href="#">Privacy</a> |
							<a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>
						</p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->
				
		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>