<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Contact notification</title>


<style type="text/css">
/* ------------------------------------- 
		GLOBAL 
------------------------------------- */
* { 
	margin:0;
	padding:0;
}
* { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

img { 
	max-width: 100%; 
}
.collapse {
	margin:0;
	padding:0;
}
body {
	-webkit-font-smoothing:antialiased; 
	-webkit-text-size-adjust:none; 
	width: 100%!important; 
	height: 100%;
}

/* ------------------------------------- 
		HEADER 
------------------------------------- */
table.head-wrap { width: 100%;}

.header.container table td.logo { padding: 15px; }
.header.container table td.label { padding: 15px; padding-left:0px;}


/* ------------------------------------- 
		BODY 
------------------------------------- */
table.body-wrap { width: 100%;}


/* ------------------------------------- 
		FOOTER 
------------------------------------- */
table.footer-wrap { width: 100%;	clear:both!important;
}
.footer-wrap .container td.content  p { border-top: 1px solid rgb(215,215,215); padding-top:15px;}
.footer-wrap .container td.content p {
	font-size:10px;
	font-weight: bold;
	
}


/* ------------------------------------- 
		TYPOGRAPHY 
------------------------------------- */
h1,h2,h3,h4,h5,h6 {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; text-transform: none; }

h1 { font-weight:200; font-size: 44px;}
h2 { font-weight:200; font-size: 37px;}
h3 { font-weight:500; font-size: 27px;}
h4 { font-weight:500; font-size: 23px;}
h5 { font-weight:900; font-size: 17px;}
h6 { font-weight:900; font-size: 14px; text-transform: uppercase; color:#444;}

.collapse { margin:0!important;}

p, ul { 
	margin-bottom: 10px; 
	font-weight: normal; 
	font-size:14px; 
	line-height:1.6;
}
p.lead { font-size:17px; }
p.last { margin-bottom:0px;}




/* --------------------------------------------------- 
		RESPONSIVENESS
		Nuke it from orbit. It's the only way to be sure. 
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
	display:block!important;
	max-width:600px!important;
	margin:0 auto!important; /* makes it centered */
	clear:both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
	padding:15px;
	max-width:600px;
	margin:0 auto;
	display:block; 
}

/* Let's make sure tables in the content area are 100% wide */
.content table { width: 100%; }

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear { display: block; clear: both; }


/* ------------------------------------------- 
		PHONE
		For clients that support media queries.
		Nothing fancy. 
-------------------------------------------- */
@media only screen and (max-width: 600px) {
	
	a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}

	div[class="column"] { width: auto!important; float:none!important;}
	
	table.social div[class="column"] {
		width:auto!important;
	}

}
</style>
</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#999999">
	<tr>
		<td></td>
		<td class="header container" >
				
				<div class="content">
				<table bgcolor="#999999">
					<tr>
						<td align="center"><img src="http://placehold.it/200x50/" /></td>
						<!-- <td align="right"><h6 class="collapse">Basic</h6></td> -->
					</tr>
				</table>
				</div>
				
		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td><p class="lead">Hi <%= query.fullname %>!!!</p></td>
				</tr>
				<tr>
					<td><p class="lead"><b>Thank you for contacting <%= company.name %> customer care.</b></p></td>
				</tr>
				<tr>
					<td><p>Your request confirmation # <b><%= query.requestNumber %></b></p></td>
				</tr>
				<tr>
					<td>
						<table>
							<tr>
								<td><p><b>Your Full Name:</b></p></td>
								<td><p><%= query.fullname ? query.fullname : 'Not given' %></p></td>

							</tr>
							<tr>
								<td><p><b>Business Unit/ Organization Name:</b></p></td>
								<td><p><%= query.unitname %></p></td>

							</tr>
							<tr>
								<td><p><b>Address Line 1:</b></p></td>
								<td><p><%= query.address1 %></p></td>

							</tr>
							<tr>
								<td><p><b>Address Line 2:</b></p></td>
								<td><p><%= query.address2 ? query.address2 : 'Not given' %></p></td>

							</tr>
							<tr>
								<td><p><b>Address Line 3:</b></p></td>
								<td><p> <%= query.address3 ? query.address3 : 'Not given' %> </p></td>

							</tr>
							<tr>
								<td><p><b>City:	</b></p></td>
								<td><p><%= query.city ? query.city : 'Not given' %></p></td>

							</tr>
							<tr>
								<td><p><b>State:</b></p></td>
								<td><p><%= query.state.name %></p></td>

							</tr>
							<tr>
								<td><p><b>Zip Code:</b></p></td>
								<td><p><%= query.zip ? query.zip : 'Not given' %></p></td>

							</tr>
							<tr>
								<td><p><b>Your Primary Contact Number:</b></p></td>
								<td><p><%= query.contactDetails.primary.number %></p></td>

							</tr>
							<tr>
								<td><p><b>Your Alternate Contact Number:	</b></p></td>
								<td><p><%= query.contactDetails.alternate.number ? query.contactDetails.alternate.number : 'Not given' %></p></td>

							</tr>
							<tr>
								<td><p><b>Your Email Id:</b></p></td>
								<td><p><%= query.email %></p></td>

							</tr>
							<tr>
								<td><p><b>You want to contact us for:</b></p></td>
								<td><p><%= query.contactfor %></p></td>

							</tr>
							<tr>
								<td colspan="2">We may contact you within <b>48 hours</b> either via phone or email.</td>
							</tr>
							<tr>
								<td>
									<p>
										Thank You,<br>
										<%= company.name %>
									</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			
			</table>
			</div><!-- /content -->
									
		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
			
				<!-- content -->
				<div class="content">
				<table>
				<tr>
					<td align="center">
						<p>
							<a href="#">Terms</a> |
							<a href="#">Privacy</a> |
							<a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>
						</p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->
				
		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>