<!DOCTYPE html>
<html lang="en">
  	<head>
	    <title>      <%= title %>	</title>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/modules/controller/css/bootstrap.min.css" rel="stylesheet">
		<link href="/modules/controller/css/custom.css" rel="stylesheet">
		<link href="/modules/controller/css/style.css" rel="stylesheet">
		<link href="/modules/controller/css/controller.css" rel="stylesheet">
		<link href="/modules/controller/css/ngDialog.css" rel="stylesheet">
		<link href="/modules/controller/css/ngDialog-theme-plain.min.css" rel="stylesheet">
		<link href="/modules/controller/css/ngDialog-theme-default.css" rel="stylesheet">	
		<link href="/lib/angularjs-datepicker/src/css/angular-datepicker.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="/lib/jquery-ui/themes/smoothness/jquery-ui.css"/>
	</head>
    <body>     
	<div class="container">
	<div id="spinner" ng-show="enableLoader">
	    <img src="images/ajax-loader.gif" class="ajax-loader"/>
	</div>

<!-- 	<div ng-controller="AlertCtrl" class="alert-message-container text-center container row">
		<div class="col-lg-12">
	  <alert ng-if="alerts" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	  </div>
	</div>
 -->



  		<section ng-include="'/modules/controller/views/console.client.view.header.html'"></section>
		<div class="middle">
		   <!-- Page content -->
		      <section ng-view></section>
		</div>
		  <div class="footers">
		  	<section ng-include="'/modules/controller/views/console.client.view.footer.html'"></section>
		  </div>
	</div>
	
<script type="text/javascript"> window.user = <%- user || 'null' %>; </script>
<script type="text/javascript" src="/lib/js/jquery.js"></script>

  <script language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script language="javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.22/jquery-ui.min.js"></script>

<script type="text/javascript" src="/lib/angular/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<!-- <script type="text/javascript" src="/lib/angular-ui-date/src/date.js"></script> -->

<script type="text/javascript" src="/lib/angular-bootstrap/angular-animate.js"></script>

<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls-0.7.0.js"></script>

<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>


<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="/lib/angular-route-styles/route-styles.js"></script>
<script type="text/javascript" src="/lib/js/script.js"></script>

<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/lib/ngWYSIWYG/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/js/angular-confirm.js"></script>
<script type="text/javascript" src="/lib/Chart/Chart.js"></script>
<script type="text/javascript" src="/lib/angular-chart/angular-chart.js"></script>


<script type="text/javascript" src="/lib/ng-file-upload/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
<script type="text/javascript" src="/lib/ng-file-upload/ng-file-upload.min.js"></script> 
<script type="text/javascript" src="/lib/ngDialog/js/ngDialog.js"></script> 





 
<!-- <script type="text/javascript" src="/lib/js/ui-bootstrap-tpls-0.10.0.min.js"></script> -->


<script type="text/javascript" src="/modules/controller/controller.client.module.js"></script>




<!-- Services --> 
<script type="text/javascript" src="/modules/controller/services/myservice.card.client.service.js"></script>
<script type="text/javascript" src="/modules/controller/services/application.card.client.service.js"></script>
<script type="text/javascript" src="/modules/controller/services/authentication.client.service.js"></script>
<!--Filters-->
<script type="text/javascript" src="/modules/controller/filter/unique.js"></script>
<script type="text/javascript" src="/modules/controller/filter/captilize.js"></script>






<script type="text/javascript" src="/modules/controller/controllers/controller.client.controller.js"></script>
<script type="text/javascript" src="/modules/controller/controllers/add.client.controller.js"></script>
<script type="text/javascript" src="/modules/controller/controllers/update.client.controller.js"></script>
<script type="text/javascript" src="/modules/controller/controllers/sales.tax.view.controller.js"></script>
<script type="text/javascript" src="/modules/controller/controllers/header.controller.js"></script>
<script type="text/javascript" src="/modules/controller/controllers/cont.profile.view.controller.js"></script>
<script type="text/javascript" src="/modules/controller/controllers/cust.profile.view.controller.js"></script>
<script type="text/javascript" src="/modules/controller/controllers/company.view.controller.js"></script>

<script type="text/javascript" src="/modules/controller/controllers/checkout-top-nav.client.controller.js"></script>

<!--
<script type="text/javascript" src="/modules/controller/controllers/checkout/register.card.controller.js"></script>
<script type="text/javascript" src="/modules/controller/controllers/checkout/checkout-order-receipt.client.controller.js"></script>
<script type="text/javascript" src="/modules/controller/controllers/checkout/checkout-order-return-receipt.client.controller.js"></script>
<script type="text/javascript" src="/modules/controller/controllers/checkout/checkout-return.client.controller.js"></script>
<script type="text/javascript" src="/modules/controller/controllers/checkout/confirm.card.controller.js"></script>
<script type="text/javascript" src="/modules/controller/controllers/sales.view.controller.js"></script>
<script type="text/javascript" src="/modules/controller/controllers/add.user.view.controller.js"></script>
<script type="text/javascript" src="/modules/controller/controllers/advertise.view.controller.js"></script>
<script type="text/javascript" src="/modules/controller/controllers/email.send.client.controller.js"></script>
 -->


<script type="text/javascript" src="/modules/controller/config/vendor.client.routes.js"></script>
<link rel="stylesheet" href="/lib/ngWYSIWYG/js/angular-wyswsg.css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<script type="text/javascript" src="/application.js"></script>




<script type="text/javascript" src="/lib/ngWYSIWYG/js/bootstrap-colorpicker-module.js"></script>

<script type="text/javascript" src="/lib/ngWYSIWYG/js/angular-wysiwyg.js"></script>

</body>
</html>
